@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** .clintes_section 
 **
 **                        
.clintes
    margin: 60px 0
    clear: both
    .client-slider
        direction: ltr
        
        .client-img 
            img
                width: 150px
                padding: 20px 40px
                box-shadow: 0px 0px 5px 0px rgba(93, 93, 94, 0.2)
                +user-select(none)
                +transition(all .6s ease-in-out)
                &:hover,&:active
                    box-shadow: -1.414px 1.414px 19px 0px rgba(93, 93, 94, 0.2)
            &.slick-slide
                +user-select(none)
                &:focus 
                    outline: none
                &.slick-active
                    &:focus 
                        outline: none
        .slick-list 
            margin: 40px
            padding: 10px 25px !important
            
