@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** contact_section 
 **
 **
.contact
    .contact_content 
        padding: 20px
        margin: 30px 0
        border-radius: 4px
        &.phone
            background-image: -moz-linear-gradient( 90deg, #d3a900 0%, #f5c400 100%)
            background-image: -webkit-linear-gradient( 90deg, #d3a900 0%, #f5c400 100%)
            background-image: -ms-linear-gradient( 90deg, #d3a900 0%, #f5c400 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active
                background-image: -moz-linear-gradient( 90deg, #f5c400 0%, #d3a900 100%)
                background-image: -webkit-linear-gradient( 90deg, #f5c400 0%, #d3a900 100%)
                background-image: -ms-linear-gradient( 90deg, #f5c400 0%, #d3a900 100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            .contact_img 
                margin-bottom: 20px
            .contact-title
                color: #fff
                text-decoration: none
                margin-top: 10px
                font-weight: 600
                font-size: 16px
        &.mail
            background-image: -moz-linear-gradient( 90deg, #1f9e41 0%, #24b84c 100%)
            background-image: -webkit-linear-gradient( 90deg, #1f9e41 0%, #24b84c 100%)
            background-image: -ms-linear-gradient( 90deg, #1f9e41 0%, #24b84c 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active
                background-image: -moz-linear-gradient( 90deg, #24b84c 0%, #1f9e41 100%)
                background-image: -webkit-linear-gradient( 90deg, #24b84c 0%, #1f9e41 100%)
                background-image: -ms-linear-gradient( 90deg, #24b84c 0%, #1f9e41 100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            .contact_img 
                margin-bottom: 20px
            .contact-title
                color: #fff
                text-decoration: none
                margin-top: 10px
                font-weight: 600
                font-size: 16px
        &.ticket
            background-image: -moz-linear-gradient( 90deg, #d13830 0%, #f54138 100%)
            background-image: -webkit-linear-gradient( 90deg, #d13830 0%, #f54138 100%)
            background-image: -ms-linear-gradient( 90deg, #d13830 0%, #f54138 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active
                background-image: -moz-linear-gradient( 90deg, #f54138 0%, #d13830 100%)
                background-image: -webkit-linear-gradient( 90deg,#f54138 0%, #d13830  100%)
                background-image: -ms-linear-gradient( 90deg, #f54138 0%, #d13830  100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            .contact_img 
                margin-bottom: 20px
            .contact-title
                color: #fff
                text-decoration: none
                margin-top: 10px
                font-weight: 600
                font-size: 16px
        &.chat 
            background-image: -moz-linear-gradient( 90deg, #1b5fc4 0%, #1f6fe4 100%)
            background-image: -webkit-linear-gradient( 90deg, #1b5fc4 0%, #1f6fe4 100%)
            background-image: -ms-linear-gradient( 90deg, #1b5fc4 0%, #1f6fe4 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active
                background-image: -moz-linear-gradient( 90deg, #1f6fe4 0%, #1b5fc4 100%)
                background-image: -webkit-linear-gradient( 90deg, #1f6fe4 0%, #1b5fc4 100%)
                background-image: -ms-linear-gradient( 90deg, #1f6fe4 0%, #1b5fc4 100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            .contact_img 
                margin-bottom: 20px
            .contact-title
                color: #fff
                text-decoration: none
                margin-top: 10px
                font-weight: 600
                font-size: 16px
                
  