@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** counters_section 
 **
 **  

.counters
    background: url(../img/background.png) no-repeat
    position: relative
    background-attachment: fixed
    background-position: center top
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    color: #fff
    padding-top: 80px
    .overlay 
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.9
        background-color: #23293a
    .counter-img
        &.grow
            .far
                border: 1px solid rgba(255, 255, 255, 0.2)
                line-height: 150px
                height: 150px
                width: 150px
                font-size: 45px
                -webkit-transform: scale(0.57)
                +transform(scale(0.57))
                transition: -webkit-transform 0.25s
                transition: transform 0.25s
                transition: transform 0.25s, -webkit-transform 0.25s
                +transition(all 0.5s ease-in-out)
            &:not
                &.selected
                    &:hover
                        -webkit-transform: scale(0.62)
                        +transform(scale(0.62))
                    &:active
                        -webkit-transform: scale(0.62)
                        +transform(scale(0.62))
                
            .fas
                border: 1px solid rgba(255, 255, 255, 0.2)
                line-height: 150px
                height: 150px
                width: 150px
                font-size: 45px
                -webkit-transform: scale(0.57)
                transform: scale(0.57)
                transition: -webkit-transform 0.25s
                transition: transform 0.25s
                transition: transform 0.25s, -webkit-transform 0.25s
                +transition(all 0.5s ease-in-out)
            &:hover
                -webkit-transform: scale(2)
                -ms-transform: scale(2)
                transform: scale(2)
                +transition(all 0.5s ease-out)
            &:active
                -webkit-transform: scale(2)
                -ms-transform: scale(2)
                transform: scale(2)
    .counter-desc 
        margin-top: 50px
        margin-bottom: 50px
        h4
            font-weight: 700
            font-size: 30px
        span
            font-weight: 600 
            
