   
.details
    background: #f4f6ff
    .detail-img
        width: 500px
        margin: auto
        margin-bottom: 50px
    .detail-text 
        margin: 0 110px 30px 110px
        margin-bottom: 30px
        color: #4e596b
        font-weight: 500
        line-height: 1.8
        
.btn
    &:active
        box-shadow: none
    &.active
        box-shadow: none
        
.btn-default
    &.active
        &.more 
            background: #fff
            border: none
            border-radius: 50px
            color: #4e596b
            user-select: none
            margin-bottom: 80px
            padding: 10px 30px
            opacity: 1
            +transition(all .15s ease-in-out)
            &:hover
                opacity: 0.8
                color: #4e596b
            &:active
                opacity: 0.8
                color: #4e596b
            

                    
 
@media only screen and (max-width: 767px)
    .details
        .detail-text 
            margin: 0 0 30px