@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** domains_section 
 **
 **   
.domains
    direction: rtl
    background-image: url(../img/sevicebackground.png)
    color: #fff
    .domain
        .domain-tld 
            margin-top: 20px
            .domain-type 
                direction: ltr
                margin-top: 25px
                margin-bottom: 40px
                text-align: center
                .tld-price
                    margin-bottom: 20px  
                    span
                        &.tld
                            font-weight: 700
                            font-size: 16px
                        &.equal
                            font-weight: 500
                            font-size: 16px
                        &.price
                            font-weight: 500
                            font-size: 16px
                            border: none
                            background: transparent
                            color: #fff
        .domain-search 
            text-align: left
            .input-group
                &.add-on 
                    width: 100%
                    position: relative
                    input#srch-term
                        border-radius: 50px 
                        height: 45px
                        font-size: 16px
                        font-weight: 500
                        color: #000
                        text-align: left
                        &:placeholder
                            color: #81a0ec
                    button
                        &.btn
                            &.btn-default
                                border-radius: 50px
                                background: #f9d001
                                border: none
                                color: #fff
                                position: absolute
                                padding: 4px 30px
                                top: 13%
                                right: 7px
                                z-index: 3
                                font-size: 18px
                                font-weight: 500
                                +user-select(none)
                                opacity: 1
                                +transition(all .15s ease-in-out)
                                &:hover
                                    opacity: 0.8
                                    color: #fff
                                &:active
                                    opacity: 0.8
                                    color: #fff
                                    
                                    
.form-control
    &:focus
        box-shadow: none
.btn
    &:focus
        outline: none
        outline-offset: unset
    &:active
        &:focus 
            outline: none
            outline-offset: unset
        &.focus
            outline: none
            outline-offset: unset
    &.active
        &:focus
            outline: none
            outline-offset: unset
        &.focus
            outline: none
            outline-offset: unset
    &.focus
        outline: none
        outline-offset: unset
