@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** features_section 
 **
 **

.features 
    text-align: center
    .img-continer
        span
            &.line
                color: rgba(78, 89, 107, 0.5)
                font-size: 30px
                float: left
                font-weight: 200
        figcaption 
            margin: 40px 20px 0
            line-height: 2
            h4
                margin: 50px 0 30px
                font-weight: 700
            p
                text-align: justify
                text-align-last: center
                font-weight: 400
                font-size: 12px
                color: #4e596b
                margin-bottom: 80px


@media only screen and (max-width: 991px)
    .features 
        .img-continer
            span
                &.line
                    &.left
                        font-size: 0
@media only screen and (max-width: 767px)

    .features 
        .img-continer
            span
                &.line
                    font-size: 0
        

                                    

    