@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** main_slider_section 
 **
 **

.main_slider
    direction: ltr
    position: relative
    height: 540px
    .slick-dots
        li
            button
                &:before
                    font-size: 12px
                    color: #fff
                    top: -40px
            &.slick-active 
                button
                    &:before
                        opacity: 1
                        color: #f9cf00 
    &.slider
        .slick-slide 
            img
                height: 550px !important  
                width: 100%

.slider-container
    direction: rtl
    text-align: center
    +transform(translate(0,-250%))
    
    h2
        color: #fff
        
    p
        color: #afb1b7
        margin: 0 2px
        
        
.btn-primary.active.ticket  ,.btn-default.active.account  
    +user-select(none)
    font-size: 12px
    font-weight: 700
    padding: 15px 30px
    opacity: 1
    border: none
    color: #fff
    border-radius: 50px
    box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
    +transition(all .15s ease-in-out)
    &:hover,&:active
        opacity: 0.9
        color: #fff
    
        
.btn-primary
    &.active
        &.ticket
            margin: 10px
            background-image: -moz-linear-gradient( 180deg, rgb(32,113,232) 0%, rgba(38,188,77,0.3) 100%)
            background-image: -webkit-linear-gradient( 180deg, rgb(32,113,232) 0%, rgba(38,188,77,0.3) 100%)
            background-image: -ms-linear-gradient( 180deg, rgb(38,113,232) 0%, rgba(38,188,77,0.3) 100%)
      
        
.btn-default
    &.active
        &.account
            background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
            background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
            background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
            margin-right: 20px

