@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** services_section 
 **
 **

.services
    background-image: -moz-linear-gradient( -60deg, rgb(38,210,108) 0%, rgb(0,166,106) 100%)
    background-image: -webkit-linear-gradient( -60deg, rgb(38,210,108) 0%, rgb(0,166,106) 100%)
    background-image: -ms-linear-gradient( -60deg, rgb(38,210,108) 0%, rgb(0,166,106) 100%)
    color: #fff
    padding-bottom: 30px
    .service-content
        margin-top: 40px
        .service 
            height: 350px
            padding: 40px 10px
            margin-bottom: 40px
            +transition(all .40s ease-out)
            
            &:hover
                padding: 40px 10px
                border: 1px solid #ffffff42
                background: #e6f3ff0a
                box-shadow: -1.414px 1.414px 19px 0px rgba(93, 93, 94, 0.5)
                +transition(all .40s ease-out)
            &:active
                padding: 40px 10px
                border: 1px solid #ffffff42
                background: #e6f3ff0a
                box-shadow: -1.414px 1.414px 19px 0px rgba(93, 93, 94, 0.5)
                
                a
                    &.button
                        background-color: #fff
                        color: #009d83
            &:active
                a
                    &.button
                        border: 2px solid #f9cf00
                        background-color: #f9cf00
                        color: #fff
            a
                &.button
                    font-weight: 700
                    color: #fff
                    border: 2px solid #fff
                    border-radius: 30px
                    position: absolute
                    bottom: 6%
                    left: 50%
                    +transform(translateX(-50%))
                    &.primary
                        display: inline-block
                        white-space: nowrap
                        vertical-align: middle
                        cursor: pointer
                        text-decoration: none
                        padding: 10px 30px
                        +transition(all .15s ease-in-out)
            .img-container
                img
                    margin-bottom: 30px
                .img-desc
                    h5
                        font-weight: 700
                        font-size: 16px
                        margin-bottom: 30px
                    p
                        font-weight: 500
                        padding-bottom: 35px
                        
@media only screen and (max-width: 1199px)
    .services
        .img-desc 
            h5
                margin-bottom: 20px
    