@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** .tech_services_section 
 **
 **    
.tech_services
    background-image: url(../img/bgtechnical.png)
    color: #fff
    padding-bottom: 30px
    height: 450px
    .title-group
        padding-top: 0
    .tech-text
        margin: 30px 20px 20px 0
    span
        &.title 
            display: block
            color: #f9cf00
            font-weight: 600
            margin-right: 20px
        &.tel
            font-weight: 500
            font-size: 18px
            font-weight: 700
            margin-right: 20px
    .mb-50
        margin-bottom: 15px
        

@media only screen and (max-width: 991px)
    .tech_services
        height: 700px 
                    
@media only screen and (max-width: 767px)
    .tech_services
        height: 1200px

@media only screen and (max-width: 575px)
    .tech_services
        height: 1120px


@media only screen and (max-width: 480px)
    .tech_services
        height: 1170px !important