@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** why_section 
 **
 **

.why                                
    background: #bbf0ff
    position: relative
    .why-slider
        direction: ltr
        .why-content
            margin: 60px 0
            .why-text
                text-align: right
                margin: 60px 50px 50px 0
                h4
                    font-weight: 600
                    font-size: 20px
                p
                    font-weight: 500
                    font-size: 14px
                    line-height: 1.5
                    color: #4e596b
    .slick-slide 
        img 
            display: block
            background-image: url(../img/ellipse4.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            height: 250px

                    
        
    .slick-prev, .slick-next 
        top: 260px
    .slick-prev
        left: 38%
        z-index: 1

    .slick-next
        right: 56.8%
    .slick-prev,.slick-next
        &:before
            font-size: 28px
    .slick-prev
        &:hover,&:active
            &:before
                color: #6dc3dc
    .slick-next
        &:hover,&:active
            &:before
                color: #6dc3dc
    
@media only screen and (max-width: 991px)
    .why 
        .why-slider
            .why-img 
                img 
                    float: right
        .slick-next 
            top: 280px
            right: 61%
        .slick-prev
            top: 280px
            left: 30%

                    
@media only screen and (max-width: 767px)
    .why        
        .slick-next 
            top: 500px
            right: 40%
        .slick-prev
            top: 500px
            left: 50%
@media only screen and (max-width: 480px)
    .why
        .slick-next, .slick-prev 
            top: 570px
@media only screen and (max-width: 575px)
    .why
        .slick-prev 
            left: 43%
            top: 520px
        .slick-next
            top: 520px

@media only screen and (max-width: 480px)
    .why
        .slick-next, .slick-prev 
            top: 570px
@media only screen and (max-width: 320px)
    .why
        .slick-next
            top: 650px
        .slick-prev 
            left: 30%
            top: 650px