@import "../../../sass/variables"
@import "../../../sass/mixins"

.private_hosting
    .about
        background-color: #f4f6ff
        padding-bottom: 180px
        margin-bottom: -240px
        .about-content
            padding-top: 80px
            h5
                color: #1d222f
                font-weight: 700
            p
                color: #4e596b
                font-weight: 500
                text-align-last: right
                font-size: 11px
                line-height: 2
                margin-bottom: 100px
                padding: 0 
            .btn-default
                &.active
                    &.order
                        border: none
                        color: #fff
                        border-radius: 50px
                        background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
                        background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                        background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                        box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
                        +user-select(none)
                        font-size: 12px
                        font-weight: 700
                        padding: 10px 40px
                        opacity: 1
                        +transition(all .15s ease-in-out)
                        &:hover, &:active
                            opacity: 0.9
                            color: #fff
        .server_img
            min-height: 600px
            float: left
            background-image: url(../img/about1.png)
            right: 320px
            width: 160%
            bottom: 90px
            
@media only screen and (max-width: 1199px)
    .private_hosting 
        .about
            padding-bottom: 100px

@media only screen and (max-width: 991px)
    .private_hosting
        .about 
            margin-bottom: 0 
            .server_img
                display: none 
            .servers-icon 
                width: 100% 
@media only screen and (max-width: 767px)
    .private_hosting
        .about 
            .about-content 
                padding-top: 30px 