@import "../../../sass/variables"
@import "../../../sass/mixins"

.private_hosting
    .server_feature
        p
            color: #4e596b
            margin-top: 40px
            text-align: right
            text-align-last: right
        .server_img
            min-height: 520px
            width: 30%
            background-image: url(../img/vectorFea.png)
            top: 330px
            left: 40px
        .servers-icon
            .server_card
                margin-bottom: 20px
                .web-icon
                    padding-bottom: 30%
                    &.icon1
                        background: url(../img/web7.png) no-repeat right
                    &.icon2
                        background: url(../img/web8.png) no-repeat right
                    &.icon3
                        background: url(../img/web9.png) no-repeat right
                    &.icon4
                        background: url(../img/web10.png) no-repeat right
                    &.icon5
                        background: url(../img/web11.png) no-repeat right
                    &.icon6
                        background: url(../img/web12.png) no-repeat right
                    &.icon7
                        background: url(../img/web13.png) no-repeat right
                    &.icon8
                        background: url(../img/web14.png) no-repeat right
                &:hover,&:active
                    h4
                        color: #25bb4d
                    .web-icon
                        &.icon1
                            background-position: left
                        &.icon2
                            background-position: left
                        &.icon3
                            background-position: left
                        &.icon4
                            background-position: left
                        &.icon5
                            background-position: left
                        &.icon6
                            background-position: left
                        &.icon7
                            background-position: left  
                        &.icon8
                            background-position: left
                            

@media only screen and (max-width: 991px)
    .private_hosting
        .server_feature
            .servers-icon 
                .server_card
                    margin-top: 40px 
                    
@media only screen and (max-width: 767px)
    .private_hosting
        .server_feature
            margin: 0 
            width: 100% 
            padding-bottom: 70px 
            .server_img 
                display: none 
            .servers-icon 
                margin: 0 
                width: 100% 
                margin-top: 40px
                .server_card
                    p
                        min-height: 30px

