@import "../../../sass/variables"
@import "../../../sass/mixins"

.security 
    .client_area
        background: url(../img/pattern.png) no-repeat
        position: relative
        background-attachment: fixed
        background-position: center top
        background-repeat: no-repeat
        background-size: cover
        overflow: hidden
        color: #fff
        padding-top: 80px
        padding-bottom: 10px
        .overlay 
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: .9
            background-color: #2c3446
        .client-title
            .title-group
                p
                    font-weight: 600
                    font-size: 24px
                    padding-bottom: 40px
        .btn-default
                &.active
                    &.client
                        border: none
                        color: #fff
                        border-radius: 50px
                        background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
                        background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                        background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                        box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
                        +user-select(none)
                        font-size: 12px
                        font-weight: 700
                        padding: 12px 30px
                        opacity: 1
                        margin-bottom: 50px
                        +transition(all .15s ease-in-out)
                        &:hover ,  &:active
                            opacity: 0.9
                            color: #fff



