@import "../../../sass/variables"
@import "../../../sass/mixins"

.security 
    .domains_details
        background-color: #f4f6ff
        padding-bottom: 10px
        .domain-title
            padding-top: 55px
            .title-group
                h2
                    font-weight: 600
                    font-size: 24px
                    margin-bottom: 5px
                    color: #1d222f
                p
                    font-weight: 500
                    margin-top: 40px
                    margin-bottom: 40px
                    color: #4e596b
                    font-size: 16px
                    padding: 0
        .tld
            border: 1px solid #e0e7ee
            background-color: #fff
            padding: 15px 30px
            margin-bottom: 30px
            .tld-title
                line-height: .5
                text-align: left
                direction: initial
                span
                    display: inline-block
                    position: relative
                    color: #1a1a1a
                    &:after
                        content: ""
                        position: absolute
                        height: 5px
                        border-bottom: 1px solid #1a1a1a
                        top: 7px
                        width: 150px
                        left: 100%
                        margin-left: 15px
            ul
                color: #4e596b
                list-style: none
                font-size: 16px
                font-weight: 500
                text-align: right
                padding-right: 0
                li
                    & > span
                        float: left
                        
@media only screen and (max-width: 1199px)
    .security
        .domains_details 
            .tld 
                .tld-title
                    span
                        &:after
                            width: 100px

@media only screen and (max-width: 991px)
    .security
        .domains_details 
            .tld 
                .tld-title
                    span
                        &:after
                            width: 150px 
                    


