@import "../../../sass/variables"
@import "../../../sass/mixins"


                            
                            
.security
    .security_feature
        background-color: #fff
        padding-bottom: 10px
        .server_img
            width: 35%
            background-image: url(../img/security.png)
            margin: 165px -90px 0 0
        .servers-icon 
            margin: 180px 0 0
            .server_card
                margin-bottom: 80px
                .web-icon
                    &.icon1
                        background: url(../img/web18.png) no-repeat right
                    &.icon2
                        background: url(../img/web19.png) no-repeat right
                    &.icon3
                        background: url(../img/web20.png) no-repeat right
                        display: flex
                    &.icon4
                        background: url(../img/web14.png) no-repeat right
                        display: flex
                &:hover,&:active
                    h4
                        color: #25bb4d
                    .web-icon
                        &.icon1
                            background-position: left
                        &.icon2
                            background-position: left
                        &.icon3
                            background-position: left
                        &.icon4
                            background-position: left
                            
@media only screen and (max-width: 1199px)

    .security
        .security_feature 
            .server_img
                margin: 185px -70px 0 0

@media only screen and (max-width: 991px)
    .security
        .security_feature 
            .server_img
                margin: 185px 0 0 0
                width: 30%
                    
@media only screen and (max-width: 767px)
    .security
        .security_feature 
            .server_img
                display: none 
            .servers-icon 
                width: 100% 


