@import "../../../sass/variables"
@import "../../../sass/mixins"


.security
    .security_certificate
        background: url(../img/prices.png) no-repeat
        padding-bottom: 30px
        background-size: cover
        .securityPlan-title
            color: #fff
            .title-group
                h3
                    font-weight: 600
                    font-size: 24px
                    padding-top: 60px
                    color: #fff
                    padding-bottom: 5px
                p
                    padding: 0
                    font-weight: 500
                    padding-bottom: 50px
        .single-price
            width: 116%           
            &:hover , &:active
                .price
                    color: #fff
                    background-color: #25bb4d
                    h2
                        span
                            &.currency 
                                color: #fff

                    span
                        &.per 
                            color: #fff
                a
                    &.btn-price 
                        color: #fff
                        background-color: #25bb4d
                        border: 2px solid #25bb4d
                        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
                        text-decoration: none
            .ul-priceprop 
                text-align: left
                padding: 20px
                .li-priceprop 
                    padding-top: 30px
                    color: #4e596b
                    font-weight: 500
                    margin: 0 auto
                    span
                        float: right
                        color: #dadada
                    
@media only screen and (max-width: 991px)
    .security
        .security_certificate 
            .single-price
                width: 110%
                
@media only screen and (max-width: 767px)
    .security
        .security_certificate 
            .single-price
                width: 100% 