@import "../../../sass/variables"
@import "../../../sass/mixins"

.security                    
    .server_feature
        .server_img
            width: 30%
            background-image: url(../img/domain1.png)
            margin: 50px -90px 0
            left: 50px
        .servers-icon 
            margin: 150px 0 70px
            width: 67%
            .server_card
                margin-bottom: 80px
                .web-icon
                    &.icon1
                        background: url(../img/web7.png) no-repeat right
                    &.icon2
                        background: url(../img/web17.png) no-repeat right
                    &.icon3
                        background: url(../img/web16.png) no-repeat right
                        display: flex
                &:hover ,&:active
                    h4
                        color: #25bb4d
                    .web-icon
                        &.icon1
                            background-position: left
                        &.icon2
                            background-position: left
                        &.icon3
                            background-position: left
                            
@media only screen and (max-width: 1199px)

    .security
        .server_feature
            .server_img
                left: 0

@media only screen and (max-width: 991px)
    .security
        .server_feature
            .server_img
                background-size: contain
                    
@media only screen and (max-width: 767px)
    .security
        .server_feature
            .server_img
                display: none 
            .servers-icon 
                margin: 0
                margin-top: 50px
                width: 100% 