.blog
    position: relative
    &.post-single
        background-color: #f4f6ff
    .last-post
        //position: relative
        //height: 100vh
        .post-img
            min-height: 550px
            background-color: #f5f7fb
            background-position: center center
            background-repeat: no-repeat
            background-size: cover
            text-align: center
            z-index: 1
            //position: absolute
            //top: 0
            //right: 0
            //width: 100%
            //height: 100%
            //img 
                width: 100%
        .post-data
            color: #ffffff
            position: absolute
            bottom: 50px
            right: 0
            width: 100%
            color: #ffffff
            a 
                color: #ffffff

    
    .post-details
        color: #2071e8
.post-single
    .post-details
        padding: 10px 0
    p
        line-height: 25px
    .post-content
.media
    &:hover
        box-shadow: 0.5px 0.866px 5px 0px rgba(57, 59, 63, 0.25)
.media-heading 
    margin-bottom: 20px
.media-body
    padding: 20px
#comments 
    min-height: 200px
    .nav-tabs
        border: 0
        > li 
            width: 50%
            border: 1px #f1f1f2 solid
            background-color: #fafbff
            text-align: center
            font-size: 20px
            &.active 
                background-color: #ffffff
                border: 0
                border-bottom: 2px #25bb4d solid
            &.active>a , >a 
                border: 0
                padding: 17px
                &:hover , &:focus
                    background-color: transparent 
.posts
    padding-top: 60px
    padding-bottom: 30px
    color: #1d222f
    .section-title
        font-weight: bold
        margin-bottom: 30px
        padding-bottom: 5px
        color: #333
        &:after
            display: block
            content: ' '
            height: 3px
            margin-top: 10px
            width: 100px
            background-color: #333
    a 
        color: #1d222f
        text-decoration: none
        font-weight: 700
        &:hover 
            color: #2071e8
                
@media only screen and (max-width: 767px)
    .blog 
        .last-post 
            .post-img 
                min-height: 300px
                
                
                
                
                
                