@import variables
@import mixins

// FONTS

@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Light.woff2') format('woff2'),url('../fonts/Cairo-Light.woff') format('woff')
    font-weight: 300
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Regular.woff2') format('woff2'),url('../fonts/Cairo-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-SemiBold.woff2') format('woff2'),url('../fonts/Cairo-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-ExtraLight.woff2') format('woff2'),url('../fonts/Cairo-ExtraLight.woff') format('woff')
    font-weight: 200
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Black.woff2') format('woff2'),url('../fonts/Cairo-Black.woff') format('woff')
    font-weight: 900
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal



// STYLES
*
    outline: none
    transition: 400ms all

html
    overflow-x: hidden
body
    font-family: 'Cairo', sans-serif
    font-weight: 300
    font-size: 14px
    overflow-x: hidden
    

.shrink
    background-color: #1d222f !important

.custom-row
    margin-right: -30px
    margin-left: -30px
    
.lang-item 
    text-align: center
.navbar-default 
    border-radius: 0
    background-color: transparent
    border-color: rgba(132, 147, 172, 0.3)
    padding: 20px 0
    .navbar-header
        h1
            &#logo
                display: inline-block
                font-size: 0
                text-align: center
                margin: 0 0 0 30px
                
                .navbar-brand 
                    display: inline-block
                    width: 132px
                    height: 30px
                    line-height: 30px
                    font-size: 45px
                    text-indent: -9999px
                    background-image: url(../img/logo-ar.svg)
                    background-repeat: no-repeat
                    background-position: center center
                    padding: 0
                    margin: 10px 0
    
    .navbar-nav
        & > li
            & > a 
                color: #8493ac
                direction: ltr
                font-weight: 600
                &:hover
                    color: #fff 
                &:active
                    color: #fff
                &:focus
                    color: #fff
                &.clientBg
                    color: #f9cf00
                    &:hover
                        color: #fff    
                    &:focus
                        color: #fff
            & > .dropdown-menu
                border-radius: 5px
                background-color: #1d222f
                top: 35px
                right: -33px
                margin-top: 12px
                & > li 
                    & > a
                            color: #fff
                            background-color: transparent
                            +transition(all .15s ease-in-out)
                            &:hover
                                color: #afb1b7
                                text-decoration: none
                                background-color: transparent
                            &:active
                                color: #afb1b7
                                text-decoration: none
                                background-color: transparent
                            &:focus
                                color: #afb1b7
                                text-decoration: none
                                background-color: transparent
                &:before
                    content: ''
                    display: block
                    width: 20px
                    height: 0
                    border-left: 12px solid transparent
                    border-right: 12px solid transparent
                    border-bottom: 12px solid #1d222f
                    margin: auto
                    +transform(translate(0,-15px))
                
                &.columns-3
                    min-width: 700px
                    padding: 30px 60px 0 60px
                    right: 0
                    left: auto
                    +transform(translate(25%, 0))
                    &:before
                        content: ''
                        display: block
                        width: 20px
                        height: 0
                        border-left: 12px solid transparent
                        border-right: 12px solid transparent
                        border-bottom: 12px solid #1d222f
                        margin: auto
                        +transform(translate(140px,-40px))
                       
         
        & > .active
            & > a
                    color: #fff
                    background-color: transparent
                    &:hover,&:active,&:focus
                        color: #fff
                        background-color: transparent
        & > .open
            & > a
                    color: #fff
                    background-color: transparent
                    &:hover,&:active,&:focus
                        color: #fff
                        background-color: transparent
    .navbar-toggle 
        border-color: transparent
        .icon-bar 
            background-color: #fff
        &:hover,&:active,&:focus
            background-color: transparent

.navbar-collapse.in 
    margin-top: 15px
    overflow: hidden
.navbar-collapse 
    ul
        &.nav
            &.navbar-nav 
                li
                    &.dropdown
                        z-index: 25000 !important
.multi-column-dropdown 
    margin: 0px
    padding: 0px 
    list-style-type: initial
    color: #41444d
    font-size: 14px
    font-weight: 500
    
    li
        padding-bottom: 15px
        &.none
            list-style: none
            margin-right: -1em
            span
                &.title
                    color: #fff
                    padding-right: 10px
                    font-size: 16px
                    font-weight: 600
            .fas
                &.home
                    color: #fff
                &.server
                    color: #fff 
                &.phone-volume 
                    +transform(rotate(-45deg))
                    color: #fff
        a 
            display: block
            clear: both
            line-height: 2
            color: #afb1b7
            white-space: normal
            font-weight: 500
            &:hover,&:active,&:focus
                text-decoration: none
                color: #fff
            &.tel
                color: #25bb4d
                font-size: 18px
                font-weight: 700
                padding-right: 10px

span
    &.lang 
        color: #fff
        background: #3fbd83
        height: 30px
        text-align: center
        width: 30px
        line-height: 25px
        border-radius: 50%
        display: inline-block
        
    
span
    &.caret 
        margin-left: 15px
        color: #fff
span
    &.caret
        &.none
            display: none
.slick-slider
    overflow: hidden
.main_slider
    position: relative
    overflow: hidden
    height: 470px
    .slick-dots
        position: relative
        bottom: 30px
        li
            button
                &:before
                    font-size: 8px
                    color: #fff
                    top: -210px
            &.slick-active 
                button
                    &:before
                        opacity: 1
                        color: #f9cf00 
    &.slider
        .slick-slide 
            img
                height: 550px !important  
                width: 100%

.slider-container
    text-align: center
    +transform(translate(0,-170%))
    
    h2
        color: #fff
        
    p
        color: #afb1b7
        margin: 0 2px
        
        
        
        
.btn-primary
    &.active
        &.ticket
            margin: 10px
            border-radius: 50px
            background-image: -moz-linear-gradient( 180deg, rgb(32,113,232) 0%, rgba(38,188,77,0.3) 100%)
            background-image: -webkit-linear-gradient( 180deg, rgb(32,113,232) 0%, rgba(38,188,77,0.3) 100%)
            background-image: -ms-linear-gradient( 180deg, rgb(38,113,232) 0%, rgba(38,188,77,0.3) 100%)
            box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
            margin-bottom : 10px
            +user-select(none)
            font-size: 12px
            font-weight: 700
            width: 136px
            //padding: 15px 30px
            opacity: 1
            +transition(all .15s ease-in-out)
            &:hover,&:active,&:focus
                opacity: 0.9
                color: #fff
   
      
        
.btn-default
    &.active
        &.account
            border: none
            color: #fff
            border-radius: 50px
            background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
            background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
            background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
            box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
            +user-select(none)
            font-size: 12px
            font-weight: 700
            //padding: 15px 30px
            width: 136px
            margin-right: 20px
            opacity: 1
            +transition(all .15s ease-in-out)
            &:hover,&:active,&:focus
                opacity: 0.9
                color: #fff


        
.features 
    padding-bottom: 30px
    padding-top: 30px
    text-align: center
    .feat-content
        .img-continer
            span
                &.line
                    color: rgba(78, 89, 107, 0.5)
                    font-size: 30px
                    float: left
                    font-weight: 200
                    &:after
                        content: "|"
        &:last-child
            .img-continer 
                span
                    &.line
                        &:after
                            content: " "
        figcaption 
            margin: 40px 20px 0
            line-height: 2
            h4
                margin: 50px 0 30px
                font-weight: 700
            p
                text-align: justify
                text-align-last: center
                font-weight: 400
                font-size: 12px
                color: #4e596b
                margin-bottom: 80px
    
.domains
    direction: rtl
    background-image: url(../img/sevicebackground.png)
    color: #fff
    min-height: 350px
    .domain
        .domain-title 
            background: url(../img/border.png) no-repeat right
            padding-bottom: 20px
            .title-group
                margin-right: 20px
                padding-top: 10px
                h2
                    font-weight: 700
                    font-size: 38px
                    margin-bottom: 0
                h3
                    font-weight: 700
                    margin-top: 0
                    margin-bottom: 28px
                p
                    font-weight: 500
        .domain-tld 
            margin-top: 20px
            .domain-type 
                direction: ltr
                margin-top: 25px
                margin-bottom: 40px
                text-align: center
                .tld-price
                    margin-bottom: 20px  
                    display: inline-block
                    width: 32%
                    span
                        &.tld
                            font-weight: 700
                            font-size: 16px
                        &.equal
                            font-weight: 500
                            font-size: 16px
                        &.price
                            font-weight: 500
                            font-size: 16px
        .domain-search 
            text-align: left
            margin-top: 60px
            .input-group
                &.add-on 
                    width: 100%
                    position: relative
                    z-index: 1
                    input#srch-term
                        border-radius: 50px 
                        height: 45px
                        font-size: 16px
                        font-weight: 500
                        color: #000
                        text-align: left
                        &:placeholder
                            color: #81a0ec
                    .btn
                        &.btn-default
                            border-radius: 50px
                            background: #f9d001
                            border: none
                            color: #fff
                            position: absolute
                            //padding: 4px 30px
                            width: 103px
                            top: 9%
                            right: 4px
                            z-index: 5
                            font-size: 18px
                            font-weight: 500
                            +user-select(none)
                            opacity: 1
                            +transition(all .15s ease-in-out)
                            &:hover,&:active,&:focus
                                opacity: 0.8
                                color: #fff
    .domain-result 
        margin-top: 25px
                                    
                                    
.form-control
    &:focus
        box-shadow: none
.btn
    &:focus
        outline: none
        outline-offset: unset
    &:active
        &:focus 
            outline: none
            outline-offset: unset
        &.focus
            outline: none
            outline-offset: unset
    &.active
        &:focus
            outline: none
            outline-offset: unset
        &.focus
            outline: none
            outline-offset: unset
    &.focus
        outline: none
        outline-offset: unset
    
.why                                
    background: #bbf0ff
    position: relative
    overflow: hidden
    .why-img img
        float: left
    .why-title
        margin-top: 120px
        background: url(../img/border.png) no-repeat right
        padding-bottom: 20px
        .title-group
            margin-right: 20px 
            padding-top: 10px
            h2
                font-weight: 700
                font-size: 38px
                margin-bottom: 0
            h3
                font-weight: 700
                margin-top: 0
                margin-bottom: 20px
                font-size: 28px
            p
                font-weight: 500
    .why-slider
        max-height: 400px
        overflow: hidden
        .why-content
            margin: 60px 0
            .why-text
                text-align: right
                margin: 60px 50px 50px 0
                h4
                    font-weight: 600
                    font-size: 20px
                p
                    font-weight: 500
                    font-size: 14px
                    line-height: 1.5
                    color: #4e596b
    .slick-slide 
        img 
            display: block
            background-image: url(../img/ellipse4.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            height: 250px

                    
        
.slick-prev, .slick-next 
    top: 260px
.slick-prev
    left: 39%
    z-index: 1

.slick-next
    right: 56%
.slick-prev
    &:before
        font-size: 28px
.slick-next
    &:before
        font-size: 28px
    
.slick-prev
    &:hover,&:active,&:focus
        &:before
            color: #6dc3dc
.slick-next
    &:hover,&:active,&:focus
        &:before
            color: #6dc3dc
    
.details
    background: #f4f6ff
    .detail-title
        margin-top: 120px
        background: url(../img/border.png) no-repeat right
        padding-bottom: 20px
        .title-group
            margin-right: 20px 
            padding-top: 10px
            h2
                font-weight: 700
                font-size: 38px
                margin-bottom: 0
            h3
                font-weight: 700
                margin-top: 0
                margin-bottom: 20px
                font-size: 28px
            p
                font-weight: 500
    .detail-img
        width: 500px
        margin: auto
        margin-bottom: 50px
    .detail-text 
        margin: 0 110px 30px 110px
        margin-bottom: 30px
        color: #4e596b
        font-weight: 500
        line-height: 1.8
        
.btn
    &:active
        box-shadow: none
    &.active
        box-shadow: none
        
.btn-default
    &.active
        &.more 
            background: #29bc4b
            border: none
            border-radius: 50px
            color: #fff
            user-select: none
            font-size: 16px
            margin-bottom: 80px
            //padding: 10px 30px
            width: 103px
            opacity: 1
            +transition(all .15s ease-in-out)
            &:hover,&:active,&:focus
                background: #fff
                color: #29bc4b
            
.counters
    background: url(../img/background.png) no-repeat
    position: relative
    background-attachment: fixed
    background-position: center top
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    color: #fff
    padding-top: 80px
    
    .overlay 
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.9
        background-color: #23293a
    .counter-img
        &.grow
            .far
                border: 1px solid rgba(255, 255, 255, 0.2)
                line-height: 150px
                height: 150px
                width: 150px
                font-size: 45px
                +transform(scale(0.57))
                +transition(all 0.3s ease-in-out)
            &:not
                &.selected
                    &:hover,&:active,&:focus
                        +transform(scale(0.62))
                
            .fas
                border: 1px solid rgba(255, 255, 255, 0.2)
                line-height: 150px
                height: 150px
                width: 150px
                font-size: 45px
                +transform(scale(0.57))
                +transition(all 0.3s ease-in-out)
            &:hover,&:active,&:focus
                +transform(scale(2))
    .counter-desc 
        margin-top: 50px
        margin-bottom: 50px
        h4
            font-weight: 700
            font-size: 30px
        span
            font-weight: 600 
            
            
        
            
  
         
      
        
.services
    background-image: -moz-linear-gradient( -60deg, rgb(38,210,108) 0%, rgb(0,166,106) 100%)
    background-image: -webkit-linear-gradient( -60deg, rgb(38,210,108) 0%, rgb(0,166,106) 100%)
    background-image: -ms-linear-gradient( -60deg, rgb(38,210,108) 0%, rgb(0,166,106) 100%)
    color: #fff
    padding-bottom: 30px
    .service-title
        margin-top: 120px
        background: url(../img/border.png) no-repeat right
        padding-bottom: 20px
        .title-group
            margin-right: 20px
            h2
                font-weight: 700
                font-size: 38px
                margin-bottom: 0
            h3
                font-weight: 700
                margin-top: 0
                margin-bottom: 20px
                font-size: 28px
            p
                font-weight: 500
    .service-content
        margin-top: 40px
        .service 
            height: 350px
            padding: 40px 10px
            margin-bottom: 40px
            border: 2px solid transparent
            +transition(all .40s ease-out)
            &:hover,&:active,&:focus
                border: 2px solid #e6f3ff33
                background: #e6f3ff0a
                box-shadow: -1.414px 1.414px 19px 0px rgba(93, 93, 94, 0.5)
                a
                    &.button
                        border: 2px solid #fff
                        background-color: #fff
                        color: #f9cf00
            &:active
                a
                    &.button
                        border: 2px solid #f9cf00
                        background-color: #f9cf00
                        color: #fff
            a
                &.button
                    font-weight: 700
                    color: #fff
                    border: 2px solid #fff
                    border-radius: 30px
                    position: absolute
                    top: 95%
                    left: 50%
                    +transform(translateX(-50%))
                    &.primary
                        display: inline-block
                        white-space: nowrap
                        vertical-align: middle
                        cursor: pointer
                        text-decoration: none
                        //padding: 10px 30px
                        width: 103px
                        +transition(all .15s ease-in-out)
            .img-container
                img
                    margin-bottom: 30px
                .img-desc
                    h5
                        font-weight: 700
                        font-size: 16px
                        margin-bottom: 30px
                    p
                        font-weight: 500
                        padding-bottom: 35px
                        margin-bottom: 35px
                        
.clintes
    margin: 60px 0
    clear: both
    overflow: hidden
    .client-slider
        .client-img 
            img
                width: 150px
                margin: 0 auto
                padding: 20px 40px
                box-shadow: 0px 0px 5px 0px rgba(93, 93, 94, 0.2)
                +user-select(none)
                +transition(all .6s ease-in-out)
                &:hover,&:active,&:focus
                    box-shadow: -1.414px 1.414px 19px 0px rgba(93, 93, 94, 0.2)
                &:active
                    box-shadow: -1.414px 1.414px 19px 0px rgba(93, 93, 94, 0.2)
            &.slick-slide
                +user-select(none)
                &:focus 
                    outline: none
                &.slick-active
                    &:focus 
                        outline: none
        .slick-list 
            margin: 40px
            padding: 10px 25px !important
    
.tech_services
    background-image: url(../img/bgtechnical.png)
    color: #fff
    padding-bottom: 30px
    height: 450px
    
    .service-title
        margin-top: 80px
        background: url(../img/border.png) no-repeat right
        padding-bottom: 20px
        height: 110px
        .title-group
            margin-right: 20px 
            h2
                font-weight: 700
                font-size: 38px
                margin-bottom: 0
            h3
                font-weight: 700
                margin-top: 0
                margin-bottom: 20px
                font-size: 28px
    .tech-text
        margin: 30px 20px 20px 0
    span
        &.title 
            display: block
            color: #f9cf00
            font-weight: 600
            margin-right: 20px
        &.tel
            font-weight: 500
            font-size: 18px
            font-weight: 700
            margin-right: 20px
    .mb-50
        margin-bottom: 15px
            
.contact
    .contact_content 
        padding: 20px
        margin: 30px 0
        border-radius: 4px
        &.phone
            background-image: -moz-linear-gradient( 90deg, #d3a900 0%, #f5c400 100%)
            background-image: -webkit-linear-gradient( 90deg, #d3a900 0%, #f5c400 100%)
            background-image: -ms-linear-gradient( 90deg, #d3a900 0%, #f5c400 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active,&:focus
                background-image: -moz-linear-gradient( 90deg, #f5c400 0%, #d3a900 100%)
                background-image: -webkit-linear-gradient( 90deg, #f5c400 0%, #d3a900 100%)
                background-image: -ms-linear-gradient( 90deg, #f5c400 0%, #d3a900 100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
        .contact_img 
            margin-bottom: 20px
        .contact-title
            color: #fff
            text-decoration: none
            margin-top: 10px
            font-weight: 600
            font-size: 16px
        &.mail
            background-image: -moz-linear-gradient( 90deg, #1f9e41 0%, #24b84c 100%)
            background-image: -webkit-linear-gradient( 90deg, #1f9e41 0%, #24b84c 100%)
            background-image: -ms-linear-gradient( 90deg, #1f9e41 0%, #24b84c 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active,&:focus
                background-image: -moz-linear-gradient( 90deg, #24b84c 0%, #1f9e41 100%)
                background-image: -webkit-linear-gradient( 90deg, #24b84c 0%, #1f9e41 100%)
                background-image: -ms-linear-gradient( 90deg, #24b84c 0%, #1f9e41 100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04) 
        &.ticket
            background-image: -moz-linear-gradient( 90deg, #d13830 0%, #f54138 100%)
            background-image: -webkit-linear-gradient( 90deg, #d13830 0%, #f54138 100%)
            background-image: -ms-linear-gradient( 90deg, #d13830 0%, #f54138 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active,&:focus
                background-image: -moz-linear-gradient( 90deg, #f54138 0%, #d13830 100%)
                background-image: -webkit-linear-gradient( 90deg,#f54138 0%, #d13830  100%)
                background-image: -ms-linear-gradient( 90deg, #f54138 0%, #d13830 8 100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
        &.chat 
            background-image: -moz-linear-gradient( 90deg, #1b5fc4 0%, #1f6fe4 100%)
            background-image: -webkit-linear-gradient( 90deg, #1b5fc4 0%, #1f6fe4 100%)
            background-image: -ms-linear-gradient( 90deg, #1b5fc4 0%, #1f6fe4 100%)
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
            +transition(all 1s ease-in-out)
            &:hover,&:active,&:focus
                background-image: -moz-linear-gradient( 90deg, #1f6fe4 0%, #1b5fc4 100%)
                background-image: -webkit-linear-gradient( 90deg, #1f6fe4 0%, #1b5fc4 100%)
                background-image: -ms-linear-gradient( 90deg, #1f6fe4 0%, #1b5fc4 100%)
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04)
.footer
    background: #1d222f
    color: #ffffff
    padding-top: 100px
    z-index: 1
    .footer-desc
        clear: both
        .footer-content
            padding-right: 10px
            h4
                font-weight: 600
                padding-bottom: 20px
            ul
                padding: 0
                li
                    list-style: none
                    a
                        color: #777779
                        font-weight: 500
                        padding-bottom: 15px
                        font-size: 16px
                        display: inline-block
    .icons 
        margin-top: -5px
        text-align: center
    .copy-right-text
        text-align: left
    .search-pos
        margin: 45px 30px 30px 0
        padding-left: 0
        .footer-search 
            text-align: right
            .input-group
                &.add-on 
                    width: 100%
                    position: relative
                    input#srch-term
                        border-radius: 50px 
                        height: 45px
                        width: 100%
                        border: 2px solid rgb(119, 122, 130)
                        background-color: rgba(26, 30, 40,0.5)
                        color: #fff
                        &:placeholder
                            color: #777779
                        
                    .btn
                        &.btn-default
                            border-radius: 50px
                            background-color: #f9cf00
                            border: none
                            color: #1e2330
                            position: absolute
                            //padding: 8px 30px
                            width: 103px
                            top: 6px
                            left: 6px
                            z-index: 3
                            opacity: 1
                            +transition(all .7s ease-in-out)
                            &:hover,&:active,&:focus
                                background: #2d303a
                                color: #f9cf00
                         
    .copy-right
        border-top: 1px solid #444546
        padding-top: 30px
        color: #afb1b7
        .payment
            padding-right: 27px
            span
                padding-left: 15px
                margin-bottom: 15px
                vertical-align: super
            img
                padding-left: 15px
                margin-bottom: 15px
        a
            
            display: inline-block
            color: #afb1b7
            i
                &.fab
                    font-size: 16px
                    margin-bottom: 15px
                    height: 30px
                    text-align: center
                    width: 30px
                    line-height: 30px
                    border-radius: 50%
                    border: 1px solid transparent
                    +transition(all 0.3s ease-out)
                    text-rendering: optimizeLegibility
                    &:hover,&:active,&:focus
                        &.fa-behance
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-instagram
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-pinterest-p
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-linkedin-in
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-google-plus-g
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-twitter
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-facebook-f
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)

                    
                    
.navbar-form
    -webkit-box-shadow: none
    box-shadow: none
    
.chat-icon
    position: fixed
    bottom: 100px
    right: 60px
    z-index: 10
    width: 60px
    +transition(all .15s ease-in-out)
    .tooltip
        position: relative
        display: inline-block
        opacity: 1
        z-index: 1
        .tooltiptext
            font-family: 'Cairo', sans-serif
            visibility: hidden
            width: 120px
            text-align: center
            border-radius: 6px
            padding: 5px 0
            position: absolute
            z-index: 1
            width: 120px
            top: 10px
            right: 40%
            margin-left: -60px
            color: #f8f8f8
            font-size: 12px
            font-weight: 600
        &:hover,&:active,&:focus
            .tooltiptext 
                visibility: visible
        img
            &.chat-img
                padding-left: 10px
.chat-pos
    bottom: 20px !important
    
/*
 **
 **
 ** Inside Pages
 **
 **
.inside_page
    .nav-inside
        background-color: #1d222f
.green_slider
    background-image: url(../img/bginsideslider.png) 
    background-repeat: no-repeat
    direction: ltr
    overflow: hidden
    position: relative
    //margin-top: 96px
    max-height: 549px
    min-height: 400px
    background-size: cover
    &.slick-dotted
        &.slick-slider 
            margin-bottom: 0
    a
        &.btn-price
            color: #fff
            &:hover, &:active
                color: #26bc4d
                background-color: #fff
                border: 2px solid #fff
                box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
                text-decoration: none
    .slide-text
        margin-top: 35%
        color: #fff
        //+transform(translate(-200px, 220%))
        text-align: right
        h2
            font-size: 51px
            font-weight: 700
    .slide-img
        //+transform(translate(60px, 20%))
    .slick-slide 
        min-height: 550px
        
/*
 **
 **
 ** host_service
 **
 **
.nav-line  
    background-color: #1d222f
    > .list-inline 
        border: none
        margin: 0px
        display: inline-block
        text-align: center
        width: 100%
        > li 
            padding: 23px 5px 15px 0
            margin-right: 10px
            text-align: center
            //width: auto
            width: 200px
            font-size: 16px
            border-bottom: 8px solid #1d222f
            +transition(all 2s ease)
            > a 
                padding: 18px 0 10px 0
                display:inline-block
                margin-right: 0
                color: #777779
                background-color: transparent
                font-weight: 600
                width: auto
                border-bottom: 8px solid transparent
                text-decoration: none
                +transition(all .15s ease-in-out)
            &.active
                color: #26bc4d
                border-bottom: 8px solid #26bc4d 

                i 
                    color: #a6a6a6
            &.open
                border-bottom: 8px solid #fbcdcf
                > a
                    border: 0
                    background: none !important
                    color: #26bc4d
                    > i
                        color: #a6a6a6    
            &:hover,&:active,&:focus
                border-bottom: 8px solid #26bc4d
                font-size: 16px
                > a
                    border: 0
                    background: none !important
                    color: #26bc4d
                    font-weight: 500
                    text-decoration: none
                    +transform(scale(1.2))
                    > i
                        color: #26bc4d  
            &.active
                color: #26bc4d
                border-bottom: 8px solid #26bc4d
                position: relative
                > a
                    border: 0
                    color: #26bc4d
                    > i
                        color: #26bc4d
.server_feature
    background-color: #fff
    padding-bottom: 10px   
    .title-group
        margin-right: 20px 
        text-align: right
        color: #1d222f
        h2
            font-size: 36px
            margin-bottom: 5px
        h3
            font-size: 20px
    .server_img
        min-height: 450px
        width: 25%
        float: right
        //background-image: url(../img/vectorFeat.png)
        position: relative
        background-repeat: no-repeat
        background-size: contain
        top: 15em
        background-position: center
        right: 0
        &.large_img
            width: 45%
            top: 15em
            margin: 0px -205px 0 0
    .servers-icon 
        margin: 100px 0 60px 0
        padding-bottom: 30px
        width: 70%
        float: left
        text-align-last: right
        text-align: right
        .server_card
            margin-bottom: 20px
            h4
                color: #1d222f
                font-weight: 700
                padding-bottom: 10px
            p
                color: #4e596b
                font-weight: 300
                text-align-last: right
                font-size: 12px
                min-height: 110px
                padding: 0
                display: flex
            .server-icon
                &.icon1
                    background: url(../img/featserv1.svg) no-repeat
                    width: 60px
                    height: 60px
                    display: block
                    position: relative
                    padding-bottom: 15%
                &.icon2
                    background: url(../img/feat2.svg) no-repeat
                    width: 60px
                    height: 60px
                    display: block
                    position: relative
                    padding-bottom: 15%
                &.icon3
                    background: url(../img/feat3.svg) no-repeat
                    width: 60px
                    height: 60px
                    display: block
                    position: relative
                    padding-bottom: 15%
                &.icon4
                    background: url(../img/feat4.svg) no-repeat
                    width: 60px
                    height: 60px
                    display: block
                    position: relative
                    padding-bottom: 15%
                &.icon5
                    background: url(../img/feat5.svg) no-repeat
                    width: 60px
                    height: 60px
                    display: block
                    position: relative
                    padding-bottom: 10%
                &.icon6
                    background: url(../img/feat6.svg) no-repeat
                    width: 60px
                    height: 60px
                    display: block
                    position: relative
                    padding-bottom: 10%
            &:hover,&:active,&:focus
                h4
                    color: #25bb4d
                .server-icon
                    &.icon1
                        background: url(../img/featservhover1.svg) no-repeat
                    &.icon2
                        background: url(../img/feat2hover.svg) no-repeat
                    &.icon3
                        background: url(../img/feat3hover.svg) no-repeat
                    &.icon4
                        background: url(../img/feat4hover.svg) no-repeat
                    &.icon5
                        background: url(../img/feat5hover.svg) no-repeat
                    &.icon6
                        background: url(../img/feat6hover.svg) no-repeat
.server_plans
    background-color: #f8fdff
    padding-bottom: 10px
    .serverPlan-title
        .title-group
            h3
                font-weight: 600
                font-size: 28px
                padding-top: 60px
                padding-bottom: 40px
                color: #1d222f
                &:after 
                    content: ""
                    display: block
                    margin: 0 auto
                    width: 6%
                    padding-top: 20px
                    border-bottom: 2px solid #1d222f
    .single-price 
        padding-bottom: 70px
        margin: 0 auto
        margin-bottom: 40px
        border: 1px solid rgb(224, 224, 224)
        background-color: rgb(255, 255, 255)
        width: 112%
        padding-bottom: 30px
        +transition(transform .2s)
        z-index: 2
        &:hover,&:active,&:focus , &.active
            +transform(translate(0,-10px))
            box-shadow: 0 0 25px #adabab
            z-index: 1
            position: relative

            .price
                color: #fff
                background-color: #2071e8
                h2
                    span
                        &.currency 
                            color: #fff
                span
                    &.per 
                        color: #fff


            a
                &.btn-price 
                    color: #fff
                    background-color: #25bb4d
                    border: 2px solid #25bb4d
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)

        .price-header 
            background-color: #fff
            padding: 10px
            color: #1d222f
            height: 60px

            h5
                font-weight: 700
        .price 
            color: #1a1a1a
            height: 150px
            padding: 10px
            border: 1px solid rgb(224, 224, 224)
            background-color: rgb(248, 249, 251)
            border-left: none
            border-right: none
            h2
                font-weight: 500
                font-size: 50px
                transition: 0ms all
                span
                    &.currency 
                        font-size: 18px
                        padding-right: 4px
                        vertical-align: super
                        color: #4e596b
                        font-weight: 500
                        &:before
                            content: "$"
                            left: 0
                            vertical-align: top
                            position: relative
            span
                &.per 
                    color: #777779
                    font-weight: 600

        ul 
            list-style: none
            margin: 0
            padding: 0
            text-align: center
            margin-bottom: 70px
            li 
                padding-top: 30px
                color: #4e596b
                font-weight: 500
                font-size: 14px
                margin: 0 auto
        a
            &.btn-price 
                text-decoration: none
                color: #25bb4d
                border: 2px solid rgb(227, 227, 227)
                //padding: 5px 30px
                width: 103px
                border-radius: 50px
                font-weight: 700
                +transition(all .15s ease-in-out)
                &:hover,&:active,&:focus
                    color: #fff
                    background-color: #25bb4d
                    border: 2px solid #25bb4d
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
    &.orangebg
        background: url(../img/plansbg.png) no-repeat
        background-size: cover
        padding-bottom: 10px
        .serverPlan-title .title-group h3
            color: #fff
        .serverPlan-title .title-group h3:after
            border-bottom: 2px solid #fff
        .single-price
            width: 115%

.why_servarena
    background: url(../img/bgwhyserver.png) no-repeat
    background-size: cover 
    padding-bottom: 10px
    color: #fff
    .serverFeat-title
        .title-group
            margin-right: 20px 
            text-align: right
            color: #fff
            margin-top: 125px
            h2
                font-weight: 700
                font-size: 36px
                margin-bottom: 5px
            h3
                font-weight: 700
                margin-top: 0
                margin-bottom: 20px
                font-size: 20px
    .why-content
        margin-bottom: 85px
        display: table
        img
            //background: #f8f9fb
            vertical-align: middle
            padding: 15px
            border-radius: 15px
            float: right
            //box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
            margin-left: 30px
            display: table-cell
        span
            vertical-align: middle
            display: table-cell

.host_service
    background-color: #1d222f
    color: #fff
    .hostService-content 
        /*padding-top: 30px*/
        h3 
            padding-bottom: 40px
            font-weight: 600
        p
            text-align: center
            -moz-text-align-last: center
            text-align-last: center
            font-weight: 500
            padding: 0 40px

.about
    background-color: #f4f6ff
    padding-bottom: 10px
    .title-group
        padding-top: 10px
        color: #1d222f
        h2
            font-size: 38px
        h3
            margin-bottom: 28px
    .about-content
        padding-top: 80px
        h5
            color: #1d222f
            font-weight: 700
        p
            color: #4e596b
            font-weight: 500
            text-align-last: right
            font-size: 11px
            line-height: 2
            margin-bottom: 100px
            padding: 0 
        .btn-default
            &.active
                &.order
                    border: none
                    color: #fff
                    border-radius: 50px
                    background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
                    background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                    background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                    box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
                    +user-select(none)
                    font-size: 12px
                    font-weight: 700
                    //padding: 10px 40px
                    width: 103px
                    opacity: 1
                    +transition(all .15s ease-in-out)
                    &:hover,&:active,&:focus
                        opacity: 0.9
                        color: #fff
    .server_img
        min-height: 600px
        float: left
        background-image: url(../img/about2.png)
        position: relative
        background-repeat: no-repeat
        background-size: contain
        right: 320px
        width: 160%
.start
    background-color: #f4f6ff
    padding-bottom: 10px
    h3
        color: #1d222f
        font-weight: 600
        margin-top: 140px
    p
        color: #4e596b
        font-weight: 500
        padding: 0
    .start-content
        padding-bottom: 80px
        .img-start
            margin: 0 auto
            margin-top: 60px
        .step
                color: #4e596b
                background-color: #fff
                border-radius: 50px
                width: 30px
                height: 30px
                line-height: 30px
                margin: 0 auto
                margin-top: 20px
                margin-bottom: 30px
                box-shadow: 0px 1px 4px 0px rgba(1, 2, 2, 0.1)
                position: relative 
                display: flex
                align-items: center
                justify-content: center
                &:after
                    content: ""
                    position: absolute
                    height: 5px
                    border-bottom: 1px dashed #4e596b
                    top: 10px
                    width: 320px
                    right: 50px
                &.last-left
                    &:after
                        width: 0
        h4
            color: #1d222f
            font-weight: 600
            margin-bottom: 25px
        p
            font-weight: 400
            font-size: 12px
            color: #4e596b

.domains_details
    background-color: #f4f6ff
    padding-bottom: 10px
    .domain-title
        padding-top: 55px
        .title-group
            h2
                font-weight: 600
                font-size: 24px
                margin-bottom: 5px
                color: #1d222f
            p
                font-weight: 500
                margin-top: 40px
                margin-bottom: 40px
                color: #4e596b
                font-size: 16px
                padding: 0
    .tld
        border: 1px solid #e0e7ee
        background-color: #fff
        padding: 15px 30px
        margin-bottom: 30px
        .tld-title
            line-height: .5
            text-align: left
            direction: initial
            padding-bottom: 40px 
            span
                display: inline-block
                position: relative
                color: #1a1a1a
                &:after
                    content: ""
                    position: absolute
                    height: 5px
                    border-bottom: 1px solid #1a1a1a
                    top: 7px
                    width: 150px
                    left: 100%
                    margin-left: 15px
        ul
            color: #4e596b
            list-style: none
            font-size: 16px
            font-weight: 500
            text-align: right
            padding-right: 0
            li
                & > span
                    float: left
.client_area
    background: url(../img/pattern.png) #2c3446 
    position: relative
    background-attachment: fixed
    background-position: center top
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    color: #fff
    padding-top: 80px
    padding-bottom: 10px
    background-blend-mode: overlay
    .overlay 
        //position: absolute
        //left: 0
        //top: 0
        //width: 100%
        //height: 100%
        //opacity: .9
        //background-color: #2c3446
        
    .client-title
        .title-group
            p
                font-weight: 600
                font-size: 24px
                padding-bottom: 40px
    .btn-default
            &.active
                &.client
                    border: none
                    color: #fff
                    border-radius: 50px
                    background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
                    background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                    background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                    box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
                    +user-select(none)
                    font-size: 12px
                    font-weight: 700
                    //padding: 12px 30px
                    width: 136px
                    opacity: 1
                    margin-bottom: 50px
                    +transition(all .15s ease-in-out)
                    &:hover,&:active,&:focus
                        opacity: 0.9
                        color: #fff
.security_feature
    padding-top: 160px
    background-color: #fff
    padding-bottom: 10px
    .security-title
        background: url(../img/border.png) no-repeat right
        padding-bottom: 20px
        height: 110px
        .title-group
            margin-right: 20px 
            text-align: right
            color: #1d222f
            h2
                font-weight: 700
                font-size: 36px
                margin-bottom: 5px
            h3
                font-weight: 700
                margin-top: 0
                margin-bottom: 20px
                font-size: 20px
.security_certificate
    background: url(../img/prices.png) no-repeat
    padding-bottom: 30px
    background-size: cover
    .securityPlan-title
        .title-group
            h3
                font-weight: 600
                font-size: 24px
                padding-top: 60px
                color: #fff
                padding-bottom: 5px
            p
                padding: 0
                padding-bottom: 50px
    .single-price
        padding-bottom: 70px
        margin: 0 auto
        margin-bottom: 40px
        border: 1px solid rgb(224, 224, 224)
        background-color: rgb(255, 255, 255)
        width: 116%
        padding-bottom: 30px
        +transition(transform .2s)
        z-index: 2                                
        &:hover,&:active,&:focus
            +transform(translate(0,-10px))
            box-shadow: 0 0 25px #adabab
            z-index: 1
            position: relative
            .price
                color: #fff
                background-color: #25bb4d
                h2
                    span
                        &.currency 
                            color: #fff

                span
                    &.per 
                        color: #fff
     


            a
                &.btn-price 
                    color: #fff
                    background-color: #25bb4d
                    border: 2px solid #25bb4d
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)

        .price-header 
            background-color: #fff
            padding: 10px
            color: #1d222f
            height: 60px

            h4
                font-weight: 700
        .price 
            color: #1a1a1a
            height: 150px
            padding: 10px
            border: 1px solid rgb(224, 224, 224)
            background-color: rgb(248, 249, 251)
            border-left: none
            border-right: none
            h2
                font-weight: 500
                font-size: 50px
                span
                    &.currency 
                        font-size: 18px
                        padding-right: 4px
                        vertical-align: super
                        color: #4e596b
                        font-weight: 500
                        &:before
                            content: "$"
                            left: 0
                            vertical-align: top
                            position: relative
            span
                &.per 
                    color: #777779
                    font-weight: 600

        ul 
            list-style: none
            margin: 0
            padding: 20px
            text-align: left
            margin-bottom: 30px
            li 
                padding-top: 30px
                color: #4e596b
                font-weight: 500
                margin: 0 auto
                span
                    float: right
                    color: #dadada
        a
            &.btn-price 
                text-decoration: none
                color: #25bb4d
                border: 2px solid rgb(227, 227, 227)
                //padding: 5px 30px
                border-radius: 50px
                width: 103px
                font-weight: 700
                +transition(all .15s ease-in-out)
                &:hover,&:active,&:focus
                    color: #fff
                    background-color: #25bb4d
                    border: 2px solid #25bb4d
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)



/*
 **
 **
 ** Title 
 **
 ** 

.main-title 
    margin-top: 60px
    background: url(../img/border.png) no-repeat right
    padding-bottom: 20px
    .title-group
        margin-right: 20px
        padding-top: 2px
        h2
            font-weight: 700
            font-size: 38px
            margin-bottom: 0
        h3
            font-weight: 700
            margin-top: 0
            margin-bottom: 20px
            font-size: 28px
        p
            font-weight: 500
            
            
.sp-title
    margin-right: 20px 
    text-align: right
    color: #1d222f
    
.title-after 
    h3
        font-weight: 600 !important
        font-size: 24px !important
        padding-top: 60px
        color: #1d222f
        padding-bottom: 30px
        &:after 
            content: ""
            display: block
            margin: 0 auto
            width: 6%
            padding-top: 20px
            border-bottom: 2px solid #1d222f
/*
 **
 **features  
 **
 ** 

//img
.img-prop
    position: relative
    background-repeat: no-repeat
    background-size: contain
    
.img-right
    float: right 
    
.img-min-height
    min-height: 488px
    
.web-icon
    background-repeat: no-repeat
    background-position: right
    width: 63px
    height: 60px
    display: block
    position: relative
    padding-bottom: 15%
    +transition(all .3s ease-in-out)
.server_feature
    .server_card:hover
        .web-icon
            background-position: left

//icon
.servers-icon 
    margin: 100px 0
    width: 70%
    float: left
    text-align-last: right
    text-align: right
    .server_card
        margin-bottom: 20px

    .slick-arrow
        top: 95%
    .slick-next
        right: 0
    .slick-prev
        right: 30px
    .slick-prev:before, .slick-next:before
        color: #6dc3dc
//text
.h4_prop
    color: #1d222f
    font-weight: 700
    padding-bottom: 10px
.p_prop
    color: #4e596b
    font-weight: 300
    text-align: right !important
    text-align-last: right !important
    font-size: 12px
    min-height: 30px
    padding: 0 !important
    display: flex
//price
.card
    padding-bottom: 70px
    margin: 0 auto
    margin-bottom: 40px
    border: 1px solid rgb(224, 224, 224)
    background-color: rgb(255, 255, 255)
    width: 116%
    padding-bottom: 30px
    +transition(transform .2s)
    z-index: 2  
    &:hover,&:active,&:focus
        +transform(translate(0,-10px))
        box-shadow: 0 0 25px #adabab
        z-index: 1
        position: relative
        
.price-header 
    background-color: #fff
    padding: 10px
    color: #1d222f
    height: 60px
    
.fontweight-bold
    font-weight: 700
    
.price-prop 
    text-decoration: none
    color: #25bb4d
    border: 2px solid rgb(227, 227, 227)
    padding: 5px 30px
    border-radius: 50px
    font-weight: 700
    +transition(all .15s ease-in-out)


.font-headerprice
    font-weight: 500
    font-size: 50px
span
    &.currency 
        font-size: 18px
        padding-right: 4px
        vertical-align: super
        color: #4e596b
        font-weight: 500
        &:before
            content: "$"
            left: 0
            vertical-align: top
            position: relative
span
    &.per 
        color: #777779
        font-weight: 600

.ul-priceprop
    list-style: none
    margin: 0
    padding: 0
    text-align: center
    margin-bottom: 70px
.li-priceprop 
    padding-top: 30px
    color: #4e596b
    font-weight: 500
    font-size: 14px
    margin: 0 auto 

/*
 **
 **inside pages
 **
 **

.page-content
    margin-top: 0
    border: 0
    padding: 15px 0
    padding-bottom: 0
/*
 **
 **web_prog pages
 **
 **

.img-sector-prop
    padding: 20px
    background-size: contain
    background-repeat: no-repeat
    +transition(all 0.5s ease-in)
        
.bg_imgslider
    background-image: url(../img/suadi_03.png)
    background-size: cover
    height: 470px
    background-position: center
    background-repeat: no-repeat
    
.inner_sliderbgfirst
    background-blend-mode: color-dodge
    background-image: -webkit-linear-gradient(225deg, #0f393e 1%, #36b44e) 
    background-image: -moz-linear-gradient(225deg, #0f393e 1%, #36b44e) 
    background-image: -ms-linear-gradient(225deg, #0f393e 1%, #36b44e) 
.inner_sliderbgsec
    background-image: -webkit-linear-gradient(225deg, #3a2986 1%, #66cdf6) 
    background-image: -moz-linear-gradient(225deg, #3a2986 1%, #66cdf6) 
    background-image: -ms-linear-gradient(225deg, #3a2986 1%, #66cdf6) 
.inner_sliderbgthird
    background-image: -webkit-linear-gradient(60deg, #5541c9 1%, #8a40c9) 
    background-image: -moz-linear-gradient(60deg, #5541c9 1%, #8a40c9) 
    background-image: -ms-linear-gradient(60deg, #5541c9 1%, #8a40c9) 
.inner_sliderbgfourth
    background-image: -webkit-linear-gradient(60deg, #f9b949 1%, #f1763f) 
    background-image: -moz-linear-gradient(60deg, #f9b949 1%, #f1763f) 
    background-image: -ms-linear-gradient(60deg, #f9b949 1%, #f1763f) 
.inner_sliderbgfifth
    background-image: -webkit-linear-gradient(60deg, #6dab8f 1%, #98d6ba) 
    background-image: -moz-linear-gradient(60deg, #6dab8f 1%, #98d6ba) 
    background-image: -ms-linear-gradient(60deg, #6dab8f 1%, #98d6ba) 

.slick-track
    opacity: 0

.pr-0
    padding-right: 0
.pr-40
    padding-right: 40px
.advantages-small
    .adv-item
        .read-more
            font-size: 16px
            width: 103px
            &:hover,&:active,&:focus
                text-decoration: none
                border: none
                font-weight: 500
                background-color: rgb(32, 113, 232)
                color: #fff
.slider_insidepage
    //margin: 1.5em 0px
    overflow: hidden
    position: relative
    max-height: 549px
    min-height: 400px
    //height: 550px
    //background-image: -moz-linear-gradient( 30deg, rgb(249,185,73) 1%, rgb(241,118,63) 100%)
    //background-image: -webkit-linear-gradient( 30deg, rgb(249,185,73) 1%, rgb(241,118,63) 100%)
    //background-image: -ms-linear-gradient( 30deg, rgb(249,185,73) 1%, rgb(241,118,63) 100%)
    margin-top: 6.9em
.parallax-layer 
    position: absolute
    margin-right: 0 !important

.mega-menu
    &:hover,&:active,&:focus,&:focus-within
        .dropdown-menu
            &.multi-column
                &.columns-3 
                    display: block
                    visibility: visible
                    opacity: 1
    ul
        &:hover,&:active,&:focus,&:focus-within
            visibility: visible
            opacity: 1
            display: block


@media only screen and (max-width: 1199px)
    .services
        .service-content
            .service 
                .img-container
                    .img-desc 
                        h5
                            margin-bottom: 20px
    .chat-icon
        left: -15px
    .green_slider 
        .slide-img 
            //+transform(translate(60px,130px))
        .slide-text 
            margin-top: 30%
            //+transform(translate(-25px,160px))
    .slider_insidepage
        margin-top: 10.1em
            

@media only screen and (max-width: 991px)
    .features 
        .img-continer
            span
                &.line
                    &.left
                        display: none
    .why 
        .why-slider
            .why-content
                .why-img 
                    img 
                        float: right
    .slick-next, .slick-prev 
        top: 280px
    .slick-prev 
        left: 30% 
    .slick-next 
        right: 61% 
    .tech_services
        height: 700px 
    .about 
        margin-bottom: 0 !important
        .server_img
            display: none !important
        .servers-icon 
            width: 100% !important

            .start
                .start-content
                    .step
                        &:after
                            width: 0
            .server_plans
                .single-price
                    width: 110%
            .server_feature
                .server_img
                    background-size: contain
                    &.large_img
                        margin: 60px -105px 0 0
            .domains_details 
                .tld 
                    .tld-title
                        span
                            &:after
                                width: 150px  
            .security_feature 
                .server_img
                    margin: 185px 0 0 0
                    width: 30%
            .security_certificate 
                .single-price
                    width: 110% !important
    .footer
        .copy-right
            .payment,.copy-right-text
                text-align: center
.wpcf7
    direction: ltr


@media only screen and (max-width: 767px)
    .dropdown-menu.multi-column 
        min-width: 240px !important
        overflow-x: hidden  
        +transform(translate(0)) 
    .navbar-default 
        padding: 0
        .navbar-nav
            & > li
                & > .dropdown-menu
                    &.columns-3 
                        +transform(translate(-3%, 0))
    .features 
        padding-bottom: 0
        .img-continer
            span
                &.line
                    display: none
        .feat-content 
            figcaption 
                margin-top: -25%
                margin-bottom: 80px
                    
    .details
        .detail-text 
            margin: 60px 0 30px
    .slick-next, .slick-prev 
        top: 500px
    .slick-prev 
        left: 50% !important
    .slick-next 
        right: 40% !important
    .footer 
        .search-pos 
            .footer-search 
                .input-group
                    &.add-on 
                        input
                            &#srch-term 
                                font-size: 12px
    .green_slider
        margin-top: 0
        .slide-text 
            //+transform(translate(0,200px))
            text-align: center
        .slide-img 
            //+transform(translate(60px,72px))
            img
                height: 0
        .inside-content
            position: relative
            min-height: 550px
            max-height: 650px
            text-align: center
            z-index: 1
            padding: 60px 0 60px
            
    .nav-panel
        .nav-line 
            > .list-inline 
                > li 
                    width: 20% !important
    .server_feature
        margin: 0 !important
        width: 100% !important
        padding-bottom: 70px !important
        .server_img
            display: none !important
        .servers-icon 
            margin: 0 !important
            width: 100% !important
            float: left !important
            text-align-last: right
            text-align: right
            margin-top: 40px !important
            .server_card
                margin-bottom: 40px
                .server-icon
                    &.icon1
                        padding-bottom: 5%
                    &.icon2
                        padding-bottom: 7%
                    &.icon3
                        padding-bottom: 5%
                    &.icon4
                        padding-bottom: 5%
                p
                    min-height: 30px
    .server_plans
        .single-price
            width: 100% !important

    .security_certificate 
        .single-price
            width: 100% !important
    .navbar-collapse.in 
        margin-top: 15px
        
    div#bs-example-navbar-collapse-1 
        overflow-y: scroll !important
        height: 500px !important
    .why-slider
        max-height: 800px !important
    .why 
        .slick-slide 
            img
                height: auto
        .why-slider 
            .why-content 
                .why-img
                    margin: 0 40px
    .services 
        padding-bottom: 0
        .service-content 
            .service
                height: 170px
                padding: 0 10px
                margin-bottom: 70px
                &:hover,&:active, &:focus
                    border: none
                    box-shadow: none
                    background: transparent
                .img-container 
                    .img-desc
                        p
                            display: none
                        h5
                            font-weight: 500
                            margin-bottom: 0
                            font-size: 12px
                    img
                        margin-bottom: 0
                a
                    &.button
                        font-size: 12px
    .counters 
        .counter-img
            &.grow
                &:hover,&:active,&:focus
                    +transform(scale(1))
        .counter-desc   
            margin-top: 0
    .domains 
        .domain 
            .domain-tld 
                .domain-type 
                    .tld-price 
                        span
                            &.tld 
                                display: block
    .btn-primary
        &.active
            &.ticket
                //padding: 15px 18px
                width: 103px
    .btn-default
        &.active
            &.account
                //padding: 15px 18px
                width: 103px
    .slider-container
        .slide2Txt1
            font-size: 25px
        .slide2Txt2
            font-size: 12px
    .features 
        .feat-content 
            figcaption 
                h4
                    font-size: 12px
    .contact 
        .contact_content 
            .contact-title
                font-size: 11px
    .about
        padding-bottom: 30px
    .pr-40 
        padding-right: 0
    .footer 
        .search-pos 
            padding-left: 35px
    .slider_insidepage
        margin-top: 4em


@media only screen and (max-width: 575px)
    .slick-prev 
        left: 43% !important
    .slick-next, .slick-prev 
        top: 520px
    .green_slider
        .slide-img 
            img
                height: 0

@media only screen and (max-width: 480px)
    .features 
        .feature
            margin-bottom: 15px
        p 
            display: none
    .slider-container 
        +transform(translate(0,-180%))
    .green_slider
        .slide-text
            //+transform(translate(0, 160%))
    .tech_services
        height: 730px !important
    .navbar-default 
        .navbar-header
            h1
                &#logo
                    a
                        &.navbar-brand 
                            width: 130px !important
    .nav-panel 
        .nav-line
            > .page-content 
                div#page_default_3 
                    .start
                        p
                            margin: 0 

@media only screen and (max-width: 320px)
    .green_slider
        .slide-text
            //+transform(translate(0,100%))
    .navbar-default 
        .navbar-header
            h1
                &#logo
                    a
                        &.navbar-brand 
                            width: 100px !important
    .footer 
        .search-pos 
            .footer-search 
                .input-group
                    &.add-on 
                        input
                            &#srch-term 
                                font-size: 9px
    .slick-next, .slick-prev 
        top: 470px
    .slick-prev 
        left: 30% !important

.modal
    top: 20%

.div_blur
    -webkit-filter: blur(4px)
    -moz-filter: blur(4px)
    -o-filter: blur(4px)
    -ms-filter: blur(4px)
    filter: blur(4px)