.headerbg
    background: #1d222f
#map
    width: 100%
    height: 550px
    position: relative
.map-title
    position: absolute
    top: 150px
    color: #fff
    margin-right: 75px
    h2
        font-weight: 600 !important
        
.loc-img
    img 
        max-width: 32px
        max-height: 32px 

.contact_height
    height: 225px
    
@media only screen and (max-width: 767px) 
    .map-title 
        top: 40px
        
        
.locations
    padding-top: 103px
    padding-bottom: 80px
    position: relative
    .loc-text
        .loc-title
            font-weight: 700
            color: #1d222f
        .locate
            color: #4e596b
            font-weight: 500
            font-size: 11px
            line-height: 2
            list-style: square
            padding-right: 25px
            
    .cloud1 ,.cloud2 ,.person 
        position: absolute
        z-index: 1
    .cloud1
        background: url(../img/cloud1.png) no-repeat
        width: 100%
        height: 40px
        top: 20px
        left: 445px
        +transition(all .8s ease-in-out)
    .cloud2
        background: url(../img/cloud2.png) no-repeat
        width: 100%
        height: 100px
        top: 30px
        left: 0
        +transition(all .8s ease-in-out)
    .countries
        position: relative 
        z-index: 2
    .person
        background: url(../img/personbbg.png) no-repeat
        width: 265px
        height: 500px
        top: 195px
        left: 0
        +transition(all .8s ease-in-out)
            
@media only screen and (max-width: 1199px)            
    .locations 
        .person 
            top: 210px
@media only screen and (max-width: 767px)            
    .locations 
        .person 
            top: 510px 
            left: -70px
        .cloud1
            left: 300px
            
.contact_campany
    background-color: #f4f6ff
    padding-bottom: 40px
    .contact-text
        padding-top: 80px
        h3
            color: #1d222f
            font-weight: 600
            padding-bottom: 40px
        p
            color: #4e596b
            font-weight: 500
            padding-bottom: 60px
    .form-border
        border: 2px solid rgba(119, 122, 130, 0.1)
        border-radius: 25px
        padding: 20px
    .form-border
        &::placeholder
            color: #777779
            font-weight: 500
            font-size: 13px
    .form-title
        margin-bottom: 10px
        font-size: 15px
        color: #1d222f
    .contact-btn 
        border-radius: 25px
        float: left
        font-weight: 700
        width: 103px
//    input[required] + label
//        &:after 
//            content: '*'
//            color: red