.faq
    padding-bottom: 150px
    .panel-group 
        margin-top: 80px
        .panel+.panel 
            margin-top: 0
            border-top: 1px solid transparent
            box-shadow: none
        .panel-body 
            margin-right: 2px
            border-top-color: #ddd
            background: #f4f6ff
            border-right: 2px solid #2071e8
            p
                font-size: 12px
                font-weight: 700
                color: #4e596b
            ul
                list-style: none
                padding-right: 0
                font-size: 12px
                font-weight: 500
                line-height: 30px
                padding-top: 20px
        .panel-heading
            padding: 22px
            background: #fff
            border: 1px solid rgba(119, 122, 130, 0.10)
            border-top: 1px solid transparent
            &.active
                .panel-title 
                    a 
                        color: #2071e8
            .panel-title 
                a 
                    padding-right: 20px
                    color: #1d222f
                    font-weight: 700
                    font-size: 14px
                    text-decoration: none
                    
        .panel-heading [data-toggle="collapse"]
            &:before
                content: '\f0c8'
                font-family: FontAwesome
                /* "play" icon
                float: right
                color: #2071e8
                font-size: 8px
                line-height: 22px
                /* rotate "play" icon from > (right arrow) to down arrow
                +transform(rotate(45deg))    
            &:after
                content: '\f105'
                font-family: FontAwesome
                /* "play" icon
                float: left
                color: #fff
                background: #2071e8
                font-size: 18px
                line-height: 22px
                border-radius: 10px
                padding: 6px 12px
                margin-top: -5px
                /* rotate "play" icon from > (right arrow) to down arrow
                +transform(rotate(-90deg))
            &.collapsed:after
                /* rotate "play" icon from > (right arrow) to ^ (up arrow)
                +transform(rotate(90deg))
                color: #bedde6
                background: transparent