@import variables
@import mixins

.manage_server
    padding-bottom: 110px
    .manage-title
        padding-top: 110px
        h3
            color: #1d222f
        p
            color: #4e596b
    .server_services 
        padding-top: 175px
        .service_content
            margin-bottom: 50px
            &:hover
                .manage-img
                    -webkit-filter: drop-shadow(-4px 5px 1px rgba(63,63,68,.2))
                    filter: drop-shadow(-4px 5px 1px rgba(63,63,68,.2))
        .servermanage-title
            padding-top: 40px
            color: #1d222f
            font-weight: 700
            font-size: 16px
            padding-bottom: 20px
        .manage-content
            color: #4e596b
            font-size: 12px
            font-weight: 500
            line-height: 2

.managment_plan
    background: url(../img/managment_planbg.png) no-repeat
    background-size: cover
    .manage-title
        padding-top: 40px
        color: #f4f6ff
        padding-bottom: 35px
    .card
        padding-left: 20px
        width: auto
        padding-bottom: 70px
        .price-header
            background-color: transparent
            height: 0
            padding-top: 50px
            padding-bottom: 25px
            .fontweight-bold
                font-size: 16px
        .ul-priceprop
            text-align: left
            height: 450px
            padding-left: 15px
        .price-prop
            padding: 8px 28px
        .plan_price
            margin-top: -50px
            padding-right: 20px
            font-weight: 600
            float: right
            h2
                font-size: 60px
                font-weight: 600
        &:hover
            transform: translate(0,0)
            box-shadow: 0px 1px 0px 2px hsla(220, 5%, 24%, 0.25)
            background-color: #1d222f
            border: 1px solid transparent
            .price-header
                color: #fff
            .price-prop
                color: #fff
                background-color: #25bb4d
                border: 1px solid transparent
                text-decoration: none
            .li-priceprop
                color: #777779
            .plan_price
                color: #fff
            .currency
                &:before 
                    color: #fff
                
@media only screen and (max-width: 1199px)
    .managment_plan 
        .card
            .ul-priceprop
                height: 500px
                
@media only screen and (max-width: 991px)
    .managment_plan 
        .card
            .ul-priceprop
                height: 600px
                
@media only screen and (max-width: 480px)                
    .managment_plan 
        .card 
            .plan_price
                margin-top: -25px
                h2
                    font-size: 30px
            
            

.server_slide
    background-image: -moz-linear-gradient( 30deg, #6dab8f 1%, #98d6ba 100%)
    background-image: -webkit-linear-gradient( 30deg, #6dab8f 1%, #98d6ba 100%)
    background-image: -ms-linear-gradient( 30deg, #6dab8f 1%, #98d6ba 100%)
.server_slide 
    .slide-img
        +transform(translate(-10%,-70px))


@media only screen and (max-width: 1199px)
    .server_slide 
        .slide-img
            +transform(translate(4%,-70px))
        .slide-text
            +transform(translate(-40px,145px))

@media only screen and (max-width: 991px)
    .server_slide 
        .slide-img
            +transform(translate(100px,-70px))
        .slide-text
            +transform(translate(10px,100px))
                
                
@media only screen and (max-width: 767px) 
    .server_slide 
        .slide-text 
            +transform(translate(10px,10px))


.table_info
    padding-top: 100px
    .tabbable-panel
        .nav
            background-color: #1d222f 
            &.nav-pills
                >li
                    +transition(all .15s ease-in-out)
                    &:hover,&:focus,&:active
                        background-color: #25bb4d
                        color: #e4f7e9
                    >a 
                        padding: 46.2px
                        color: #9296ab
                        font-size: 14px
                        font-weight: 500
                        border-radius: unset
                        +transition(all .15s ease-in-out)
                        &:hover,&:focus,&:active
                            background-color: #25bb4d
                            color: #fff
                    &.active
                        +transition(all .15s ease-in-out)
                        >a
                            background-color: #25bb4d
                            color: #fff
                            
        .table_icon
            display: block
            text-align: center
            font-size: 18px
            padding-bottom: 10px
        .data_table
            padding-bottom: 80px
            thead
                border: 1px solid rgba(119, 122, 130, 0.1)
                th
                    font-size: 16px
                    font-weight: 700
                    padding: 15px
                    color: #1d222f
            tbody 
                border: 1px solid #e0e7ee
                .feature
                    font-weight: 600
                    font-size: 12px
                    width: 400px
                td
                    font-size: 10px
                    font-weight: 500
                    width: 200px
                    color: #4e596b
                    height: 10em
                    vertical-align: middle
                    padding-right: 22px
                    i
                        font-size: 16px
                        &.fa-times
                            color: #fd7070
                        &.fa-check
                            color: #98daa4
                            
@media only screen and (max-width: 480px) 
    .table_info
        .nav
            &.nav-pills
                >li
                    float: unset
                    >a
                        text-align: center
    
    
            