@import "_common"
@import "_faq"
@import "_contact"
@import "_payment"
@import "_blog"
@import "_conditions"
@import "_server_management"
@import "web_prog/_clients"
@import "web_prog/_contact_web"
@import "web_prog/_feats_webdevelop"
@import "web_prog/_order_area"
@import "web_prog/_prog_slide"
@import "web_prog/_why_order"
@import "web_prog/_sectors"
@import "appli/_app_slider"
@import "appli/_step"
@import "appli/_mobile_app"
@import "appli/_our_works"
@import "appli/_work_slider"
@import "appli/_order_mobileapp"
@import "appli/_statistics"

.advantages-small
	padding-bottom: 90px
	.adv-data
		padding-top: 60px
	.adv-item
		text-align: center
		box-shadow: 0px 0px 5px 0px rgba(93, 93, 94, 0.2)
		padding: 15px
	.read-more
		display: inline-block
		position: relative
		top: 25px
		border: 1px solid rgb(215, 219, 232)
		background-color: #ffffff
		color: #333333
		border-radius: 20px
		margin-bottom: -10px
        

/* =WordPress Core  */
.alignnone 
	margin: 5px 20px 20px 0

.aligncenter 
	display: block
	margin: 5px auto 5px auto

div.aligncenter 
	display: block
	margin: 5px auto 5px auto

.alignright 
	float: right
	margin: 5px 0 20px 20px

.alignleft 
	float: left
	margin: 5px 20px 20px 0

a 
	img.alignright 
		float: right
		margin: 5px 0 20px 20px
	
	img.alignnone 
		margin: 5px 20px 20px 0
	
	img.alignleft 
		float: left
		margin: 5px 20px 20px 0
	
	img.aligncenter 
		display: block
		margin-left: auto
		margin-right: auto
	

.wp-caption 
	background: #fff
	border: 1px solid #f0f0f0
	max-width: 96%
	padding: 5px 3px 10px
	text-align: center
	img 
		border: 0 none
		height: auto
		margin: 0
		max-width: 98.5%
		padding: 0
		width: auto
	
	p.wp-caption-text 
		font-size: 11px
		line-height: 17px
		margin: 0
		padding: 0 4px 5px
	

.wp-caption.alignnone 
	margin: 5px 20px 20px 0

.wp-caption.alignleft 
	margin: 5px 20px 20px 0

.wp-caption.alignright 
	margin: 5px 0 20px 20px

.screen-reader-text 
	border: 0
	clip: rect(1px, 1px, 1px, 1px)
	clip-path: inset(50%)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute !important
	width: 1px
	word-wrap: normal !important

