@import variables
@import mixins

    
.navbar-default
    .navbar-header
        h1
            &#logo
                .navbar-brand
                    width: 165px
                    background-image: url(../img/logo.svg)
    .navbar-nav
        & > li
            & > .dropdown-menu
                &.columns-3 
                    left: 0
                    right: auto
                    +transform(translate(-20%, 0))
                    &:before
                        +transform(translate(-170px,-40px))
span
    &.lang 
        padding: 3px 7px
        
.features 
    .feat-content
        .img-continer
            span
                &.line
                    float: right
.domains
    .domain        
        .domain-search
            .input-group
                &.add-on
                    button.btn.btn-default
                        left: auto
                        right: 6px
                    
                    input#srch-term
                        text-align: left
                        padding-right: 100px

.slick-next
    right: 39%
.slick-prev 
    left: 55%
.why    
    .why-slider
        .why-content
            .why-img
                float: right
                &:before,
                &:after
                    content: ""
                    display: table
                
                &:after
                    clear: both
            
            .why-text
                text-align: left !important
                margin: 60px 0 50px 50px

.why
    .slick-slide
        img
            float: left
.main-title 
    background-position: left 
    text-align: left
    .title-group
        margin-right: 0
        margin-left: 20px 
        text-align: left
.tech_services
    .tech-text
        margin: 30px 0 20px 20px

.footer
    .search-pos
        .footer-search
            .input-group
                &.add-on
                    input#srch-term
                        text-align: left
                    .btn.btn-default
                        left: auto
                        right: 8px
.green_slider
    .slide-text
        //+transform(translate(10px,220%))
        text-align: left !important
    .slide-img
        float: right !important 
.why_servarena  
    .why-content
        text-align: left !important
        span
            padding-left: 20px 
    .serverFeat-title
        .title-group
            text-align: left

        img
            margin-left: 0
            margin-right: 30px
.server_feature
    .server_img
        float: left !important
        left: 0 !important
        right: auto !important
        -moz-transform: scaleX(-1)
        -o-transform: scaleX(-1)
        -webkit-transform: scaleX(-1)
        transform: scaleX(-1)
        filter: FlipH
        -ms-filter: "FlipH"

    .servers-icon
        -moz-text-align-last: left !important
        text-align-last: left  !important     
        text-align: left !important
        float: right !important

        .server_card
            p
                -moz-text-align-last: left !important
                text-align-last: left !important
.server_plans 
    .single-price 
        .price 
            h2 
                span
                    &.currency
                        &:before
                            left: 85px

.about
    text-align: left !important
    .server_img
        float: left!important
        left: 10%
        width: 155%

    .about-content
        padding-right: 0
        padding-left: 80px

        p
            text-align: left !important
            text-align-last: left !important

.start
    .start-content
        .step
            &:after
                right: auto !important
                left: 50px
.server_plans 
    .single-price 
        .price 
            h2 
                span
                    &.currency
                        &:before
                            left: 85px

.domains_details
    .tld 
        ul
            text-align: left
            padding-left: 0
            li
                & > span
                    float: right
.security_feature
    .server_img
        float: left !important
        left: auto !important
        right: 50px !important
        -moz-transform: scaleX(-1)
        -o-transform: scaleX(-1)
        -webkit-transform: scaleX(-1)
        transform: scaleX(-1)
        filter: FlipH
        -ms-filter: "FlipH"

    .servers-icon
        -moz-text-align-last: left !important
        text-align-last: left  !important     
        text-align: left !important
        float: right !important

        .server_card
            p
                -moz-text-align-last: left !important
                text-align-last: left !important
.security_certificate 
    .single-price 
        width: 116%
        .price 
            h2 
                span
                    &.currency
                        &:before
                            left: 140px

.map-title
    margin-left: 75px
    margin-right: 0

.our_work
    transform: rotateY(180deg)

@media only screen and (max-width: 1199px)
    .chat-icon 
        left: unset
        right: 0
    .server_feature 
        .server_img
            left: 0
    .about 
        .server_img 
            min-height: 450px  
    .server_plans 
        .single-price
            width: 116%
    .server_feature 
        .server_img
            min-height: 390px
    .server_feature 
        .server_img
            background-size: contain !important
@media only screen and (max-width: 991px)
    .about 
        margin-bottom: 0 !important
    .server_feature 
        .server_img
            left: auto
            right: 40px
    .server_feature 
        .server_img 
            right: 0px!important
    .server_feature 
        .server_img
            left: 0 !important
    .slick-next 
        right: 30%
    .slick-prev 
        left: 60%
    

@media only screen and (max-width: 767px)
    .green_slider 
        .slide-text 
            //+transform(translate(0,200px))
    .slick-next, .slick-prev 
        top: 580px
    .navbar-default
        .navbar-nav
            & > li
                & > .dropdown-menu
                    &.columns-3 
                        +transform(translate(1%, 0))

@media only screen and (max-width: 575px)
    .slick-next, .slick-prev
        top: 580px

@media only screen and (max-width: 480px)
    .green_slider
            .slide-text
                //+transform(translate(0, 160%))
    .footer
        .search-pos 
            .footer-search
                .input-group
                    &.add-on 
                        input#srch-term 
                            font-size: 10px  
    .slick-next, .slick-prev 
        top: 530px

@media only screen and (max-width: 320px)
    .green_slider
        .slide-text
            //+transform(translate(0,100%))
    .slick-next, .slick-prev 
        top: 500px

@import "appli/_ltr.sass"
