@import "../../sass/variables"
@import "../../sass/mixins"


.sectors
    background-color: #f4f6ff
    .img_section
        padding: 0
        .sector_sec
            display: flex
            /* establish flex container
            flex-direction: column
            /* make main axis vertical
            justify-content: center
            /* center items vertically, in this case
            align-items: center
            /* center items horizontally, in this case
            height: 300px
            background: url(../img/transparent.png) no-repeat
            position: relative
            z-index: 1
            +transition(all 2s ease-in)
            &:nth-child(odd)
                background-color: #fbfbff
            &:before
                opacity: 0
                width: 100%
                height: 100%
                top: 0
                left: 0
                position: absolute
                z-index: -1
                opacity: 0
                content: ""
                +transition(all 2s ease-in)  
            &:hover
                &:before
                    opacity: 1
                .img-sector
                    background-color: transparent
                    border: 1px solid transparent
                    transform: scale(4)
                    +transition(all 0.5s ease-out)
                    .img-sector-prop
                        padding: 8px
                        margin-top: -10px
                        +transition(all 0.5s ease-out)
                h6
                    color: #fff
                    +transition(all 0.5s ease-out)
            .img-sector
                margin: 0 auto
                background-color: #fff
                border: 1px solid #d7dbe8
                padding: 15px
                border-radius: 20px
                align-items: center
                display: flex
                flex-direction: column 
                +transition(all 0.3s ease-in) 
                .cart
                    background-image: url(../img/cart.png)
                .grad
                    background-image: url(../img/grad.png)
                .health
                    background-image: url(../img/heart.png)
                .gover
                    background-image: url(../img/govern.png)
                .company
                    background-image: url(../img/comp.png)
                .ngo
                    background-image: url(../img/ngo1.png)
            h6
                text-align: center
                color: #1d222f
                font-weight: 600
                padding: 0 50px
                line-height: 1.5
                +transition(all 0.5s ease-in)
            
            &.first_sector
                &:before
                    background: -moz-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/marketing1.png) no-repeat
                    background: -webkit-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/marketing1.png) no-repeat
                    background: linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/marketing1.png) no-repeat
                    background-size: cover
                &:hover
                    &:before
                    .img-sector
                        .cart
                            +filter(brightness(0) invert(1))
                            /* background-image: url(../img/carthover.png) */
                            
                         
            &.sec_sector
                &:before
                    background: -moz-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/edu1.png) no-repeat
                    background: -webkit-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/edu1.png) no-repeat
                    background: linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/edu1.png) no-repeat
                    background-size: cover
                &:hover
                    &:before
                    .img-sector
                        .grad
                            /*  background-image: url(../img/gradhover.png)*/
                            +filter(brightness(0) invert(1))
            &.third_sector
                &:before
                    background: -moz-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/health.png) no-repeat
                    background: -webkit-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/health.png) no-repeat
                    background: linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/health.png) no-repeat
                    background-size: cover
                &:hover
                    &:before
                    .img-sector
                        .health
                            /*  background-image: url(../img/hearthover.png)*/
                            +filter(brightness(0) invert(1))
            &.fourth_sector
                &:before
                    background: -moz-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/gover.png) no-repeat
                    background: -webkit-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/gover.png) no-repeat
                    background: linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/gover.png) no-repeat
                    background-size: cover
                &:hover
                    &:before
                    .img-sector
                        .gover
                            /*  background-image: url(../img/governhover.png)*/
                            +filter(brightness(0) invert(1))
                            
            &.fifth_sector
                &:before
                    background: -moz-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/company.png) no-repeat
                    background: -webkit-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/company.png) no-repeat
                    background: linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/company.png) no-repeat
                    background-size: cover
                &:hover
                    &:before
                    .img-sector
                        .company
                            /*      background-image: url(../img/comphover.png)*/
                            +filter(brightness(0) invert(1))
                                
            &.six_sector
                &:before
                    background: -moz-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/ngo.png) no-repeat
                    background: -webkit-linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/ngo.png) no-repeat
                    background: linear-gradient(rgba(55, 65, 160, .9),rgba(55, 65, 160, 0.9)),url(../img/ngo.png) no-repeat
                    background-size: cover
                &:hover
                    &:before
                    .img-sector
                        .ngo
                            /*background-image: url(../img/ngo1hover.png)*/
                            +filter(brightness(0) invert(1))


@media only screen and (max-width: 991px)
    .sectors 
        .img_section 
            margin-top: 60px


