@import "../../sass/variables"
@import "../../sass/mixins"


.why_order
    background-color: #f4f4f4
    padding-bottom: 100px
    h3 
        color: #1d222f
        font-weight: 600
        margin-top: 145px
        padding-bottom: 30px
    p
        color: #4e596b
        font-weight: 500
        padding: 0
    .order-content
        .order-sec
            .img-order
                margin: 0 auto
                margin-top: 95px
                padding: 10px
            &:hover, &:active
                .img-order
                    -webkit-filter: drop-shadow(0 0 0.75rem rgba(93,93,94,.7))
                    -moz-filter: drop-shadow(0 0 0.75rem rgba(93,93,94,.7))
                    -o-filter: drop-shadow(0 0 0.75rem rgba(93,93,94,.7))
                    filter: drop-shadow(0 0 0.75rem rgba(93,93,94,.7))
            h5
                color: #4e596b  
                font-weight: 600 
                margin-top: 45px
                



