@import "../../../sass/variables"
@import "../../../sass/mixins"

.shared_hosting
    .server_feature
        .server_img
            min-height: 450px
            width: 30%
            background-image: url(../img/vectorFeat.png)
            top: 200px
            left: 90px
        .servers-icon 
            .server_card
                margin-bottom: 20px
                .web-icon
                    padding-bottom: 30%
                    &.icon1
                        background: url(../img/web7.png) no-repeat right
                    &.icon2
                        background: url(../img/web9.png) no-repeat right
                    &.icon3
                        background: url(../img/web5.png) no-repeat right
                    &.icon4
                        background: url(../img/web13.png) no-repeat right
                    &.icon5
                        background: url(../img/web15.png) no-repeat right
                    &.icon6
                        background: url(../img/web16.png) no-repeat right
                        
                &:hover , &:active
                    h4
                        color: #25bb4d
                    .web-icon
                        &.icon1
                            background-position: left
                        &.icon2
                            background-position: left
                        &.icon3
                            background-position: left
                        &.icon4
                            background-position: left
                        &.icon5
                            background-position: left
                        &.icon6
                            background-position: left
                            
@media only screen and (max-width: 1199px)
    .shared_hosting
        .server_feature
            .server_img
                left: 70px


@media only screen and (max-width: 991px)
    .shared_hosting
        .server_feature
            .server_img
                left: 40px 
            .servers-icon 
                .server_card
                    margin-top: 40px 
                    
@media only screen and (max-width: 767px)
    .shared_hosting  
        .server_feature
            margin: 0 
            width: 100% 
            padding-bottom: 70px 
            .server_img
                display: none 
            .servers-icon 
                margin: 0 
                width: 100% 
                margin-top: 40px
                .server_card
                    .web-icon
                        &.icon1
                            padding-bottom: 5%
                        &.icon2
                            padding-bottom: 7%
                        &.icon3
                            padding-bottom: 5%
                        &.icon4
                            padding-bottom: 5%
                    p
                        min-height: 30px


