@import "../../../sass/variables"
@import "../../../sass/mixins"

.shared_hosting
    .server_plans
        background-color: #f8fdff
        padding-bottom: 10px
        .main-title
            background: none
            margin-top: 0
        .single-price
            width: 112%
            &:hover,&:active
                .price
                    color: #fff
                    background-color: #2071e8
                    h2
                        span
                            &.currency 
                                color: #fff
                    span
                        &.per 
                            color: #fff

                a
                    &.btn-price 
                        color: #fff
                        background-color: #25bb4d
                        border: 2px solid #25bb4d
                        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
                        text-decoration: none

 
                    
@media only screen and (max-width: 767px)
    .shared_hosting 
        .server_plans
            .single-price
                width: 100% 
    


