@import "../../../sass/variables"
@import "../../../sass/mixins"

.shared_hosting
    .why_servarena
        background: url(../img/bgwhyserver.png) no-repeat
        background-size: cover 
        padding-bottom: 10px
        .main-title
            background: none
            .title-group
                color: #fff
                h2
                    margin-bottom: 5px
                    font-size: 36px
                h3
                    font-size: 20px
        .why-content
            margin-bottom: 85px
            display: table
            img
                background: #f8f9fb
                vertical-align: middle
                padding: 15px
                border-radius: 15px
                float: right
                box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
                margin-left: 30px
                display: table-cell
            span
                vertical-align: middle
                display: table-cell
                color: #fff
