@import "../sass/variables"
@import "../sass/mixins"

/*
 **
 **
 ** Title 
 **
 ** 

.main-title 
    margin-top: 120px
    background: url(../img/border.png) no-repeat right
    padding-bottom: 20px
    .title-group
        margin-right: 20px
        padding-top: 10px
        h2
            font-weight: 700
            font-size: 38px
            margin-bottom: 0
        h3
            font-weight: 700
            margin-top: 0
            margin-bottom: 20px
            font-size: 24px
        p
            font-weight: 500
            
.sp-title
    margin-right: 20px 
    text-align: right
    color: #1d222f
    
.title-after 
    h3
        font-weight: 600 !important
        font-size: 24px !important
        padding-top: 60px
        color: #1d222f
        padding-bottom: 30px
        &:after 
            content: ""
            display: block
            margin: 0 auto
            width: 6%
            padding-top: 20px
            border-bottom: 2px solid #1d222f
/*
 **
 **features  
 **
 ** 

//img
.img-prop
    position: relative
    background-repeat: no-repeat
    background-size: contain
    
.img-right
    float: right 
    
.img-min-height
    min-height: 488px
    
.web-icon
    width: 60px
    height: 60px
    display: block
    position: relative
    padding-bottom: 15%
    +transition(all .8s ease-in-out)

//icon
.servers-icon 
    margin: 100px 0
    width: 70%
    float: left
    text-align-last: right
    text-align: right
    .server_card
        margin-bottom: 20px
//text
.h4_prop
    color: #1d222f
    font-weight: 700
    padding-bottom: 10px
.p_prop
    color: #4e596b
    font-weight: 300
    text-align: right !important
    text-align-last: right !important
    font-size: 12px
    min-height: 30px
    padding: 0 !important
    display: flex
//price
.card
    padding-bottom: 70px
    margin: 0 auto
    margin-bottom: 40px
    border: 1px solid rgb(224, 224, 224)
    background-color: rgb(255, 255, 255)
    width: 116%
    padding-bottom: 30px
    +transition(transform .2s)
    z-index: 2  
    &:hover , &:active
        +transform(translate(0,-10px))
        box-shadow: 0 0 25px #adabab
        z-index: 1
        position: relative
        
.price-header 
    background-color: #fff
    padding: 10px
    color: #1d222f
    height: 60px
    
.fontweight-bold
    font-weight: 700
    
.price-prop 
    text-decoration: none
    color: #25bb4d
    border: 2px solid rgb(227, 227, 227)
    padding: 5px 30px
    border-radius: 50px
    font-weight: 700
    +transition(all .15s ease-in-out)

.price 
    color: #1a1a1a
    height: 150px
    padding: 10px
    border: 1px solid rgb(224, 224, 224)
    background-color: rgb(248, 249, 251)
    border-left: none
    border-right: none
.font-headerprice
    font-weight: 500
    font-size: 50px
span
    &.currency 
        font-size: 18px
        padding-right: 4px
        vertical-align: super
        color: #4e596b
        font-weight: 500
        &:before
            content: "$"
            left: 0
            vertical-align: top
            position: relative
span
    &.per 
        color: #777779
        font-weight: 600

.ul-priceprop
    list-style: none
    margin: 0
    padding: 0
    text-align: center
    margin-bottom: 70px
.li-priceprop 
        padding-top: 30px
        color: #4e596b
        font-weight: 500
        font-size: 14px
        margin: 0 auto 

/*
 **
 **inside page
 **
 **

.page-content
    margin-top: -69px
    border: 0
    padding: 15px 0
    padding-bottom: 0
.server_feature
    background-color: #fff
    padding-bottom: 10px
/*
 **
 **web_prog page
 **
 **

.img-sector-prop
    padding: 20px
    background-size: contain
    background-repeat: no-repeat
    +transition(all 0.5s ease-in)
        
/*
 **
 *server_management page
 **
 **        
        
        
.manage-title
    h3
        font-weight: 600
        padding-bottom: 20px
    p
        font-weight: 500
        line-height: 2