
// FONTS

@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Light.woff2') format('woff2'),url('../fonts/Cairo-Light.woff') format('woff')
    font-weight: 300
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Regular.woff2') format('woff2'),url('../fonts/Cairo-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-SemiBold.woff2') format('woff2'),url('../fonts/Cairo-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-ExtraLight.woff2') format('woff2'),url('../fonts/Cairo-ExtraLight.woff') format('woff')
    font-weight: 200
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Black.woff2') format('woff2'),url('../fonts/Cairo-Black.woff') format('woff')
    font-weight: 900
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cairo'
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),url('../fonts/Cairo-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal