@import "../sass/variables"
@import "../sass/mixins"

/*
 **
 **
 ** footer_section 
 **
 ** 
.footer
    background: #1d222f
    color: #ffffff
    padding-top: 100px
    z-index: 1
    .footer-desc
        clear: both
        .footer-content
            padding-right: 10px
            h4
                font-weight: 600
                padding-bottom: 20px
            ul
                padding: 0
                li
                    color: #777779
                    font-weight: 500
                    list-style: none
                    padding-bottom: 15px
                    font-size: 16px
    .search-pos
        margin: 45px 30px 30px 0
        .footer-search 
            text-align: right
            .input-group
                &.add-on 
                    width: 100%
                    position: relative
                    input
                        &#srch-term
                            border-radius: 50px 
                            height: 55px
                            border: 2px solid rgb(119, 122, 130)
                            background-color: rgba(26, 30, 40,0.5)
                            color: #fff
                            &:placeholder
                                color: #777779
                        
                    button
                        &.btn-default
                            border-radius: 50px
                            background: #2d303a
                            border: none
                            color: #fff
                            position: absolute
                            padding: 10px 25px
                            top: 13%
                            left: 6px
                            z-index: 3
                            opacity: 1
                            +transition(all .7s ease-in-out)
                            &:hover, &:active
                                background-color: #f9cf00
                                color: #fff
                         
    .copy-right
        border-top: 1px solid #444546
        padding-top: 30px
        color: #afb1b7
        .payment
            span
                padding-left: 15px
                margin-bottom: 15px
                vertical-align: super
            img
                padding-left: 15px
                margin-bottom: 15px
        a
            
            display: inline-block
            color: #afb1b7
            i
                &.fab
                    font-size: 16px
                    margin-bottom: 15px
                    height: 30px
                    text-align: center
                    width: 30px
                    line-height: 30px
                    border-radius: 50%
                    border: 1px solid transparent
                    +transition(all 0.3s ease-out)
                    text-rendering: optimizeLegibility
                    &:hover ,&:active
                        &.fa-behance
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-instagram
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-pinterest-p
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-linkedin-in
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-google-plus-g
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-twitter
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                        &.fa-facebook-f
                            border: 1px solid rgb(54, 60, 76)
                            background-color: rgba(54, 60, 76, 0.2)
                    
                    
.navbar-form
    -webkit-box-shadow: none
    box-shadow: none
    
.chat-icon
    position: fixed
    bottom: 100px
    right: 60px
    z-index: 2
    width: 60px
    +transition(all .15s ease-in-out)
    .tooltip
        position: relative
        display: inline-block
        opacity: 1
        z-index: 1
        .tooltiptext
            font-family: 'Cairo', sans-serif
            visibility: hidden
            width: 120px
            text-align: center
            border-radius: 6px
            padding: 5px 0
            position: absolute
            z-index: 1
            width: 120px
            top: 10px
            right: 40%
            margin-left: -60px
            color: #f8f8f8
            font-size: 12px
            font-weight: 600
        &:hover
            .tooltiptext 
                visibility: visible
        &:active
            .tooltiptext 
                visibility: visible
        img
            &.chat-img
                padding-left: 10px
.chat-pos
    bottom: 20px !important
    
    
@media only screen and (max-width: 1199px)
    .chat-icon
        left: -15px    
@media only screen and (max-width: 767px)
    input
        &#srch-term 
            font-size: 12px
@media only screen and (max-width: 320px)
    input
        &#srch-term 
            font-size: 9px