@import "../sass/variables"
@import "../sass/mixins"
    
/*
 **
 **
 ** header 
 **
 **
.shrink
    background-color: #1d222f !important

.custom-row
    margin-right: -30px
    margin-left: -30px
    
.navbar-default 
    background-color: transparent
    border-color: rgba(132, 147, 172, 0.3)
    padding: 20px 0
    .navbar-header
        #logo
            display: inline-block
            font-size: 0
            text-align: center
            margin: 0 30px

            .navbar-brand 
                display: inline-block
                width: 132px
                height: 30px
                line-height: 30px
                font-size: 45px
                text-indent: -9999px
                background-image: url(../img/logo-ar.svg)
                background-repeat: no-repeat
                background-position: center center
                padding: 0
                margin: 10px 0

    .navbar-nav
        & > li
            & > a 
                color: #8493ac
                direction: ltr
                font-weight: 600
                &:hover,&:active,&:focus
                    color: #fff 
                &.clientBg
                    color: #f9cf00
                    &:hover,&:active,&:focus
                        color: #fff 
            & > .dropdown-menu
                border-radius: 5px
                text-align: center
                background-color: #1d222f
                top: 139%
                right: -33px
                & > li 
                    & > a
                        color: #fff
                        background-color: transparent
                        +transition(all .15s ease-in-out)
                        &:hover,&:active,&:focus
                            color: #afb1b7
                            text-decoration: none
                            background-color: transparent
                &:before
                    content: ''
                    display: block
                    width: 20px
                    height: 0
                    border-left: 12px solid transparent
                    border-right: 12px solid transparent
                    border-bottom: 12px solid #1d222f
                    margin: auto
                    +transform(translate(0,-15px))
                
                &.columns-3
                    min-width: 700px
                    padding: 30px 60px 0 60px
                    left: 50%
                    right: auto
                    text-align: center
                    +transform(translate(-50%, 0))
                    &:before
                        content: ''
                        display: block
                        width: 20px
                        height: 0
                        border-left: 12px solid transparent
                        border-right: 12px solid transparent
                        border-bottom: 12px solid #1d222f
                        margin: auto
                        +transform(translate(140px,-40px))
                       
         
        & > .active , .open
            & > a
                color: #fff 
                background-color: transparent
                &:hover,&:active,&:focus
                    color: #fff
                    background-color: transparent
    .navbar-toggle 
        border-color: transparent
        .icon-bar 
            background-color: #fff
        &:hover,&:active,&:focus
            background-color: transparent

.navbar-collapse.in 
    margin-top: 15px
    overflow: hidden
.navbar-collapse 
    ul
        &.nav
            &.navbar-nav 
                li
                    &.dropdown
                        z-index: 25000 !important
                        &.open 
                            margin-bottom: 10px 
                            position: static
.multi-column-dropdown 
    direction: rtl
    margin: 0px
    padding: 0px 
    list-style-type: initial
    color: #41444d
    font-size: 14px
    font-weight: 500
    
    li
        padding-bottom: 15px
        &.none
            list-style: none
            margin-right: -1em
            span
                &.title
                    color: #fff
                    padding-right: 10px
                    font-size: 16px
                    font-weight: 600
            .fas
                &.home
                    color: #fff
                &.server
                    color: #fff 
                &.phone-volume 
                    +transform(rotate(-45deg))
                    color: #fff
        a 
            display: block
            clear: both
            line-height: 2
            color: #afb1b7
            white-space: normal
            font-weight: 500
            &:hover,&:active,&:focus
                text-decoration: none
                color: #fff
            &.tel
                color: #25bb4d
                font-size: 18px
                font-weight: 700
                padding-right: 10px
                


span
    &.lang 
        color: #fff
        background: #3fbd83
        padding: 1px 2px 1px 7px
        border-radius: 12px 
    &.caret 
        margin-left: 15px
        color: #fff
        &.none
            display: none
            
/*
 **
 **
 ** Inside Pages
 **
 **
.inside_page
    .nav-inside
        background-color: #1d222f
        
@media only screen and (max-width: 1199px) 
    .navbar-nav
        & > li
            & > .dropdown-menu
                top: 120%
                &.columns-3 
                    left: 38%
                            
@media only screen and (max-width: 991px)  
    .navbar-nav
        & > li
            & > .dropdown-menu
                &.columns-3 
                    +transform(translate(-45%,120px))
                        
@media only screen and (max-width: 767px)
    .dropdown-menu.multi-column 
        min-width: 240px !important
        overflow-x: hidden  
        +transform(translate(0)) 
    .navbar-nav
        & > li
            & > .dropdown-menu
                &.columns-3 
                    +transform(translate(-3%, 0))
    .navbar-collapse.in 
        margin-top: 15px

@media only screen and (max-width: 480px)
    #logo
        .navbar-brand 
            width: 130px !important



@media only screen and (max-width: 320px)
    #logo
        .navbar-brand 
            width: 100px !important