@import "../../sass/variables"
@import "../../sass/mixins"


.clients
    position: relative
    .ourclient-title 
        .title-group
            margin-bottom: 100px
            margin-top: 100px
    .img-sec
        box-shadow: 0px 0px 5px 0px rgba(93, 93, 94, 0.2)
        height: 180px
        margin-bottom: 15px
        +transition(all .15s ease-in-out)
        img 
            margin: 0 auto
            padding-top: 35px
        
        &:hover
            box-shadow: -1.414px 1.414px 19px 0px rgba(93, 93, 94, 0.2)  
    a
        &.btn
            &.btn-default
                &.btn-lg
                    &.active
                        &.client 
                            color: #777779
                            background-color: #f4f6ff
                            padding: 15px 25px
                            border-radius: 25px
                            border: transparent
                            font-weight: 700
                            font-size: 12px
                            margin-top: 90px
                            margin-bottom: 70px
    #myModal
        margin-top: 140px
    .modal-content 
        background: #1d222f
        width: 900px
        left: 150px
    .modal-body 
        height: 300px
        p ,span
            color: #fff
            text-align: center
        p
            font-weight: 500
            font-size: 12px
            margin: 0 30px 15px 30px
        span
            font-weight: 700
            font-size: 14px  
        img
            +transform(translate(-400px,-50px))
            background: url(../img/identity.png) no-repeat bottom
            padding-bottom: 40px

.modal-backdrop
    &.fade.in 
        opacity: 0
        



@media only screen and (max-width: 991px)
    .clients 
        .modal-content 
            width: 700px
            left: 80px
        .modal-body 
            img 
                +transform(translate(-300px,-50px))
                    
@media only screen and (max-width: 767px)
    .clients 
        .modal-content 
            width: 300px
            left: 0
            right: 50px
            top: 60px
        .modal-body 
            img 
                +transform(translate(-90px,-50px))

