@import "../../sass/variables"
@import "../../sass/mixins"

.contact_web
    background: url(../img/contactweb_bg.png) 
    background-repeat: no-repeat
    height: 500px
    background-size: cover
    .slide-text 
        color: #fff
        -webkit-transform: translate(10px,65%)
        -moz-transform: translate(10px,65%)
        -ms-transform: translate(10px,65%)
        -o-transform: translate(10px,65%)
        transform: translate(10px,65%)
        text-align: right
        line-height: 1.5
        p
            margin-bottom: 50px
        a
            &.btn-contact 
                text-decoration: none
                color: #fff
                border: 2px solid #f9cf00
                background-color: #f9cf00
                padding: 5px 30px
                border-radius: 50px
                font-weight: 700
                +transition(all .15s ease-in-out)
                &:hover, &:active
                    color: #f9cf00
                    background-color: #fff
                    border: 2px solid #fff
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
                


                    
@media only screen and (max-width: 767px)
    .contact_web 
        .slide-img
            img 
                display: none
  

