@import "../../sass/variables"
@import "../../sass/mixins"


.feats_webdevelop
    background-color: #fff
    padding-bottom: 10px
    .web_feature
        .webFeat_img
            width: 45%
            background-image: url(../img/webfeat.png)
            margin: 60px -205px 0px 0px
        .webFeat-icon 
            margin: 150px 70px 100px 0
            width: 60%
            float: right
            text-align-last: right
            text-align: right
            .webFeat_card
                margin-bottom: 80px
                padding-left: 15px
                h4
                    color: #1d222f
                    font-weight: 700
                    padding-bottom: 10px
                    +transition(all .15s ease-in-out)
                p
                    color: #4e596b
                    font-weight: 300
                    text-align-last: right
                    font-size: 12px
                    padding: 0
                .web-icon
                    &.icon1
                        background: url(../img/web1.png) no-repeat right
                    &.icon2
                        background: url(../img/web2.png) no-repeat right
                    &.icon3
                        background: url(../img/web3.png) no-repeat right
                    &.icon4
                        background: url(../img/web4.png) no-repeat right
                    &.icon5
                        background: url(../img/web5.png) no-repeat right
                    &.icon6
                        background: url(../img/web6.png) no-repeat right
                &:hover , &:active
                    h4
                        color: #25bb4d
                    .web-icon
                        &.icon1
                            background-position: left
                        &.icon2
                            background-position: left
                        &.icon3
                            background-position: left
                        &.icon4
                            background-position: left
                        &.icon5
                            background-position: left
                        &.icon6
                            background-position: left
                            
                            


@media only screen and (max-width: 991px)
    .feats_webdevelop 
        .web_feature 
            .webFeat_img
                width: 40%
                margin: 60px -100px 0 0
        .webFeat-icon 
            .webFeat_card
                padding-left: 0
                    
@media only screen and (max-width: 767px)
    .feats_webdevelop 
        .web_feature 
            .webFeat_img     
                display: none