@import "../../sass/variables"
@import "../../sass/mixins"


.order_area
    background: url(../img/lines.svg) no-repeat
    position: relative
    background-position: center bottom
    overflow: hidden
    color: #fff
    padding-top: 80px
    padding-bottom: 10px
    background-color: #3741a0
    .order-title
        .title-group
            p
                font-weight: 600
                font-size: 20px
                padding-bottom: 40px
                color: #f4f6ff
    .btn-default
            &.active
                &.order
                    border: none
                    color: #fff
                    border-radius: 50px
                    background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
                    background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                    background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                    box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
                    +user-select(none)
                    font-size: 12px
                    font-weight: 700
                    padding: 12px 30px
                    opacity: 1
                    margin-bottom: 50px
                    +transition(all .15s ease-in-out)
                    &:hover ,&:active
                        opacity: 0.9
                        color: #fff
                    

