@import "../../sass/variables"
@import "../../sass/mixins"

.prog_slide
    background-image: -moz-linear-gradient( -135deg, rgb(58,41,134) 1%, rgb(102,205,246) 100%)
    background-image: -webkit-linear-gradient( -135deg, rgb(58,41,134) 1%, rgb(102,205,246) 100%)
    background-image: -ms-linear-gradient( -135deg, rgb(58,41,134) 1%, rgb(102,205,246) 100%)
    a
        &.btn-price
            color: #fff
            &:hover, &:active
                color: #444b9e
                background-color: #fff
                border: 2px solid #fff
                box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
                text-decoration: none

     
    .inside-content 
        position: relative
        min-height: 550px
        text-align: center
        z-index: 1
        padding: 165px 0 60px
    .slide-img 
        +transform(translate(60px,0))
        width: 500px
    .slide-text 
        color: #fff
        +transform(translate(-90px,45%))
        text-align: right
        line-height: 50px
        h2
            font-weight: 700
            font-size: 50px
        p
            width: 280px
            line-height: 2
            padding-bottom: 30px
            padding-top: 10px
            

@media only screen and (max-width: 1199px)
    .prog_slide 
        .slide-img 
            width: auto 
        .slide-text
            +transform(translate(-40px,45px))

@media only screen and (max-width: 991px)
    .prog_slide 
        .slide-img 
            +transform(translate(20px,40px))
        .slide-text
            +transform(translate(10px,65px))
                    
@media only screen and (max-width: 767px)
    .prog_slide 
        .slide-img 
            display: none
        .slide-text
            text-align: center
            p 
                width: auto


