@import "../sass/variables"
@import "../sass/mixins"

/*
 **
 **
 ** host_service
 **
 **
        
.host_service
    background-color: #1d222f
    color: #fff
    .hostService-content 
        padding-top: 30px
        h3 
            padding-bottom: 40px
            font-weight: 600
        p
            text-align: center
            -moz-text-align-last: center
            text-align-last: center
            font-weight: 500
            padding: 0 40px
        .nav-panel
            .nav-line  
                > .list-inline 
                    border: none
                    margin: 0px
                    display: inline-block
                    text-align: center
                    margin-bottom: 50px
                    > li 
                        margin-right: 10px
                        padding-bottom: 20px
                        text-align: center
                        width: auto
                        font-size: 16px
                        > a 
                            border: 0
                            margin-right: 0
                            border: 0
                            margin-right: 0
                            color: #777779
                            background-color: transparent
                            font-weight: 600
                            width: auto
                            border-bottom: 8px solid transparent
                            text-decoration: none
                        &.active
                            color: #26bc4d
                            border-bottom: 8px solid #26bc4d 

                            i 
                                color: #a6a6a6
                        &.open
                            border-bottom: 8px solid #fbcdcf
                            > a
                                border: 0
                                background: none !important
                                color: #26bc4d
                                > i
                                    color: #a6a6a6    
                        &:hover , &:active
                            border-bottom: 8px solid #26bc4d
                            font-size: 16px
                            > a
                                border: 0
                                background: none !important
                                color: #26bc4d
                                font-weight: 500
                                text-decoration: none
                                > i
                                    color: #26bc4d  
                        &.active
                            color: #26bc4d
                            border-bottom: 8px solid #26bc4d
                            position: relative
                            > a
                                border: 0
                                color: #26bc4d
                                > i
                                    color: #26bc4d
                                    
                                    
                                    
                                    
@media only screen and (max-width: 767px)
    .host_service
        .hostService-content
            .nav-panel
                .nav-line 
                    > .list-inline 
                        > li 
                            width: 20% 