@import "../sass/variables"
@import "../sass/mixins"

/*
 **
 **
 ** Inside Pages
 **
 **

.inside_slider
    background-image: url(../img/bginsideslider.png) 
    background-repeat: no-repeat
    direction: ltr
    position: relative
    margin-top: 96px
    height: 500px
    background-size: cover
    &.slick-dotted
        &.slick-slider 
            margin-bottom: 0
    .slide-text
        color: #fff
        +transform(translate(-200px, 220%))
        text-align: right
        h2
            font-size: 51px
            font-weight: 700
    .slide-img
        +transform(translate(60px, 20%))
    .slick-slide 
        min-height: 550px
        
@media only screen and (max-width: 1199px)
    
    .inside_slider 
        .slide-img 
            +transform(translate(60px,130px))
        .slide-text 
            +transform(translate(-25px,160px))

                    
@media only screen and (max-width: 767px)
   
    .inside_slider 
        .slide-text 
            +transform(translate(0,200px))
            text-align: center
        .slide-img 
            +transform(translate(60px,72px))
            img
                height: 0
  
@media only screen and (max-width: 575px)
    .inside_slider
        .slide-img 
            img
                height: 0

@media only screen and (max-width: 480px)
    .inside_slider
        .slide-text
            +transform(translate(0, 160%))

@media only screen and (max-width: 320px)
    .inside_slider
        .slide-text
            +transform(translate(0,100%))