.navbar-default .navbar-header h1#logo .navbar-brand {
  width: 165px;
  background-image: url(../img/logo.svg); }
.navbar-default .navbar-nav > li > .dropdown-menu.columns-3:before {
  -webkit-transform: translate(-170px, -40px);
  -moz-transform: translate(-170px, -40px);
  -ms-transform: translate(-170px, -40px);
  -o-transform: translate(-170px, -40px);
  transform: translate(-170px, -40px); }

span.lang {
  padding: 3px 7px; }

.features .img-continer span.line {
  float: right; }

.domains .domain .domain-title {
  text-align: left;
  background-position: left; }
.domains .domain .domain-search .input-group.add-on button.btn.btn-default {
  left: auto;
  right: 6px; }
.domains .domain .domain-search .input-group.add-on input#srch-term {
  text-align: left;
  padding-right: 100px; }

.why .why-title {
  background-position: left; }
.why .why-slider .why-content .why-img:before, .why .why-slider .why-content .why-img:after {
  content: "";
  display: table; }
.why .why-slider .why-content .why-img:after {
  clear: both; }
.why .why-slider .why-content .why-text {
  text-align: left !important;
  margin: 60px 0 50px 50px; }

.why .slick-slide img {
  float: right; }

.title-group {
  margin-right: 0 !important;
  margin-left: 20px !important; }

.details .detail-title {
  background-position: left !important; }

.services .service-title {
  background-position: left !important; }

.tech_services .service-title {
  background-position: left !important; }

.tech_services .tech-text {
  margin: 30px 0 20px 20px; }

.footer .search-pos .footer-search .input-group.add-on input#srch-term {
  padding-right: 108px; }
.footer .search-pos .footer-search .input-group.add-on button.btn.btn-default {
  left: auto;
  right: 8px; }

.inside_slider .slide-text {
  -webkit-transform: translate(10px, 220%);
  -moz-transform: translate(10px, 220%);
  -ms-transform: translate(10px, 220%);
  -o-transform: translate(10px, 220%);
  transform: translate(10px, 220%);
  text-align: left !important; }
.inside_slider .slide-img {
  float: right !important; }

.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .why_servarena .why-content {
  text-align: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .why_servarena .why-content img {
    margin-left: 0;
    margin-right: 30px; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .why_servarena .serverFeat-title {
  background-position: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .why_servarena .serverFeat-title .title-group {
    text-align: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_feature .serverFeat-title {
  background-position: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_feature .serverFeat-title .title-group {
    text-align: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_feature .server_img {
  float: left !important;
  left: auto !important;
  right: 90px !important;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_feature .servers-icon {
  -moz-text-align-last: left !important;
  text-align-last: left !important;
  text-align: left !important;
  float: right !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_feature .servers-icon .server_card p {
    -moz-text-align-last: left !important;
    text-align-last: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_plans .single-price .price h2 span.currency:before {
  left: 85px; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .about {
  text-align: left !important;
  margin-bottom: -450px; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .about .about-title {
    background-position: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .about .server_img {
    float: left !important;
    left: 450px;
    width: 155%;
    bottom: 450px; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .about .about-content {
    padding-right: 0;
    padding-left: 80px; }
    .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .about .about-content p {
      text-align: left !important;
      text-align-last: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .server_feature .serverFeat-title {
  background-position: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .server_feature .serverFeat-title .title-group {
    text-align: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .server_feature p {
  text-align: left !important;
  text-align-last: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .server_feature .server_img {
  float: left !important;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  left: 0; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .server_feature .servers-icon {
  float: right !important;
  text-align-last: left !important;
  text-align: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .server_feature .servers-icon .server_card p {
    text-align-last: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .start .start-content .step:after {
  right: auto !important;
  left: 50px; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_plans .single-price .price h2 span.currency:before {
  left: 85px; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_feature .serverFeat-title {
  background-position: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_feature .serverFeat-title .title-group {
    text-align: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_feature .server_img {
  float: left !important;
  left: auto !important;
  right: 90px !important;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_feature .servers-icon {
  -moz-text-align-last: left !important;
  text-align-last: left !important;
  text-align: left !important;
  float: right !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_feature .servers-icon .server_card p {
    -moz-text-align-last: left !important;
    text-align-last: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .server_feature .serverFeat-title {
  background-position: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .server_feature .serverFeat-title .title-group {
    text-align: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .server_feature .server_img {
  float: left !important;
  left: auto !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .server_feature .servers-icon {
  -moz-text-align-last: left !important;
  text-align-last: left !important;
  text-align: left !important;
  float: right !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .server_feature .servers-icon .server_card p {
    -moz-text-align-last: left !important;
    text-align-last: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .domains_details .tld ul {
  text-align: left;
  padding-left: 0; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .domains_details .tld ul li > span {
    float: right; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .security_feature .security-title {
  background-position: left !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .security_feature .security-title .title-group {
    text-align: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .security_feature .server_img {
  float: left !important;
  left: auto !important;
  right: 50px !important;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .security_feature .servers-icon {
  -moz-text-align-last: left !important;
  text-align-last: left !important;
  text-align: left !important;
  float: right !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .security_feature .servers-icon .server_card p {
    -moz-text-align-last: left !important;
    text-align-last: left !important; }
.host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .security_certificate .single-price {
  width: 116%; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .security_certificate .single-price .price h2 span.currency:before {
    left: 140px; }

@media only screen and (max-width: 1199px) {
  .chat-icon {
    left: unset;
    right: 0; }

  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_feature .server_img {
    right: 70px; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .about .server_img {
    min-height: 450px; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_plans .single-price {
    width: 116%; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_feature .server_img {
    min-height: 390px; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .server_feature .server_img {
    background-size: contain !important; } }
@media only screen and (max-width: 991px) {
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_1 .server_feature .server_img {
    right: 90px; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .about {
    margin-bottom: 0 !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_2 .server_feature .server_img {
    left: auto;
    right: 40px; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_3 .server_feature .server_img {
    right: 0px !important; }
  .host_service .hostService-content .nav-panel .nav-line > .page-content div#page_default_4 .server_feature .server_img {
    left: 50px !important; } }
@media only screen and (max-width: 767px) {
  .inside_slider .slide-text {
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    transform: translate(0, 200px); } }
@media only screen and (max-width: 480px) {
  .inside_slider .slide-text {
    -webkit-transform: translate(0, 160%);
    -moz-transform: translate(0, 160%);
    -ms-transform: translate(0, 160%);
    -o-transform: translate(0, 160%);
    transform: translate(0, 160%); }

  .footer .search-pos .footer-search .input-group.add-on input#srch-term {
    font-size: 10px; } }
@media only screen and (max-width: 320px) {
  .inside_slider .slide-text {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%); } }

/*# sourceMappingURL=styles-ltr.css.map */
