@import "../../sass/variables"
@import "../../sass/mixins"

/*
 **
 **
 ** app_page  
 **
 **
.app_slide
    background-image: -moz-linear-gradient( 30deg, rgb(249,185,73) 1%, rgb(241,118,63) 100%)
    background-image: -webkit-linear-gradient( 30deg, rgb(249,185,73) 1%, rgb(241,118,63) 100%)
    background-image: -ms-linear-gradient( 30deg, rgb(249,185,73) 1%, rgb(241,118,63) 100%)
    a
        &.btn-price 
            text-decoration: none
            color: #fff
            border: 2px solid #fff
            //padding: 5px 30px
            width: 103px
            border-radius: 50px
            font-weight: 700
            +transition(all .15s ease-in-out)
            &:hover
                color: #444b9e
                background-color: #fff
                border: 2px solid #fff
                box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
            &:active
                color: #444b9e
                background-color: #fff
                border: 2px solid #fff
                box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)

     
    .inside-content 
        position: relative
        min-height: 550px
        max-height: 650px
        text-align: center
        z-index: 1
        padding: 80px 60px 0
    .slide-img 
        +transform(translate(-35%,-70px))
        width: 500px
    .slide-text 
        color: #fff
        +transform(translate(-90px,40%))
        text-align: right
        line-height: 50px
        h2
            font-weight: 700
            font-size: 50px
        p
            width: 280px
            line-height: 2
            padding-bottom: 30px
            padding-top: 10px
            
@media only screen and (max-width: 1199px)
    .app_slide 
        .slide-img
            +transform(translate(-20%,-70px))
        .slide-text
            +transform(translate(-40px,85px))

@media only screen and (max-width: 991px)
    .app_slide 
        .slide-img
            +transform(translate(0%,-70px))
        .slide-text
            +transform(translate(10px,65px))
                    
@media only screen and (max-width: 767px)
    .app_slide 
        .slide-img
            img 
                display: none
        .slide-text 
            text-align: center
            +transform(translate(10px,10px))
            p
                width: auto
        

@media only screen and (max-width: 575px)

@media only screen and (max-width: 480px)

@media only screen and (max-width: 320px)
   