/* App page */
.app_slide
    .slide-img 
        //+transform(scaleX(-1) translate(-35%, -70px))
        +transform(scaleX(-1))
    .slide-text 
        +transform(translate(90px,40%))
        text-align: left
.prog_slide
    .slide-text 
        text-align: left
        
.green_slider 
    .slide-text
        text-align: left
    
        
.steps_text
    text-align: center  
.contact_ltr
    +transform(scaleX(-1))
.locations 
    .person
        top: -12.5em
    .cloud1,.cloud2
        top: -23em
@media  only screen and (min-width: 1600px) 
    .dalil_control
        +transform(translate(80em,-9em))     
    .dalil_logo 
        +transform(scaleX(-1) translate(-65em, -9em))
    .dalil_bg
        +transform(scaleX(-1) translate(-75em, -9em))
    .dalil_title
        +transform(rotateY(-180deg) translate(-80em,-8em)!important)
            
@media only screen and (max-width: 1199px)
    .app_slide 
        .slide-img
            //+transform(scaleX(-1) translate(0, -70px))
        .slide-text
            // +transform(translate(40px,85px))
    .our_work
        .smart_prop 
            +transform( rotateY(180deg) translate(14em,5em))
        .dalil_control 
            +transform(translate(5em,-9em))
        .dalil_title
            &.dalil_control 
                +transform(rotateY(180deg) translate(-8em, -9em))
        .app_store 
            left: -23em
        .counter_app 
            left: -16.5em
        .what_dalil 
            left: 8em

@media only screen and (max-width: 991px)
    .app_slide 
        .slide-img
            //  +transform(scaleX(-1) translate(10%,-70px))
        .slide-text
            // +transform(translate(-10px,65px))
    .our_work 
        .smart_prop 
            +transform(rotateY(180deg) translate(26em,15em))
        .app_store 
            left: 17em
        .counter_app 
            right: 1em
            left: 8em
        .what_dalil 
            left: 4em
                
    
@media only screen and (max-width: 767px)
    .our_work 
        .smart_prop 
            +transform(rotateY(180deg)  translate(5em,50em))
        .dalil_control 
            +transform(translate(-5em,-8em))
        .dalil_title
            &.dalil_control 
                +transform(rotateY(180deg) translate(2em, -8em))
        .counter_app
            left: 12em
    .app_slide 
        .slide-text 
            +transform(translate(-10px,10px))
    .locations 
        .cloud1,.cloud2
            top: -35em
            
.our_work
    +transform(rotateY(180deg))
    .main-title
        text-align: left
        background-position: left
        margin-right: 20px
    .what_dalil 
        left: 0
    .app_store
        left: -37em
        right: 0
    .counter_app
        right: 1em
        left: -27.5em
    .dalil_title ,.tech_uses,.what_dalil,
    .main-title ,.counter_app,.app_store,
    .smart_phone1,.smart_phone2,.smart_phone3,
    .smart_phone4,.smart_phone5,.smart_phone6,
    .smart_phone7,.smart_phone8
        +transform(rotateY(180deg))
    .smart_phone1
        background: url(../img/smartphone1-en.png) no-repeat 
    .smart_phone2
        background: url(../img/smartphone2-en.png) no-repeat
    .smart_phone3
        background: url(../img/smartphone3-en.png) no-repeat 
    .smart_phone4
        background: url(../img/smartphone4-en.png) no-repeat 
    .smart_phone5
        background: url(../img/smartphone5-en.png) no-repeat 
    .smart_phone6
        background: url(../img/smartphone6-en.png) no-repeat 
    .smart_phone7
        background: url(../img/smartphone7-en.png) no-repeat 
    .smart_phone8
        background: url(../img/smartphone8-en.png) no-repeat
    
                
@media only screen and (max-width: 575px)
    .our_work 
        .dalil_control 
            +transform(translate(-2em,-8em))
        .app_store 
            left: 13em
                
@media only screen and (max-width: 480px)
    .our_work 
        .dalil_control 
            +transform(translate(5em,-8em))
        .dalil_title
            &.dalil_control 
                +transform(rotateY(180deg) translate(-6em, -8em))
        .app_store,.counter_app
            left: 3em
    
@media only screen and (max-width: 320px)
    .our_work 
        .dalil_control 
            +transform(translate(7em,-8em))
        .dalil_title
            &.dalil_control 
                +transform(rotateY(180deg)translate(-7em, -8em))
                    