@import "../../sass/variables"
@import "../../sass/mixins"

.mobile_app
    background-color: #f4f6ff
    padding-top: 90px
    padding-bottom: 40px
    .app_content
        margin-bottom: 30px
        .fab
            color: #fff
            font-size: 45px
            height: 100px
            text-align: center
            width: 100px
            line-height: 100px
            border-radius: 50%
            border: 1px solid transparent
            margin-bottom: 35px
            &.fa-android
                background-color: #2db34b
            &.fa-apple
                background-color: #101315
            &.fa-windows
                background-color: #0caad4
        h4
            font-weight: 700
            color: #2d303a
            padding-bottom: 10px
        p
            font-weight: 500
            color: #4e596b
            padding-bottom: 40px
        a
            &.btn-price 
                color: #25bb4d
                background-color: #fff
        &:hover,&:active,&:focus
            .fab
                &.fa-android,&.fa-apple,&.fa-windows
                    box-shadow: 0px 4px 13px 2px hsla(180, 33%, 1%, .2)
            a
                &.btn-price 
                    color: #fff
                    background-color: #25bb4d
                    border: 2px solid #25bb4d
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
                    text-decoration: none
            
            
