@import "../../sass/variables"
@import "../../sass/mixins"

.our_work
    height: 100%
    min-height: 125em
    min-width: 100%
    position: relative
    background: url(../img/dalilappbg.png) no-repeat
    background-position-y: 10em
    background-position-x: -120px
    .dalil_logo , .dalil_bg , .elem1,
    .elem2,.elem3,.elem4,.elem5,.elem6,
    .elem7,.elem8,.dalil_title,.what_dalil,
    .tech_uses,.app_bg,.smart_phone1,.smart_phone2,
    .smart_phone3,.smart_phone4,.smart_phone5,
    .smart_phone6,.smart_phone7,.smart_phone8,.counter_app ,
    .app_store
        position: absolute
    .dalil_logo
        background: url(../img/dalillogo.png) no-repeat
        width: 22em
        height: 15em
        -webkit-filter: drop-shadow(0px 5px 10px hsla(0,0%,0%,.25))
        filter: drop-shadow(0px 5px 10px hsla(0,0%,0%,.25))
        top: 34em
        z-index: 2
        right: 0
        +transition(all 0.5s ease-in-out)
        &:hover
            .elem1
                width: 15em
                +transition(all 0.5s ease-in-out)
            .elem2
                width: 8em
                +transition(all 0.5s ease-in-out)
                
            
    .dalil_bg
        background: url(../img/dalillogobg.png) no-repeat
        width: 30em
        height: 15em
        z-index: 1
        top: 30em
        right: 0
    .elem1
        background: url(../img/dalilbg/half_circle.png) no-repeat
        width: 13em
        height: 1em
        z-index: 3
        top: 37.7em
        right: 0
    .elem2
        background: url(../img/dalilbg/purple_triangle.png) no-repeat
        width: 10em
        height: 2em
        z-index: 3
        top: 33em
        right: 0
    .elem3
        background: url(../img/dalilbg/blue_ellipse.png) no-repeat
        width: 14em
        height: 2em
        z-index: 3
        top: 28em
        right: 0
    .elem4
        background: url(../img/dalilbg/green_circle.png) no-repeat
        width: 17em
        height: 2em
        z-index: 3
        top: 31em
        right: 0
    .elem5
        background: url(../img/dalilbg/orange_rectangle.png) no-repeat
        width: 22em
        height: 2em
        z-index: 3
        top: 27em
        right: 0
    .elem6
        background: url(../img/dalilbg/green_triangle.png) no-repeat
        width: 29em
        height: 2em
        z-index: 3
        top: 30em
        right: 0
    .elem7
        background: url(../img/dalilbg/red_circle.png) no-repeat
        width: 28.5em
        height: 2em
        z-index: 3
        top: 35.5em
        right: 0
    .elem8
        background: url(../img/dalilbg/dark_orange_rectangle.png) no-repeat
        width: 27.5em
        height: 2em
        z-index: 3
        top: 40em
        right: 0
    .dalil_app
        +transition(all 0.5s ease-in-out)
        &:hover
            .elem1
                +transform(translate(4em,1em))
            .elem2
                +transform(translate(1em,1em))
            .elem3
                +transform(translate(-1em,4em))
            .elem4
                +transform(translate(-3em,-2em))
            .elem5
                +transform(translate(-5em,4em))
            .elem6
                +transform(translate(0em,9em))
            .elem7
                +transform(translate(2em,1em))
            .elem8
                +transform(translate(16em,2em))
    .dalil_title 
        top: 44em
        right: 12em
        h2
            color: #494c55
            font-weight: 500
            span
                color: #2aab4a
                font-weight: 800
                
    .app_title
        color: #2d303a
        font-weight: 700
    .app_content
        color: #4e596b
        font-weight: 500
        line-height: 2
    .what_dalil
        top: 53em
        right: 6em
        .app_content
            font-size: 12px
    .tech_uses
        top: 83em
        right: 6em
        ul
            list-style: none
            padding: 0
            li
                color: #4e596b
                font-weight: 500
                font-size: 12px
                display: inline-block
                width: 45%
                &:before
                    content: "\f00c"
                    color: #98daa4
                    font-size: 12px
                    font-family: FontAwesome
                    padding-left: 10px
    .smart_prop
        width: 43em
        height: 30em
        z-index: 3
    .smart_phone1
        background: url(../img/smartphone1.png) no-repeat
        top: 46em
        left: -17.9em
        opacity: 0
    .smart_phone2
        background: url(../img/smartphone2.png) no-repeat
        top: 45.5em
        left: 12em
        opacity: 0
    .smart_phone3
        background: url(../img/smartphone3.png) no-repeat
        top: 93em
        right: -22.5em
        opacity: 0
    .smart_phone4
        background: url(../img/smartphone4.png) no-repeat
        top: 62em
        right: -22em
        opacity: 0
    .smart_phone5
        background: url(../img/smartphone5.png) no-repeat
        top: 26em
        left: 15.5em
        opacity: 0
    .smart_phone6
        background: url(../img/smartphone6.png) no-repeat
        top: 5em
        left: 18em
        opacity: 0
    .smart_phone7
        background: url(../img/smartphone7.png) no-repeat
        top: 4em
        left: -12em
        opacity: 0
    .smart_phone8
        background: url(../img/smartphone8.png) no-repeat
        top: 23em
        left: -17em
        opacity: 0
    .counter_app 
        top: 98em
        right: 34.5em
        width: 100%
        left: 1em
        h2
            font-weight: 700
            color: #1d222f
        span
            color: #1d222f
            font-weight: 600
            font-size: 12px
            
    .app_store 
        top: 108em
        right: 37em
        left: 0
        width: 100%
        
@media only screen and (max-width: 1199px)
    .our_work
        padding-top: 60px
        background-position-y: 14em
        background-position-x: -190px
        .main-title
            margin-top: 0
        .smart_prop 
            +transform(translate(-14em,5em))
        .dalil_control 
            +transform(translate(5em,-9em))
        .smart_phone3
            height: 0
            opacity: 1
        .smart_phone4 
            top: 53em
            right: -46em
        .what_dalil
            right: 3em
        .counter_app 
            right: 0
        .app_store 
            right: 1em
        .dalil_app
            +transition(all 0.5s ease-in-out)
            &:hover
                .elem1
                    +transform(translate(8em,-12em))
                .elem2
                    +transform(translate(4em,-12em))
                .elem3
                    +transform(translate(3em,-9em))
                .elem4
                    +transform(translate(2em,-11em))
                .elem5
                    +transform(translate(2em,-9em))
                .elem6
                    +transform(translate(5em,-6em))
                .elem7
                    +transform(translate(7em,-5em))
                .elem8
                    +transform(translate(23em,-8em))
            
@media only screen and (max-width: 991px)
    .our_work 
        min-height: 110em
        background-position-y: 20em
        background-position-x: -370px
        .smart_prop 
            +transform(translate(-26em,15em))
        .what_dalil 
            top: 45em
        .tech_uses 
            top: 63em
            right: 3em
        .smart_phone4 
            top: 55em
            right: -55em
        .app_content 
            margin-bottom: 16em
        .counter_app
            right: 28em
            top: 88em
            width: 60%
            h2 
                font-size: 22px
            span
                font-size: 12px
        .app_store 
            right: 28em
            top: 96em
            width: 35%
    
                    
@media only screen and (max-width: 767px)
    .our_work 
        min-height: 160em
        background-position-y: 50em
        background-position-x: -270px
        .dalil_control 
            +transform(translate(-5em,-8em))
        .smart_prop 
            +transform(translate(-5em,50em))
        .what_dalil
            text-align: center
            top: 43em
            right: 6em
            left: 6em
        .tech_uses 
            top: 125em
        .app_content 
            margin-bottom: 0
        .counter_app 
            right: 2em
            top: 142em
            width: 50%
            h2 
                font-size: 20px
            span
                font-size: 10px
        .app_store 
            right: 2em
            top: 150em
            width: 35%
        .dalil_app
            +transition(all 0.5s ease-in-out)
            &:hover
                .elem1
                    +transform(translate(-2em,-10em))
                .elem2
                    +transform(translate(-7em,-10em))
                .elem3
                    +transform(translate(-8em,-7em))
                .elem4
                    +transform(translate(-18em,-5em))
                .elem5
                    +transform(translate(-10em,-5em))
                .elem6
                    +transform(translate(5em,-6em))
                .elem7
                    +transform(translate(-4em,-5em))
                .elem8
                    +transform(translate(14em,-8em))
            

        

@media only screen and (max-width: 575px)
    .our_work 
        .dalil_control 
            +transform(translate(-2em,-8em))
        .what_dalil 
            right: 5em
            left: 5em
        .app_store 
            width: 40%

@media only screen and (max-width: 480px)
    .our_work 
        background-position-y: 55em
        background-position-x: -390px
        .dalil_control 
            +transform(translate(5em,-8em))
        .counter_app 
            top: 143em
            width: 80%
        .app_store 
            top: 150em
            width: 80%
        .tech_uses 
            ul 
                li
                    font-size: 10px
                    width: 95%
        .dalil_app
            +transition(all 0.5s ease-in-out)
            &:hover
                .elem1
                    +transform(translate(6em,-10em))
                .elem2
                    +transform(translate(-7em,-14em))
                .elem3
                    +transform(translate(5em,-7em))
                .elem4
                    +transform(translate(-3em,2em))
                .elem5
                    +transform(translate(0em,-3em))
                .elem6
                    +transform(translate(9em,-1em))
                .elem7
                    +transform(translate(24em,-5em))
                .elem8
                    +transform(translate(20em,-6em))

@media only screen and (max-width: 320px)
    .our_work 
        .dalil_control 
            +transform(translate(7em,-8em))
        .tech_uses
            ul 
                li 
                    font-size: 10px
    
@media only screen and (min-width: 1600px)
    .our_work .dalil_app
        position: absolute
        top: 0
    .our_work .what_dalil , .our_work .tech_uses
        right: 35em
    
        