@import "../../sass/variables"
@import "../../sass/mixins"

.work_slider_container
    position: relative
    background-color: #1d222f
    //height: 250px
    margin-bottom: 0 !important
    overflow: visible
    .slick-slider
        overflow: visible !important    
    .slick-list
        overflow: visible !important
    .slide-img
        img
            margin-top: -150px
            height: 400px
    .slide-text
        padding-top: 40px
        img 
            height: 40px
            width: 40px
        h5
            color: #fff
            font-weight: 700
        ul
            color: #777779
            list-style: none
            padding: 0
            li
                font-weight: 500
                font-size: 12px
                &:before
                    content: "\f00c"
                    color: #98daa4
                    font-size: 12px
                    font-family: FontAwesome
                    padding-left: 10px
    .slick-dots
        li
            margin: 0
            button
                &:before
                    font-size: 10px
                    color: #fff
                    top: -40px
                    right: 170px
            &.slick-active 
                button
                    &:before
                        opacity: 1
                        color: #f9cf00 
    .slick-prev, .slick-next 
        top: 225px
    
@media only screen and (max-width: 767px)
    .work_slider
        height: 200px
   
        .slide-img
            img
                margin-top: -100px
                height: 300px
        .slide-text
            padding-top: 20px
            img 
                height: 20px
                width: 20px
            h5
                font-size: 12px
            ul
                li
                    font-weight: 500
                    font-size: 8px
        .slick-dots
            li
                button
                    &:before
                        font-size: 8px
                        top: -40px
                        right: 140px
@media only screen and (max-width: 575px)
    .work_slider
        height: 170px
        .slide-text
            h5
                font-size: 8px
            ul
                li
                    font-size: 7px
        .slide-img 
            img 
                margin-top: -80px
                height: 250px
                transform: translate(30px,0)
        .slick-dots
            li
                button
                    &:before
                        top: -30px
                        right: 110px
                    
@media only screen and (max-width: 480px)
    .work_slider
        height: 140px
        .slide-text
            h5
                font-size: 5px
            ul
                li
                    font-size: 5px
                    &:before
                        font-size: 6px
        .slide-img 
            img 
                margin-top: -80px
                height: 210px
                transform: translate(35px,10px)
        .slick-dots
            li
                button
                    &:before
                        top: -40px
                        right: 75px
                        font-size: 6px
    
@media only screen and (max-width: 320px)
    .work_slider
        .slick-dots
            li
                button
                    &:before
                        top: -25px
    
                