@import "../../sass/variables"
@import "../../sass/mixins"

.condition 
    margin-top: -31px
    background: #f4f4f4
    padding-top: 80px
    .section-title
        color: #2d303a
        font-weight: 600
        padding-bottom: 55px
    .section-desc
        color: #4e596b
        font-weight: 500
        font-size: 15px
        padding-bottom: 95px
    .tab-contentProp 
        padding-top: 80px
        text-align: right
        padding-bottom: 60px
    .tab-contentTitle
        color: #2d303a
        font-weight: 700
        font-size: 16px
    .ul-tabContent
        list-style: decimal
    .li-tabContent
        color: #4e596b
        font-weight: 500
        font-size: 13px
        line-height: 35px
            
    .ul-dashed 
        list-style-type: none
        > li 
            text-indent: -5px
            &:before 
                content: "-"
                text-indent: -5px
    .tab-content-bg
        background: #fff
    .tablink-prop, li.active>a
        font-size: 15px
        font-weight: 500
        color: #bcbcbc
        background-color: transparent
        border-color: transparent
        border-bottom: 5px solid transparent 
        &:hover , &:active ,&:focus
            font-weight: 700
            color: #2071e8
            border-color:  transparent
            background-color: transparent
            border-bottom: 5px solid #2071e8
            
    .nav-tabs
        border-bottom: none
        >li 
            float: none
            display: inline-block   
            >a
                padding-bottom: 25px
                margin: auto 25px
                
                
@media only screen and (max-width: 1199px)
    .condition 
        .nav-tabs
            >li  
                >a
                    margin: auto 
    
      

    
    