.navbar-default .navbar-header h1#logo .navbar-brand {
  width: 165px;
  background-image: url(../img/logo.svg); }
.navbar-default .navbar-nav > li > .dropdown-menu.columns-3 {
  left: 0;
  right: auto;
  -webkit-transform: translate(-20%, 0);
  -moz-transform: translate(-20%, 0);
  -ms-transform: translate(-20%, 0);
  -o-transform: translate(-20%, 0);
  transform: translate(-20%, 0); }
  .navbar-default .navbar-nav > li > .dropdown-menu.columns-3:before {
    -webkit-transform: translate(-170px, -40px);
    -moz-transform: translate(-170px, -40px);
    -ms-transform: translate(-170px, -40px);
    -o-transform: translate(-170px, -40px);
    transform: translate(-170px, -40px); }

span.lang {
  padding: 3px 7px; }

.features .feat-content .img-continer span.line {
  float: right; }

.domains .domain .domain-search .input-group.add-on button.btn.btn-default {
  left: auto;
  right: 6px; }
.domains .domain .domain-search .input-group.add-on input#srch-term {
  text-align: left;
  padding-right: 100px; }

.slick-next {
  right: 39%; }

.slick-prev {
  left: 55%; }

.why .why-slider .why-content .why-img {
  float: right; }
  .why .why-slider .why-content .why-img:before, .why .why-slider .why-content .why-img:after {
    content: "";
    display: table; }
  .why .why-slider .why-content .why-img:after {
    clear: both; }
.why .why-slider .why-content .why-text {
  text-align: left !important;
  margin: 60px 0 50px 50px; }

.why .slick-slide img {
  float: left; }

.main-title {
  background-position: left;
  text-align: left; }
  .main-title .title-group {
    margin-right: 0;
    margin-left: 20px;
    text-align: left; }

.tech_services .tech-text {
  margin: 30px 0 20px 20px; }

.footer .search-pos .footer-search .input-group.add-on input#srch-term {
  text-align: left; }
.footer .search-pos .footer-search .input-group.add-on .btn.btn-default {
  left: auto;
  right: 8px; }

.green_slider .slide-text {
  text-align: left !important; }
.green_slider .slide-img {
  float: right !important; }

.why_servarena .why-content {
  text-align: left !important; }
  .why_servarena .why-content span {
    padding-left: 20px; }
.why_servarena .serverFeat-title .title-group {
  text-align: left; }
.why_servarena .serverFeat-title img {
  margin-left: 0;
  margin-right: 30px; }

.server_feature .server_img {
  float: left !important;
  left: 0 !important;
  right: auto !important;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
.server_feature .servers-icon {
  -moz-text-align-last: left !important;
  text-align-last: left !important;
  text-align: left !important;
  float: right !important; }
  .server_feature .servers-icon .server_card p {
    -moz-text-align-last: left !important;
    text-align-last: left !important; }

.server_plans .single-price .price h2 span.currency:before {
  left: 85px; }

.about {
  text-align: left !important; }
  .about .server_img {
    float: left !important;
    left: 10%;
    width: 155%; }
  .about .about-content {
    padding-right: 0;
    padding-left: 80px; }
    .about .about-content p {
      text-align: left !important;
      text-align-last: left !important; }

.start .start-content .step:after {
  right: auto !important;
  left: 50px; }

.server_plans .single-price .price h2 span.currency:before {
  left: 85px; }

.domains_details .tld ul {
  text-align: left;
  padding-left: 0; }
  .domains_details .tld ul li > span {
    float: right; }

.security_feature .server_img {
  float: left !important;
  left: auto !important;
  right: 50px !important;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
.security_feature .servers-icon {
  -moz-text-align-last: left !important;
  text-align-last: left !important;
  text-align: left !important;
  float: right !important; }
  .security_feature .servers-icon .server_card p {
    -moz-text-align-last: left !important;
    text-align-last: left !important; }

.security_certificate .single-price {
  width: 116%; }
  .security_certificate .single-price .price h2 span.currency:before {
    left: 140px; }

.map-title {
  margin-left: 75px;
  margin-right: 0; }

.our_work {
  transform: rotateY(180deg); }

@media only screen and (max-width: 1199px) {
  .chat-icon {
    left: unset;
    right: 0; }

  .server_feature .server_img {
    left: 0; }

  .about .server_img {
    min-height: 450px; }

  .server_plans .single-price {
    width: 116%; }

  .server_feature .server_img {
    min-height: 390px; }

  .server_feature .server_img {
    background-size: contain !important; } }
@media only screen and (max-width: 991px) {
  .about {
    margin-bottom: 0 !important; }

  .server_feature .server_img {
    left: auto;
    right: 40px; }

  .server_feature .server_img {
    right: 0px !important; }

  .server_feature .server_img {
    left: 0 !important; }

  .slick-next {
    right: 30%; }

  .slick-prev {
    left: 60%; } }
@media only screen and (max-width: 767px) {
  .slick-next, .slick-prev {
    top: 580px; }

  .navbar-default .navbar-nav > li > .dropdown-menu.columns-3 {
    -webkit-transform: translate(1%, 0);
    -moz-transform: translate(1%, 0);
    -ms-transform: translate(1%, 0);
    -o-transform: translate(1%, 0);
    transform: translate(1%, 0); } }
@media only screen and (max-width: 575px) {
  .slick-next, .slick-prev {
    top: 580px; } }
@media only screen and (max-width: 480px) {
  .footer .search-pos .footer-search .input-group.add-on input#srch-term {
    font-size: 10px; }

  .slick-next, .slick-prev {
    top: 530px; } }
@media only screen and (max-width: 320px) {
  .slick-next, .slick-prev {
    top: 500px; } }
/* App page */
.app_slide .slide-img {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }
.app_slide .slide-text {
  -webkit-transform: translate(90px, 40%);
  -moz-transform: translate(90px, 40%);
  -ms-transform: translate(90px, 40%);
  -o-transform: translate(90px, 40%);
  transform: translate(90px, 40%);
  text-align: left; }

.prog_slide .slide-text {
  text-align: left; }

.green_slider .slide-text {
  text-align: left; }

.steps_text {
  text-align: center; }

.contact_ltr {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }

.locations .person {
  top: -12.5em; }
.locations .cloud1, .locations .cloud2 {
  top: -23em; }

@media only screen and (min-width: 1600px) {
  .dalil_control {
    -webkit-transform: translate(80em, -9em);
    -moz-transform: translate(80em, -9em);
    -ms-transform: translate(80em, -9em);
    -o-transform: translate(80em, -9em);
    transform: translate(80em, -9em); }

  .dalil_logo {
    -webkit-transform: scaleX(-1) translate(-65em, -9em);
    -moz-transform: scaleX(-1) translate(-65em, -9em);
    -ms-transform: scaleX(-1) translate(-65em, -9em);
    -o-transform: scaleX(-1) translate(-65em, -9em);
    transform: scaleX(-1) translate(-65em, -9em); }

  .dalil_bg {
    -webkit-transform: scaleX(-1) translate(-75em, -9em);
    -moz-transform: scaleX(-1) translate(-75em, -9em);
    -ms-transform: scaleX(-1) translate(-75em, -9em);
    -o-transform: scaleX(-1) translate(-75em, -9em);
    transform: scaleX(-1) translate(-75em, -9em); }

  .dalil_title {
    -webkit-transform: rotateY(-180deg) translate(-80em, -8em) !important;
    -moz-transform: rotateY(-180deg) translate(-80em, -8em) !important;
    -ms-transform: rotateY(-180deg) translate(-80em, -8em) !important;
    -o-transform: rotateY(-180deg) translate(-80em, -8em) !important;
    transform: rotateY(-180deg) translate(-80em, -8em) !important; } }
@media only screen and (max-width: 1199px) {
  .our_work .smart_prop {
    -webkit-transform: rotateY(180deg) translate(14em, 5em);
    -moz-transform: rotateY(180deg) translate(14em, 5em);
    -ms-transform: rotateY(180deg) translate(14em, 5em);
    -o-transform: rotateY(180deg) translate(14em, 5em);
    transform: rotateY(180deg) translate(14em, 5em); }
  .our_work .dalil_control {
    -webkit-transform: translate(5em, -9em);
    -moz-transform: translate(5em, -9em);
    -ms-transform: translate(5em, -9em);
    -o-transform: translate(5em, -9em);
    transform: translate(5em, -9em); }
  .our_work .dalil_title.dalil_control {
    -webkit-transform: rotateY(180deg) translate(-8em, -9em);
    -moz-transform: rotateY(180deg) translate(-8em, -9em);
    -ms-transform: rotateY(180deg) translate(-8em, -9em);
    -o-transform: rotateY(180deg) translate(-8em, -9em);
    transform: rotateY(180deg) translate(-8em, -9em); }
  .our_work .app_store {
    left: -23em; }
  .our_work .counter_app {
    left: -16.5em; }
  .our_work .what_dalil {
    left: 8em; } }
@media only screen and (max-width: 991px) {
  .our_work .smart_prop {
    -webkit-transform: rotateY(180deg) translate(26em, 15em);
    -moz-transform: rotateY(180deg) translate(26em, 15em);
    -ms-transform: rotateY(180deg) translate(26em, 15em);
    -o-transform: rotateY(180deg) translate(26em, 15em);
    transform: rotateY(180deg) translate(26em, 15em); }
  .our_work .app_store {
    left: 17em; }
  .our_work .counter_app {
    right: 1em;
    left: 8em; }
  .our_work .what_dalil {
    left: 4em; } }
@media only screen and (max-width: 767px) {
  .our_work .smart_prop {
    -webkit-transform: rotateY(180deg) translate(5em, 50em);
    -moz-transform: rotateY(180deg) translate(5em, 50em);
    -ms-transform: rotateY(180deg) translate(5em, 50em);
    -o-transform: rotateY(180deg) translate(5em, 50em);
    transform: rotateY(180deg) translate(5em, 50em); }
  .our_work .dalil_control {
    -webkit-transform: translate(-5em, -8em);
    -moz-transform: translate(-5em, -8em);
    -ms-transform: translate(-5em, -8em);
    -o-transform: translate(-5em, -8em);
    transform: translate(-5em, -8em); }
  .our_work .dalil_title.dalil_control {
    -webkit-transform: rotateY(180deg) translate(2em, -8em);
    -moz-transform: rotateY(180deg) translate(2em, -8em);
    -ms-transform: rotateY(180deg) translate(2em, -8em);
    -o-transform: rotateY(180deg) translate(2em, -8em);
    transform: rotateY(180deg) translate(2em, -8em); }
  .our_work .counter_app {
    left: 12em; }

  .app_slide .slide-text {
    -webkit-transform: translate(-10px, 10px);
    -moz-transform: translate(-10px, 10px);
    -ms-transform: translate(-10px, 10px);
    -o-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px); }

  .locations .cloud1, .locations .cloud2 {
    top: -35em; } }
.our_work {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }
  .our_work .main-title {
    text-align: left;
    background-position: left;
    margin-right: 20px; }
  .our_work .what_dalil {
    left: 0; }
  .our_work .app_store {
    left: -37em;
    right: 0; }
  .our_work .counter_app {
    right: 1em;
    left: -27.5em; }
  .our_work .dalil_title, .our_work .tech_uses, .our_work .what_dalil,
  .our_work .main-title, .our_work .counter_app, .our_work .app_store,
  .our_work .smart_phone1, .our_work .smart_phone2, .our_work .smart_phone3,
  .our_work .smart_phone4, .our_work .smart_phone5, .our_work .smart_phone6,
  .our_work .smart_phone7, .our_work .smart_phone8 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .our_work .smart_phone1 {
    background: url(../img/smartphone1-en.png) no-repeat; }
  .our_work .smart_phone2 {
    background: url(../img/smartphone2-en.png) no-repeat; }
  .our_work .smart_phone3 {
    background: url(../img/smartphone3-en.png) no-repeat; }
  .our_work .smart_phone4 {
    background: url(../img/smartphone4-en.png) no-repeat; }
  .our_work .smart_phone5 {
    background: url(../img/smartphone5-en.png) no-repeat; }
  .our_work .smart_phone6 {
    background: url(../img/smartphone6-en.png) no-repeat; }
  .our_work .smart_phone7 {
    background: url(../img/smartphone7-en.png) no-repeat; }
  .our_work .smart_phone8 {
    background: url(../img/smartphone8-en.png) no-repeat; }

@media only screen and (max-width: 575px) {
  .our_work .dalil_control {
    -webkit-transform: translate(-2em, -8em);
    -moz-transform: translate(-2em, -8em);
    -ms-transform: translate(-2em, -8em);
    -o-transform: translate(-2em, -8em);
    transform: translate(-2em, -8em); }
  .our_work .app_store {
    left: 13em; } }
@media only screen and (max-width: 480px) {
  .our_work .dalil_control {
    -webkit-transform: translate(5em, -8em);
    -moz-transform: translate(5em, -8em);
    -ms-transform: translate(5em, -8em);
    -o-transform: translate(5em, -8em);
    transform: translate(5em, -8em); }
  .our_work .dalil_title.dalil_control {
    -webkit-transform: rotateY(180deg) translate(-6em, -8em);
    -moz-transform: rotateY(180deg) translate(-6em, -8em);
    -ms-transform: rotateY(180deg) translate(-6em, -8em);
    -o-transform: rotateY(180deg) translate(-6em, -8em);
    transform: rotateY(180deg) translate(-6em, -8em); }
  .our_work .app_store, .our_work .counter_app {
    left: 3em; } }
@media only screen and (max-width: 320px) {
  .our_work .dalil_control {
    -webkit-transform: translate(7em, -8em);
    -moz-transform: translate(7em, -8em);
    -ms-transform: translate(7em, -8em);
    -o-transform: translate(7em, -8em);
    transform: translate(7em, -8em); }
  .our_work .dalil_title.dalil_control {
    -webkit-transform: rotateY(180deg) translate(-7em, -8em);
    -moz-transform: rotateY(180deg) translate(-7em, -8em);
    -ms-transform: rotateY(180deg) translate(-7em, -8em);
    -o-transform: rotateY(180deg) translate(-7em, -8em);
    transform: rotateY(180deg) translate(-7em, -8em); } }

/*# sourceMappingURL=styles-ltr.css.map */
