@import "../sass/variables"
@import "../sass/mixins"

.order_mobileapp
    background: url(../img/mobileapp_order.png) , #f0b426 no-repeat
    background-attachment: fixed
    background-position: center top
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    color: #f4f6ff
    padding-top: 60px
    background-blend-mode: overlay
    box-shadow: 0px -1px 6px 4px rgba(29, 34, 47, 0.2)
    .mobileapp-title
        p
            padding-bottom: 40px
            font-size: 16px
            font-weight: 600
    .btn-dangar
        &.active
            &.mobile_app 
                border: none
                color: #fff
                border-radius: 50px
                background: -moz-linear-gradient(-180deg, rgb(249,66,58) 100%, rgb(249,207,0) 0%)
                background-image: -webkit-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                background-image: -ms-linear-gradient(-180deg, rgb(249,66,58) 100%,rgb(249,207,0) 0%)
                box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
                +user-select(none)
                font-size: 10px
                font-weight: 700
                padding: 12px 40px
                opacity: 1
                margin-bottom: 40px
                +transition(all .15s ease-in-out)
                &:hover ,  &:active
                    opacity: 0.9
                    color: #fff