@import "../../sass/variables"
@import "../../sass/mixins"

.our_work
    height: 100%
    min-height: 100em
    min-width: 100%
    position: relative
    .dalil_logo , .dalil_bg , .elem1,
    .elem2,.elem3,.elem4,.elem5,.elem6,
    .elem7,.elem8,.dalil_title
        position: absolute
    .dalil_logo
        background: url(../img/dalillogo.png) no-repeat
        width: 22em
        height: 15em
        -webkit-filter: drop-shadow(0px 5px 10px hsla(0,0%,0%,.25))
        filter: drop-shadow(0px 5px 10px hsla(0,0%,0%,.25))
        top: 34em
        z-index: 2
        right: 0
    .dalil_bg
        background: url(../img/dalillogobg.png) no-repeat
        width: 30em
        height: 15em
        z-index: 1
        top: 30em
        right: 0
    .elem1
        background: url(../img/dalilbg/half_circle.png) no-repeat
        width: 13em
        height: 1em
        z-index: 3
        top: 37.7em
        right: 0
    .elem2
        background: url(../img/dalilbg/purple_triangle.png) no-repeat
        width: 10em
        height: 2em
        z-index: 3
        top: 33em
        right: 0
    .elem3
        background: url(../img/dalilbg/blue_ellipse.png) no-repeat
        width: 14em
        height: 2em
        z-index: 3
        top: 28em
        right: 0
    .elem4
        background: url(../img/dalilbg/green_circle.png) no-repeat
        width: 17em
        height: 2em
        z-index: 3
        top: 31em
        right: 0
    .elem5
        background: url(../img/dalilbg/orange_rectangle.png) no-repeat
        width: 22em
        height: 2em
        z-index: 3
        top: 27em
        right: 0
    .elem6
        background: url(../img/dalilbg/green_triangle.png) no-repeat
        width: 29em
        height: 2em
        z-index: 3
        top: 30em
        right: 0
    .elem7
        background: url(../img/dalilbg/red_circle.png) no-repeat
        width: 28.5em
        height: 2em
        z-index: 3
        top: 35.5em
        right: 0
    .elem8
        background: url(../img/dalilbg/dark_orange_rectangle.png) no-repeat
        width: 27.5em
        height: 2em
        z-index: 3
        top: 40em
        right: 0
    .dalil_title 
        top: 44em
        right: 12em
        h2
            color: #494c55
            font-weight: 500
            span
                color: #2aab4a
                font-weight: 800
                
    .tech_uses
        ul
            list-style: none
            padding: 0
            li
                color: #4e596b
                font-weight: 500
                font-size: 12px
                &:before
                    content: "\f00c"
                    color: #98daa4
                    font-size: 12px
                    font-family: FontAwesome
                    padding-left: 10px
        
        