@import "../sass/variables"
@import "../sass/mixins"

.statistics
    padding-bottom: 40px
    .main-title
        margin-top: unset
    .statistic_content
        padding-top: 70px
        .statis_content
            .statis-img 
                padding-bottom: 30px
                i 
                    color: #fff
                    background: #000
                    padding: 30px
                    border-radius: 25px
                    &.fa-user
                        background-image: -moz-linear-gradient( -135deg, rgb(250, 6, 64) 0%, rgb(230,161,80) 100%)
                        background-image: -webkit-linear-gradient( -135deg, rgb(250, 6, 64) 0%, rgb(230,161,80) 100%)
                        background-image: -ms-linear-gradient( -135deg, rgb(250, 6, 64) 0%, rgb(230,161,80) 100%)

                    &.fa-handshake
                        background: -moz-linear-gradient(-135deg,#e6a150 0,#fa0640 100%),#78b623
                        background: -webkit-linear-gradient(-135deg,#e6a150 0,#fa0640 100%),#78b623
                        background: -ms-linear-gradient(-135deg,#e6a150 0,#fa0640 100%),#78b623
                        background-blend-mode: exclusion
                    &.fa-building
                        background: -moz-linear-gradient(-135deg,#fa0640 0,#e6a150 100%),#f99529
                        background: -webkit-linear-gradient(-135deg,#fa0640 0,#e6a150 100%),#f99529
                        background: -ms-linear-gradient(-135deg,#fa0640 0,#e6a150 100%),#f99529
                        background-blend-mode: lighten
                    &.fa-globe-americas
                        background: -moz-linear-gradient(-135deg,#f81d51 0,#ffbb6b 100%),#50d1dd
                        background: -webkit-linear-gradient(-135deg,#f81d51 0,#ffbb6b 100%),#50d1dd
                        background: -ms-linear-gradient(-135deg,#f81d51 0,#ffbb6b 100%),#50d1dd
                        background-blend-mode: luminosity
                        //text-shadow: #4bccd8 1px -1px 0, #4bccd8 2px -2px 0, #4bccd8 3px -3px 0, #4bccd8 4px -4px 0, #4bccd8 5px -5px 0, #4bccd8 6px -6px 0, #4bccd8 7px -7px 0, #4bccd8 8px -8px 0, #4bccd8 9px -9px 0, #4bccd8 10px -10px 0, #4bccd8 11px -11px 0, #4bccd8 12px -12px 0, #4bccd8 13px -13px 0, #4bccd8 14px -14px 0, #4bccd8 15px -15px 0, #4bccd8 16px -16px 0, #4bccd8 17px -17px 0, #4bccd8 18px -18px 0, #4bccd8 19px -19px 0, #4bccd8 20px -20px 0, #4bccd8 21px -21px 0, #4bccd8 22px -22px 0, #4bccd8 23px -23px 0, #4bccd8 24px -24px 0, #4bccd8 25px -25px 0,#4bccd8 -1px -1px 0, #4bccd8 -2px -2px 0, #4bccd8 -3px -3px 0, #4bccd8 -4px -4px 0, #4bccd8 -5px -5px 0, #4bccd8 -6px -6px 0, #4bccd8 -7px -7px 0, #4bccd8 -8px -8px 0, #4bccd8 -9px -9px 0, #4bccd8 -10px -10px 0, #4bccd8 -11px -11px 0, #4bccd8 -12px -12px 0, #4bccd8 -13px -13px 0, #4bccd8 -14px -14px 0, #4bccd8 -15px -15px 0, #4bccd8 -16px -16px 0, #4bccd8 -17px -17px 0, #4bccd8 -18px -18px 0, #4bccd8 -19px -19px 0, #4bccd8 -20px -20px 0, #4bccd8 -21px -21px 0, #4bccd8 -22px -22px 0, #4bccd8 -23px -23px 0, #4bccd8 -24px -24px 0, #4bccd8 -25px -25px 0
            .statis-desc
                color: #1d222f
                .counter-num
                    font-size: 30px
                    font-weight: 700
                .statis-title
                    font-size: 10px
                    font-weight: 600
            &:hover
                .statis-img 
                    i
                        box-shadow: 0px 4px 13px 0px rgba(1, 2, 2, 0.2)
                .statis-desc
                    &.statis1
                        color: #f84239
                    &.statis2
                        color: #86ae4f
                    &.statis3
                        color: #f9b24d
                    &.statis4
                        color: #4bccd8
                        
                        
                

      

