@import "../../sass/variables"
@import "../../sass/mixins"

.step_bulid_app
    height: 100%
    min-height: 65em
    min-width: 100%
    position: relative
    .step-title
        padding-top: 80px
        h3
            font-weight: 600 
            padding-bottom: 25px
    .step-text
        p
            font-weight: 500
            margin-bottom: 185px
    

    .tube_channel,.first_circle,.second_circle,.third_circle,
    .last_circle,.final_circle,.mobile_app,.first_text,
    .sec_text,.third_text,.fourth_text,.last_text
        position: absolute
    .tube_channel
        background: url(../img/tube.png) no-repeat
        width: 100%
        height: 20em
        top: 30em
        left: 22em
        background-size: contain
        z-index: 1
        +transition(all .8s ease-in-out)
    .first_circle
        background: url(../img/first_circle.png) no-repeat
        width: 100%
        height: 5em
        top: 37em
        left: 56em
        z-index: 2
        background-size: contain
        +transition(all .8s ease-in-out) 
    .second_circle
        background: url(../img/second_circle.png) no-repeat
        width: 100%
        height: 5em
        top: 29em
        left: 51em
        z-index: 2
        background-size: contain
        +transition(all .8s ease-in-out) 
    .third_circle
        background: url(../img/third_circle.png) no-repeat
        width: 100%
        height: 5em
        top: 46em
        left: 46em
        z-index: 2
        background-size: contain
        +transition(all .8s ease-in-out)
    .last_circle
        background: url(../img/last_circle.png) no-repeat
        width: 100%
        height: 5em
        top: 29em
        left: 39em
        z-index: 2
        background-size: contain
        +transition(all .8s ease-in-out) 
    .final_circle
        background: url(../img/final_circle1.png) no-repeat
        width: 100%
        height: 11em
        top: 33em
        left: 20em
        z-index: 2
        background-size: contain
        +transition(all .8s ease-in-out)
    .mobile_app
        background: url(../img/mobile_app.png) no-repeat
        width: 100%
        height: 14em
        top: 30em
        left: 15em
        z-index: 3
        background-size: contain
        +transition(all .8s ease-in-out) 
    .steps_text
        h2
            font-weight: 800
        h5
            font-weight: 600
            color: #1d222f
        h6
            font-size: 11px
            font-weight: 400
            color: #4e596b
            line-height: 1.8
    .first_text 
        left: 60em
        top: 34em
        z-index: 3
        .steps_text
            h2
                color: #e84b3c
    .sec_text
        left: 51em
        top: 18em
        z-index: 3
        .steps_text
            h2
                color: #ffd700
    .third_text
        left: 44em
        top: 48em
        z-index: 3
        .steps_text
            h2
                color: #a3c539
    .fourth_text
        left: 23em
        top: 22em
        z-index: 3
        .steps_text
            h2
                color: #33adff
    .last_text
        left: 17em
        top: 43em
        z-index: 3
        .steps_text
            h2
                color: #dadada
        
        
@media only screen and (max-width: 1199px)
    .step_bulid_app    
        .diagram
            transform: translate(-9em,1em)


@media only screen and (max-width: 991px)
    .step_bulid_app
        min-height: 80em
        .tube_channel
            background: url(../img/tube_tablet.png) no-repeat
            height: 70em
            top: 30em
            left: 25em
        .first_circle
            top: 36.5em
            left: 46em
        .second_circle
            top: 40em
            left: 36em
        .third_circle
            top: 48em
            left: 56em
        .last_circle
            top: 56em
            left: 36em
        .final_circle
            top: 70em
            left: 41em
            height: 13em
        .mobile_app
            top: 70em
            left: 36em
        .first_text 
            left: 51em
            top: 26em
        .sec_text
            left: 23em
            top: 34em
        .third_text
            left: 60em
            top: 45em
        .fourth_text
            left: 23em
            top: 50em
        .last_text
            left: 54em
            top: 70em
        .diagram 
            transform: translate(-14em,-10em)

                    
@media only screen and (max-width: 767px)
    .step_bulid_app
        min-height: 58em
        .tube_channel
            background: url(../img/tube_mobile.png) no-repeat
            height: 50em
            top: 30em
            left: 30em
        .first_circle
            top: 29em
            left: 34em
            height: 4em
        .second_circle
            top: 32em
            left: 29em
            height: 4em
        .third_circle
            top: 35em
            left: 38.5em
            height: 4em
        .last_circle
            top: 39.5em
            left: 28.5em
            height: 4em
        .final_circle
            top: 45em
            left: 32em
            height: 9em
        .mobile_app
            top: 44.5em
            left: 29em
            height: 4em
        .first_text 
            left: 37em
            top: 25em
        .sec_text
            left: 12em
            top: 27em
        .third_text
            left: 38em
            top: 34em
        .fourth_text
            left: 12em
            top: 36em
        .last_text
            left: 24em
            top: 55em
        .diagram 
            transform: translate(-10em,-10em)
        .steps_text
            h2
                font-size: 24px
            h5
                font-size: 11px
            h6
                font-size: 9px
        

@media only screen and (max-width: 575px)
   
    .step_bulid_app 
        .diagram 
            transform: translate(-13em,-10em) 

@media only screen and (max-width: 480px)
    .step_bulid_app
        min-height: 65em
        .first_text 
            top: 23em
        .sec_text
            left: 19em
            top: 26em
        .third_text
            left: 37em
        .fourth_text
            left: 19em
            top: 37em
        .last_text
            left: 28em
            top: 58em
        .diagram 
            transform: translate(-19em,-4em)

@media only screen and (max-width: 320px)
    
    .step_bulid_app 
        .diagram 
            transform: translate(-24em,-4em)
        .steps_text
            transform: translate(3em,0em)
            width: 70%
            h6
                font-size: 6px
