@import "../../sass/variables"
@import "../../sass/mixins"

.contact_campany
    background-color: #f4f6ff
    padding-bottom: 40px
    .contact-text
        padding-top: 80px
        h3
            color: #1d222f
            font-weight: 600
            padding-bottom: 40px
        p
            color: #4e596b
            font-weight: 500
            padding-bottom: 60px
    .form-border
        border: 2px solid rgba(119, 122, 130, 0.1)
        border-radius: 25px
        padding: 20px
    .form-border
        &::placeholder
            color: #777779
            font-weight: 500
            font-size: 13px
    .form-title
        margin-bottom: 10px
        font-size: 15px
        color: #1d222f
    .contact-btn 
        border-radius: 25px
        float: left
        font-weight: 700
//    input[required] + label
//        &:after 
//            content: '*'
//            color: red