@import "../../sass/variables"
@import "../../sass/mixins"
.locations
    padding-top: 103px
    padding-bottom: 80px
    position: relative
    .loc-text
        .loc-title
            font-weight: 700
            color: #1d222f
        .locate
            color: #4e596b
            font-weight: 500
            font-size: 11px
            line-height: 2
            list-style: square
            padding-right: 25px
            
    .cloud1 ,.cloud2 ,.person 
        position: absolute
        z-index: 1
    .cloud1
        background: url(../img/cloud1.png) no-repeat
        width: 100%
        height: 40px
        top: 20px
        left: 445px
        +transition(all .8s ease-in-out)
    .cloud2
        background: url(../img/cloud2.png) no-repeat
        width: 100%
        height: 100px
        top: 30px
        left: 0
        +transition(all .8s ease-in-out)
    .countries
        position: relative 
        z-index: 2
    .person
        background: url(../img/personbbg.png) no-repeat
        width: 100%
        height: 500px
        top: 195px
        left: 0
        +transition(all .8s ease-in-out)
            
@media only screen and (max-width: 1199px)            
    .locations 
        .person 
            top: 210px
@media only screen and (max-width: 767px)            
    .locations 
        .person 
            top: 510px 
            left: -70px
        .cloud1
            left: 300px
            
            
     
        