@import "../../sass/variables"
@import "../../sass/mixins"

.headerbg
    background: #1d222f
#map
    width: 100%
    height: 550px
    position: relative
.map-title
    position: absolute
    top: 5px
    color: #fff
    margin-right: 75px
    h2
        font-weight: 600 !important
        
        
@media only screen and (max-width: 767px) 
    .map-title 
        top: -40px
        
        
        