@import "../../sass/variables"
@import "../../sass/mixins"


.managment_plan
    background: url(../img/managment_planbg.png) no-repeat
    background-size: cover
    .manage-title
        padding-top: 40px
        color: #f4f6ff
        padding-bottom: 35px
    .card
        padding-left: 20px
        width: auto
        padding-bottom: 70px
        .price-header
            background-color: transparent
            height: 0
            padding-top: 50px
            padding-bottom: 25px
            .fontweight-bold
                font-size: 16px
        .ul-priceprop
            text-align: left
            height: 450px
            padding-left: 15px
        .price-prop
            padding: 8px 28px
        .plan_price
            margin-top: -50px
            padding-right: 20px
            font-weight: 600
            float: right
            h2
                font-size: 60px
                font-weight: 600
        &:hover
            transform: translate(0,0)
            box-shadow: 0px 1px 0px 2px hsla(220, 5%, 24%, 0.25)
            background-color: #1d222f
            border: 1px solid transparent
            .price-header
                color: #fff
            .price-prop
                color: #fff
                background-color: #25bb4d
                border: 1px solid transparent
                text-decoration: none
            .li-priceprop
                color: #777779
            .plan_price
                color: #fff
            .currency
                &:before 
                    color: #fff
                
@media only screen and (max-width: 1199px)
    .managment_plan 
        .card
            .ul-priceprop
                height: 500px
                
@media only screen and (max-width: 991px)
    .managment_plan 
        .card
            .ul-priceprop
                height: 600px
                
@media only screen and (max-width: 480px)                
    .managment_plan 
        .card 
            .plan_price
                margin-top: -25px
                h2
                    font-size: 30px
            
            
        