@import "../../sass/variables"
@import "../../sass/mixins"

.manage_server
    padding-bottom: 110px
    .manage-title
        padding-top: 110px
        h3
            color: #1d222f
        p
            color: #4e596b
    .server_services 
        padding-top: 175px
        .service_content
            margin-bottom: 50px
            &:hover
                .manage-img
                    -webkit-filter: drop-shadow(-4px 5px 1px rgba(63,63,68,.2))
                    filter: drop-shadow(-4px 5px 1px rgba(63,63,68,.2))
        .servermanage-title
            padding-top: 40px
            color: #1d222f
            font-weight: 700
            font-size: 16px
            padding-bottom: 20px
        .manage-content
            color: #4e596b
            font-size: 12px
            font-weight: 500
            line-height: 2