@import "../../sass/variables"
@import "../../sass/mixins"



.server_slide
    background-image: -moz-linear-gradient( 30deg, #6dab8f 1%, #98d6ba 100%)
    background-image: -webkit-linear-gradient( 30deg, #6dab8f 1%, #98d6ba 100%)
    background-image: -ms-linear-gradient( 30deg, #6dab8f 1%, #98d6ba 100%)
.server_slide 
    .slide-img
        +transform(translate(-10%,-70px))


@media only screen and (max-width: 1199px)
    .server_slide 
        .slide-img
            +transform(translate(4%,-70px))
        .slide-text
            +transform(translate(-40px,145px))

@media only screen and (max-width: 991px)
    .server_slide 
        .slide-img
            +transform(translate(100px,-70px))
        .slide-text
            +transform(translate(10px,100px))
                
                
@media only screen and (max-width: 767px) 
    .server_slide 
        .slide-text 
            +transform(translate(10px,10px))