@import "../../sass/variables"
@import "../../sass/mixins"

.table_info
    padding-top: 100px
    .tabbable-panel
        .nav
            background-color: #1d222f 
            &.nav-pills
                >li
                    >a 
                        padding: 46.2px
                        color: #9296ab
                        font-size: 14px
                        font-weight: 500
                        &:hover,&:focus,&:active
                            background-color: #25bb4d
                            color: #e4f7e9
        .table_icon
            display: block
            text-align: center
            font-size: 18px
            padding-bottom: 10px
        .data_table
            padding-bottom: 80px
            thead
                border: 1px solid rgba(119, 122, 130, 0.1)
                th
                    font-size: 16px
                    font-weight: 700
                    padding: 15px
                    color: #1d222f
            tbody 
                border: 1px solid #e0e7ee
                .feature
                    font-weight: 600
                    font-size: 12px
                td
                    font-size: 10px
                    font-weight: 500
                    color: #4e596b
                    height: 10em
                    vertical-align: middle
                    padding-right: 22px
                    i
                        font-size: 16px
                        &.fa-times
                            color: #fd7070
                        &.fa-check
                            color: #98daa4
                            
@media only screen and (max-width: 480px) 
    .table_info
        .nav
            &.nav-pills
                >li
                    float: unset
                    >a
                        text-align: center
    
    
            