// MIXINS

=backface-visibility($backfaceVisibility)
    -webkit-backface-visibility: $backfaceVisibility
    -moz-backface-visibility: $backfaceVisibility
    backface-visibility: $backfaceVisibility

=appearance($appearance)
    -webkit-appearance: $appearance
    -moz-appearance: $appearance
    appearance: $appearance

=box-shadow($boxShadow)
    -webkit-box-shadow: $boxShadow
    box-shadow: $boxShadow

=filter-drop-shadow($dropShadow)
    -webkit-filter: drop-shadow($dropShadow)
    -moz-filter: drop-shadow($dropShadow)
    filter: drop-shadow($dropShadow)

=transition($transition)
    -webkit-transition: $transition
    -moz-transition: $transition
    -ms-transition: $transition
    -o-transition: $transition
    transition: $transition

=animation($animation)
    -webkit-animation: $animation
    -moz-animation: $animation
    -ms-animation: $animation
    -o-animation: $animation
    animation: $animation
    
=transform($transform)
    -webkit-transform: $transform
    -moz-transform: $transform
    -ms-transform: $transform
    -o-transform: $transform
    transform: $transform

=rotate($rotate)
    -webkit-transform: rotate($rotate + deg)
    -moz-transform: rotate($rotate + deg)
    -ms-transform: rotate($rotate + deg)
    -o-transform: rotate($rotate + deg)
    transform: rotate($rotate + deg)

=rotateY($rotateY)
    -webkit-transform: rotateY($rotateY + deg)
    -moz-transform: rotateY($rotateY + deg)
    -ms-transform: rotateY($rotateY + deg)
    -o-transform: rotateY($rotateY + deg)
    transform: rotateY($rotateY + deg)

=scale($scale)
    -webkit-transform: scale($scale)
    -moz-transform: scale($scale)
    -ms-transform: scale($scale)
    -o-transform: scale($scale)
    transform: scale($scale)

=scaleX($scaleX)
    -webkit-transform: scaleX($scaleX)
    -moz-transform: scaleX($scaleX)
    -ms-transform: scaleX($scaleX)
    -o-transform: scaleX($scaleX)
    transform: scaleX($scaleX)

=translate($translate)
    -webkit-transform: translate($translate)
    -moz-transform: translate($translate)
    -ms-transform: translate($translate)
    -o-transform: translate($translate)
    transform: translate($translate)

=translateY($translateY)
    -webkit-transform: translateY($translateY)
    -moz-transform: translateY($translateY)
    -ms-transform: translateY($translateY)
    -o-transform: translateY($translateY)
    transform: translateY($translateY)

=translateX($translateX)
    -webkit-transform: translateX($translateX)
    -moz-transform: translateX($translateX)
    -ms-transform: translateX($translateX)
    -o-transform: translateX($translateX)
    transform: translateX($translateX)

=translate3d($translate3d)
    -webkit-transform: -webkit-translate3d($translate3d)
    -webkit-transform: translate3d($translate3d)
    -moz-transform: translate3d($translate3d)
    -ms-transform: translate3d($translate3d)
    -o-transform: translate3d($translate3d)
    transform: translate3d($translate3d)

=perspective($perspective)
    -webkit-perspective: $perspective
    -moz-perspective: $perspective
    -ms-perspective: $perspective
    -o-perspective: $perspective
    perspective: $perspective

=transform-style($transformStyle)
    -webkit-transform-style: $transformStyle
    -moz-transform-style: $transformStyle
    -ms-transform-style: $transformStyle
    -o-transform-style: $transformStyle
    transform-style: $transformStyle

=user-select($userSelect)
    -webkit-touch-callout: $userSelect
    -webkit-user-select: $userSelect
    -khtml-user-select: $userSelect
    -moz-user-select: $userSelect
    -ms-user-select: $userSelect
    user-select: $userSelect
    

=font-smoothing($fontSmoothing)
    -webkit-font-smoothing: $fontSmoothing
    -moz-font-smoothing: $fontSmoothing
    -ms-font-smoothing: $fontSmoothing
    -o-font-smoothing: $fontSmoothing
    font-smoothing: $fontSmoothing

=border-radius($borderRadius)
    -webkit-border-radius: $borderRadius
    -moz-border-radius: $borderRadius
    border-radius: $borderRadius

=filter($filter)
    -webkit-filter: $filter
    -moz-filter: $filter
    -ms-filter: $filter
    -o-filter: $filter
    filter: $filter

=drop-shadow($dropShadow)
    -webkit-filter: drop-shadow($dropShadow)
    -moz-filter: drop-shadow($dropShadow)
    -ms-filter: drop-shadow($dropShadow)
    -o-filter: drop-shadow($dropShadow)
    filter: drop-shadow($dropShadow)