@import variables
@import mixins

.navbar-default
    .navbar-header
        h1
            &#logo
                .navbar-brand
                    width: 165px
                    background-image: url(../img/logo.svg)
    .navbar-nav
        & > li
            & > .dropdown-menu
                &.columns-3 
                    &:before
                        +transform(translate(-170px,-40px))
span
    &.lang 
        padding: 3px 7px
        
.features 
    .img-continer
        span
            &.line
                float: right

.domains
    .domain
        .domain-title
            text-align: left
            background-position: left
        
        .domain-search
            .input-group
                &.add-on
                    button.btn.btn-default
                        left: auto
                        right: 6px
                    
                    input#srch-term
                        text-align: left
                        padding-right: 100px

.why
    .why-title
        background-position: left
            
    .why-slider
        .why-content
            .why-img
                &:before,
                &:after
                    content: ""
                    display: table
                
                &:after
                    clear: both
            
            .why-text
                text-align: left !important
                margin: 60px 0 50px 50px

.why
    .slick-slide
        img
            float: right

.title-group
    margin-right: 0 !important
    margin-left: 20px !important


.details
    .detail-title
        background-position: left !important

.services
    .service-title
        background-position: left !important

.tech_services
    .service-title
        background-position: left !important

.tech_services
    .tech-text
        margin: 30px 0 20px 20px

.footer
    .search-pos
        .footer-search
            .input-group
                &.add-on
                    input#srch-term
                        padding-right: 108px
                    button.btn.btn-default
                        left: auto
                        right: 8px
.inside_slider
    .slide-text
        +transform(translate(10px,220%))
            
        text-align: left !important
    .slide-img
        float: right !important 
.host_service
    .hostService-content
        .nav-panel
            .nav-line
                & > .page-content   
                    div
                        &#page_default_1
                            .why_servarena  
                                .why-content
                                    text-align: left !important

                                    img
                                        margin-left: 0
                                        margin-right: 30px

                                .serverFeat-title
                                    background-position: left !important

                                    .title-group
                                        text-align: left !important

                            .server_feature
                                .serverFeat-title
                                    background-position: left !important

                                    .title-group
                                        text-align: left !important

                                .server_img
                                    float: left !important
                                    left: auto !important
                                    right: 90px !important
                                    -moz-transform: scaleX(-1)
                                    -o-transform: scaleX(-1)
                                    -webkit-transform: scaleX(-1)
                                    transform: scaleX(-1)
                                    filter: FlipH
                                    -ms-filter: "FlipH"

                                .servers-icon
                                    -moz-text-align-last: left !important
                                    text-align-last: left  !important     
                                    text-align: left !important
                                    float: right !important

                                    .server_card
                                        p
                                            -moz-text-align-last: left !important
                                            text-align-last: left !important
                            .server_plans 
                                .single-price 
                                    .price 
                                        h2 
                                            span
                                                &.currency
                                                    &:before
                                                        left: 85px

                        &#page_default_2
                            .about
                                text-align: left !important
                                margin-bottom: -450px 
                                .about-title
                                    background-position: left !important

                                .server_img
                                    float: left!important
                                    left: 450px
                                    width: 155%
                                    bottom: 450px

                                .about-content
                                    padding-right: 0
                                    padding-left: 80px

                                    p
                                        text-align: left !important
                                        text-align-last: left !important

                            .server_feature
                                .serverFeat-title
                                    background-position: left !important

                                    .title-group
                                        text-align: left !important

                                p
                                    text-align: left !important
                                    text-align-last: left !important


                                .server_img 
                                    float: left !important
                                    -moz-transform: scaleX(-1)
                                    -o-transform: scaleX(-1)
                                    -webkit-transform: scaleX(-1)
                                    transform: scaleX(-1)
                                    filter: FlipH
                                    -ms-filter: "FlipH"
                                    left: 0
                                .servers-icon
                                    float: right !important
                                    text-align-last: left !important
                                    text-align: left !important

                                    .server_card
                                        p
                                            text-align-last: left !important
                        &#page_default_3
                            .start
                                .start-content
                                    .step
                                        &:after
                                            right: auto !important
                                            left: 50px
                            .server_plans 
                                .single-price 
                                    .price 
                                        h2 
                                            span
                                                &.currency
                                                    &:before
                                                        left: 85px
                            .server_feature
                                .serverFeat-title
                                    background-position: left !important

                                    .title-group
                                        text-align: left !important

                                .server_img
                                    float: left !important
                                    left: auto !important
                                    right: 90px !important
                                    -moz-transform: scaleX(-1)
                                    -o-transform: scaleX(-1)
                                    -webkit-transform: scaleX(-1)
                                    transform: scaleX(-1)
                                    filter: FlipH
                                    -ms-filter: "FlipH"

                                .servers-icon
                                    -moz-text-align-last: left !important
                                    text-align-last: left  !important     
                                    text-align: left !important
                                    float: right !important

                                    .server_card
                                        p
                                            -moz-text-align-last: left !important
                                            text-align-last: left !important
                        &#page_default_4 
                            .server_feature
                                .serverFeat-title
                                    background-position: left !important

                                    .title-group
                                        text-align: left !important

                                .server_img
                                    float: left !important
                                    left: auto !important

                                .servers-icon
                                    -moz-text-align-last: left !important
                                    text-align-last: left  !important     
                                    text-align: left !important
                                    float: right !important

                                    .server_card
                                        p
                                            -moz-text-align-last: left !important
                                            text-align-last: left !important
                            .domains_details
                                .tld 
                                    ul
                                        text-align: left
                                        padding-left: 0
                                        li
                                            & > span
                                                float: right
                            .security_feature
                                .security-title
                                    background-position: left !important

                                    .title-group
                                        text-align: left !important

                                .server_img
                                    float: left !important
                                    left: auto !important
                                    right: 50px !important
                                    -moz-transform: scaleX(-1)
                                    -o-transform: scaleX(-1)
                                    -webkit-transform: scaleX(-1)
                                    transform: scaleX(-1)
                                    filter: FlipH
                                    -ms-filter: "FlipH"

                                .servers-icon
                                    -moz-text-align-last: left !important
                                    text-align-last: left  !important     
                                    text-align: left !important
                                    float: right !important

                                    .server_card
                                        p
                                            -moz-text-align-last: left !important
                                            text-align-last: left !important
                            .security_certificate 
                                .single-price 
                                    width: 116%
                                    .price 
                                        h2 
                                            span
                                                &.currency
                                                    &:before
                                                        left: 140px
                            
                            

@media only screen and (max-width: 1199px)
    .chat-icon 
        left: unset
        right: 0
    .host_service 
        .hostService-content 
            .nav-panel 
                .nav-line
                    & > .page-content   
                        div
                            &#page_default_1 
                                .server_feature 
                                    .server_img
                                        right: 70px
                            &#page_default_2
                                .about 
                                    .server_img 
                                        min-height: 450px  
                            &#page_default_3 
                                .server_plans 
                                    .single-price
                                        width: 116%
                                .server_feature 
                                    .server_img
                                        min-height: 390px
                            &#page_default_4 
                                .server_feature 
                                    .server_img
                                        background-size: contain !important
@media only screen and (max-width: 991px)
    .host_service
        .hostService-content
            .nav-panel
                .nav-line 
                    > .page-content
                        div#page_default_1 
                                .server_feature 
                                    .server_img
                                        right: 90px
                        div#page_default_2
                            .about 
                                margin-bottom: 0 !important
                            .server_feature 
                                .server_img
                                    left: auto
                                    right: 40px
                        div#page_default_3 
                            .server_feature 
                                .server_img 
                                    right: 0px!important
                        div#page_default_4 
                            .server_feature 
                                .server_img
                                    left: 50px !important
    

@media only screen and (max-width: 767px)
    .inside_slider 
        .slide-text 
            +transform(translate(0,200px))

@media only screen and (max-width: 575px)
   

@media only screen and (max-width: 480px)
    .inside_slider
            .slide-text
                +transform(translate(0, 160%))
    .footer
        .search-pos 
            .footer-search
                .input-group
                    &.add-on 
                        input#srch-term 
                            font-size: 10px   

@media only screen and (max-width: 320px)
    .inside_slider
        .slide-text
            +transform(translate(0,100%))