@import "../../../sass/variables"
@import "../../../sass/mixins"

.cloud_hosting
    .server_feature
        .server_img
            width: 30%
            background-image: url(../img/Vectorserver.png)
            margin: 60px -60px
        .servers-icon 
            margin: 150px 0 100px
            .server_card
                margin-bottom: 80px
                .web-icon
                    &.icon1
                        background: url(../img/web7.png) no-repeat right
                    &.icon2
                        background: url(../img/web12.png) no-repeat right
                    &.icon3
                        background: url(../img/web11.png) no-repeat right
                    &.icon4
                        background: url(../img/web14.png) no-repeat right
                &:hover ,&:active
                    h4
                        color: #25bb4d
                    .web-icon
                        &.icon1
                            background-position: left
                        &.icon2
                            background-position: left
                        &.icon3
                            background-position: left
                        &.icon4
                            background-position: left
                            
@media only screen and (max-width: 1199px)
    .cloud_hosting
        .server_feature
            .server_img
                margin: 88px -20px
                    
@media only screen and (max-width: 767px)
    .cloud_hosting
        .server_feature
            margin: 0 
            width: 100% 
            padding-bottom: 70px 
            .server_img
                display: none 
            .servers-icon 
                margin: 0
                width: 100% 
            p
                min-height: 30px
                .server_card
                    .web-icon
                        &.icon1
                            padding-bottom: 5%
                        &.icon2
                            padding-bottom: 7%
                        &.icon3
                            padding-bottom: 5%
                        &.icon4
                            padding-bottom: 5%
       