@import "../../../sass/variables"
@import "../../../sass/mixins"

.cloud_hosting
    .server_plans
        background: url(../img/plansbg.png) no-repeat
        background-size: cover
        padding-bottom: 10px
        .main-title
            background: none
            margin-top: 0
            .title-after
                h3
                    color: #fff
                    &:after 
                        border-bottom: 2px solid #fff
        .single-price
            width: 115%
            &:hover ,&:active
                .price
                    color: #fff
                    background-color: rgb(37, 187, 77)
                    h2
                        span
                            &.currency 
                                color: #fff

                    span
                        &.per 
                            color: #fff

                a
                    &.btn-price 
                        color: #fff
                        background-color: #25bb4d
                        border: 2px solid #25bb4d
                        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
                        text-decoration: none
                        
@media only screen and (max-width: 1199px)
    .cloud_hosting
        .server_feature
            .server_img
                margin: 88px -20px
 

@media only screen and (max-width: 991px)
    .cloud_hosting
        .server_plans
            .single-price
                width: 110%

                    
@media only screen and (max-width: 767px)
    .cloud_hosting
        .server_plans
            .single-price
                width: 100% 
