@import "../../../sass/variables"
@import "../../../sass/mixins"

.cloud_hosting
    .start
        background-color: #f4f6ff
        padding-bottom: 10px
        h3
            color: #1d222f
            font-weight: 600
            margin-top: 140px
        p
            color: #4e596b
            font-weight: 500
            padding: 0
        .start-content
            padding-bottom: 80px
            .img-start
                margin: 0 auto
                margin-top: 60px
            .step
                    color: #4e596b
                    background-color: #fff
                    border-radius: 50px
                    width: 30px
                    height: 30px
                    line-height: 30px
                    margin: 0 auto
                    margin-top: 20px
                    margin-bottom: 30px
                    box-shadow: 0px 1px 4px 0px rgba(1, 2, 2, 0.1)
                    position: relative 
                    display: flex
                    align-items: center
                    justify-content: center
                    &:after
                        content: ""
                        position: absolute
                        height: 5px
                        border-bottom: 1px dashed #4e596b
                        top: 10px
                        width: 320px
                        right: 50px
                    &.last-left
                        &:after
                            width: 0
            h4
                color: #1d222f
                font-weight: 600
                margin-bottom: 25px
            p
                font-weight: 400
                font-size: 12px
                color: #4e596b
                
                
@media only screen and (max-width: 1199px)
    .cloud_hosting
        .start
            .start-content
                .step
                    &:after
                        width: 250px
                    
@media only screen and (max-width: 991px)
    .cloud_hosting
        .start
            .start-content
                .step
                    &:after
                        width: 0


@media only screen and (max-width: 480px)
    .cloud_hosting 
        .start
            p
                margin: 0 
