@import "../../sass/variables"
@import "../../sass/mixins"

.payment_bank
    padding-bottom: 120px
    .main-title
        margin-right: 30px
        .title-group
            width: 74%
            h2
                padding-bottom: 15px
    .title-filtercoun
        font-weight: 700
        color: #1d222f
    .pt-60
        padding-top: 60px
    .mb-60
        margin-bottom: 60px
    .niceCountryInputMenuDropdown
        line-height: 3
        float: left
        left: 20px
        color: #bedde6
        span
            padding-left: 20px
    .niceCountryInputMenuDefaultText
        line-height: 3
        span
            color: #1d222f
            font-size: 12px
            font-weight: 600
    .niceCountryInputMenuFilter
        display: none !important
    .niceCountryInputMenuDropdownContent
        border: 1px solid rgba(120,123,130,.1)
        overflow-y: auto
        overflow-x: hidden
        padding-top: 5px
        box-shadow: 0px 3px 19px 0px rgba(93, 93, 94, 0.2)
        a 
            font-size: 12px !important
            font-weight: 500
            color: #bcbcbc !important
    .niceCountryInputMenu
        border-radius: 15px
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        height: 40px
        border: 1px solid hsla(224, 4%, 49%, 0.1)
    .payment_table
        thead
            th
                font-size: 14px
                font-weight: 600
        tbody 
            border: 1px solid #e0e7ee
            td
                font-size: 10px
                font-weight: 500
                color: #4e596b
                text-align: center
                height: 10em
                vertical-align: middle
                .bank_price
                    background-color: #25bb4d
                    border-color: #25bb4d
                    padding: 5px 30px
                &.bank_name
                    font-size: 12px
                    font-weight: 600
                    

